.flaticon-decorator-add202:after {
	content: "\e001";
}
.flaticon-decorator-alert9:after {
	content: "\e002";
}
.flaticon-decorator-alphabetical2:after {
	content: "\e005";
}
.flaticon-decorator-arrows130:after {
	content: "\e008";
}
.flaticon-decorator-caution9:after {
	content: "\e011";
}
.flaticon-decorator-check34:after {
	content: "\e012";
}
.flaticon-decorator-clip26:after {
	content: "\e014";
}
.flaticon-decorator-clock169:after {
	content: "\e016";
}
.flaticon-decorator-curve4:after {
	content: "\e020";
}
.flaticon-decorator-cut23:after {
	content: "\e021";
}
.flaticon-decorator-delete30:after {
	content: "\e024";
}
.flaticon-decorator-edit45:after {
	content: "\e02b";
}
.flaticon-decorator-garbage11:after {
	content: "\e035";
}
.flaticon-decorator-hammer2:after {
	content: "\e038";
}
.flaticon-decorator-hammer23:after {
	content: "\e039";
}
.flaticon-decorator-id17:after {
	content: "\e03f";
}
.flaticon-decorator-info28:after {
	content: "\e042";
}
.flaticon-decorator-key162:after {
	content: "\e044";
}
.flaticon-decorator-kitchen-tools1:after {
	content: "\e045";
}
.flaticon-decorator-label49:after {
	content: "\e046";
}
.flaticon-decorator-letterx5:after {
	content: "\e048";
}
.flaticon-decorator-link64:after {
	content: "\e049";
}
.flaticon-decorator-lock134:after {
	content: "\e04c";
}
.flaticon-decorator-look9:after {
	content: "\e04e";
}
.flaticon-decorator-magnifier12:after {
	content: "\e04f";
}
.flaticon-decorator-multiple25:after {
	content: "\e055";
}
.flaticon-decorator-music178:after {
	content: "\e056";
}
.flaticon-decorator-padlock108:after {
	content: "\e05c";
}
.flaticon-decorator-paint3:after {
	content: "\e05d";
}
.flaticon-decorator-play7:after {
	content: "\e064";
}
.flaticon-decorator-plus51:after {
	content: "\e065";
}
.flaticon-decorator-power110:after {
	content: "\e066";
}
.flaticon-decorator-question13:after {
	content: "\e06b";
}
.flaticon-decorator-rightarrow26:after {
	content: "\e06d";
}
.flaticon-decorator-rubbish7:after {
	content: "\e06e";
}
.flaticon-decorator-save29:after {
	content: "\e06f";
}
.flaticon-decorator-stop5:after {
	content: "\e078";
}
.flaticon-decorator-text1:after {
	content: "\e07b";
}
.flaticon-decorator-upload119:after {
	content: "\e086";
}
.flaticon-decorator-users81:after {
	content: "\e087";
}
