@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-decorator-"]:after, [class*=" flaticon-decorator-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-decorator-abecedary4:after {
	content: "\e000";
}
.flaticon-decorator-add202:after {
	content: "\e001";
}
.flaticon-decorator-add64:after {
	content: "\e002";
}
.flaticon-decorator-agenda3:after {
	content: "\e003";
}
.flaticon-decorator-alert9:after {
	content: "\e004";
}
.flaticon-decorator-alignment:after {
	content: "\e005";
}
.flaticon-decorator-alignment1:after {
	content: "\e006";
}
.flaticon-decorator-alphabetical2:after {
	content: "\e007";
}
.flaticon-decorator-applicattion:after {
	content: "\e008";
}
.flaticon-decorator-archive18:after {
	content: "\e009";
}
.flaticon-decorator-arrow483:after {
	content: "\e00a";
}
.flaticon-decorator-arrow73:after {
	content: "\e00b";
}
.flaticon-decorator-arrow88:after {
	content: "\e00c";
}
.flaticon-decorator-arrows130:after {
	content: "\e00d";
}
.flaticon-decorator-bell72:after {
	content: "\e00e";
}
.flaticon-decorator-bell84:after {
	content: "\e00f";
}
.flaticon-decorator-black302:after {
	content: "\e010";
}
.flaticon-decorator-black391:after {
	content: "\e011";
}
.flaticon-decorator-blank32:after {
	content: "\e012";
}
.flaticon-decorator-boc:after {
	content: "\e013";
}
.flaticon-decorator-bold14:after {
	content: "\e014";
}
.flaticon-decorator-box6:after {
	content: "\e015";
}
.flaticon-decorator-browser71:after {
	content: "\e016";
}
.flaticon-decorator-bugs3:after {
	content: "\e017";
}
.flaticon-decorator-business12:after {
	content: "\e018";
}
.flaticon-decorator-calendar146:after {
	content: "\e019";
}
.flaticon-decorator-camera3:after {
	content: "\e01a";
}
.flaticon-decorator-cancel32:after {
	content: "\e01b";
}
.flaticon-decorator-carnival23:after {
	content: "\e01c";
}
.flaticon-decorator-catalog2:after {
	content: "\e01d";
}
.flaticon-decorator-categories:after {
	content: "\e01e";
}
.flaticon-decorator-caution9:after {
	content: "\e01f";
}
.flaticon-decorator-character:after {
	content: "\e020";
}
.flaticon-decorator-check34:after {
	content: "\e021";
}
.flaticon-decorator-check51:after {
	content: "\e022";
}
.flaticon-decorator-checked34:after {
	content: "\e023";
}
.flaticon-decorator-checking3:after {
	content: "\e024";
}
.flaticon-decorator-chevron8:after {
	content: "\e025";
}
.flaticon-decorator-clip26:after {
	content: "\e026";
}
.flaticon-decorator-clipboard99:after {
	content: "\e027";
}
.flaticon-decorator-clock169:after {
	content: "\e028";
}
.flaticon-decorator-clock56:after {
	content: "\e029";
}
.flaticon-decorator-cogwheels12:after {
	content: "\e02a";
}
.flaticon-decorator-column3:after {
	content: "\e02b";
}
.flaticon-decorator-comments1:after {
	content: "\e02c";
}
.flaticon-decorator-computer181:after {
	content: "\e02d";
}
.flaticon-decorator-computer247:after {
	content: "\e02e";
}
.flaticon-decorator-computing10:after {
	content: "\e02f";
}
.flaticon-decorator-connection4:after {
	content: "\e030";
}
.flaticon-decorator-cpu6:after {
	content: "\e031";
}
.flaticon-decorator-css5:after {
	content: "\e032";
}
.flaticon-decorator-csv:after {
	content: "\e033";
}
.flaticon-decorator-curve4:after {
	content: "\e034";
}
.flaticon-decorator-cut23:after {
	content: "\e035";
}
.flaticon-decorator-dark4:after {
	content: "\e036";
}
.flaticon-decorator-data110:after {
	content: "\e037";
}
.flaticon-decorator-data112:after {
	content: "\e038";
}
.flaticon-decorator-delete30:after {
	content: "\e039";
}
.flaticon-decorator-design24:after {
	content: "\e03a";
}
.flaticon-decorator-design26:after {
	content: "\e03b";
}
.flaticon-decorator-development:after {
	content: "\e03c";
}
.flaticon-decorator-doc:after {
	content: "\e03d";
}
.flaticon-decorator-document112:after {
	content: "\e03e";
}
.flaticon-decorator-document28:after {
	content: "\e03f";
}
.flaticon-decorator-document9:after {
	content: "\e040";
}
.flaticon-decorator-documents12:after {
	content: "\e041";
}
.flaticon-decorator-docx:after {
	content: "\e042";
}
.flaticon-decorator-earth1:after {
	content: "\e043";
}
.flaticon-decorator-earth23:after {
	content: "\e044";
}
.flaticon-decorator-edit-table:after {
	content: "\e045";
}
.flaticon-decorator-edit-table1:after {
	content: "\e046";
}
.flaticon-decorator-edit45:after {
	content: "\e047";
}
.flaticon-decorator-edit5:after {
	content: "\e048";
}
.flaticon-decorator-electrocardiogram3:after {
	content: "\e049";
}
.flaticon-decorator-envelope14:after {
	content: "\e04a";
}
.flaticon-decorator-envelope64:after {
	content: "\e04b";
}
.flaticon-decorator-facebook29:after {
	content: "\e04c";
}
.flaticon-decorator-file229:after {
	content: "\e04d";
}
.flaticon-decorator-file289:after {
	content: "\e04e";
}
.flaticon-decorator-file98:after {
	content: "\e04f";
}
.flaticon-decorator-flag28:after {
	content: "\e050";
}
.flaticon-decorator-folder249:after {
	content: "\e051";
}
.flaticon-decorator-folder250:after {
	content: "\e052";
}
.flaticon-decorator-format6:after {
	content: "\e053";
}
.flaticon-decorator-gallery7:after {
	content: "\e054";
}
.flaticon-decorator-garbage11:after {
	content: "\e055";
}
.flaticon-decorator-gear39:after {
	content: "\e056";
}
.flaticon-decorator-greek32:after {
	content: "\e057";
}
.flaticon-decorator-hammer2:after {
	content: "\e058";
}
.flaticon-decorator-hammer23:after {
	content: "\e059";
}
.flaticon-decorator-hand256:after {
	content: "\e05a";
}
.flaticon-decorator-hierarchy2:after {
	content: "\e05b";
}
.flaticon-decorator-home153:after {
	content: "\e05c";
}
.flaticon-decorator-house3:after {
	content: "\e05d";
}
.flaticon-decorator-html25:after {
	content: "\e05e";
}
.flaticon-decorator-html8:after {
	content: "\e05f";
}
.flaticon-decorator-html9:after {
	content: "\e060";
}
.flaticon-decorator-id16:after {
	content: "\e061";
}
.flaticon-decorator-id17:after {
	content: "\e062";
}
.flaticon-decorator-identification63:after {
	content: "\e063";
}
.flaticon-decorator-image2:after {
	content: "\e064";
}
.flaticon-decorator-import1:after {
	content: "\e065";
}
.flaticon-decorator-index-finger:after {
	content: "\e066";
}
.flaticon-decorator-info28:after {
	content: "\e067";
}
.flaticon-decorator-internet58:after {
	content: "\e068";
}
.flaticon-decorator-italic8:after {
	content: "\e069";
}
.flaticon-decorator-jar8:after {
	content: "\e06a";
}
.flaticon-decorator-jpg2:after {
	content: "\e06b";
}
.flaticon-decorator-key162:after {
	content: "\e06c";
}
.flaticon-decorator-kitchen-tools1:after {
	content: "\e06d";
}
.flaticon-decorator-label49:after {
	content: "\e06e";
}
.flaticon-decorator-letterx5:after {
	content: "\e06f";
}
.flaticon-decorator-link23:after {
	content: "\e070";
}
.flaticon-decorator-link55:after {
	content: "\e071";
}
.flaticon-decorator-link64:after {
	content: "\e072";
}
.flaticon-decorator-link95:after {
	content: "\e073";
}
.flaticon-decorator-list24:after {
	content: "\e074";
}
.flaticon-decorator-list4:after {
	content: "\e075";
}
.flaticon-decorator-listing4:after {
	content: "\e076";
}
.flaticon-decorator-lists10:after {
	content: "\e077";
}
.flaticon-decorator-lock134:after {
	content: "\e078";
}
.flaticon-decorator-lock81:after {
	content: "\e079";
}
.flaticon-decorator-log1:after {
	content: "\e07a";
}
.flaticon-decorator-logotype115:after {
	content: "\e07b";
}
.flaticon-decorator-look9:after {
	content: "\e07c";
}
.flaticon-decorator-magnifier12:after {
	content: "\e07d";
}
.flaticon-decorator-magnifyingglass15:after {
	content: "\e07e";
}
.flaticon-decorator-map32:after {
	content: "\e07f";
}
.flaticon-decorator-map47:after {
	content: "\e080";
}
.flaticon-decorator-marker20:after {
	content: "\e081";
}
.flaticon-decorator-medical-equipment:after {
	content: "\e082";
}
.flaticon-decorator-megaphone19:after {
	content: "\e083";
}
.flaticon-decorator-movie16:after {
	content: "\e084";
}
.flaticon-decorator-mp34:after {
	content: "\e085";
}
.flaticon-decorator-multiple25:after {
	content: "\e086";
}
.flaticon-decorator-music168:after {
	content: "\e087";
}
.flaticon-decorator-music178:after {
	content: "\e088";
}
.flaticon-decorator-music236:after {
	content: "\e089";
}
.flaticon-decorator-navigate2:after {
	content: "\e08a";
}
.flaticon-decorator-navigate6:after {
	content: "\e08b";
}
.flaticon-decorator-news15:after {
	content: "\e08c";
}
.flaticon-decorator-newspaper1:after {
	content: "\e08d";
}
.flaticon-decorator-next25:after {
	content: "\e08e";
}
.flaticon-decorator-note20:after {
	content: "\e08f";
}
.flaticon-decorator-numbered5:after {
	content: "\e090";
}
.flaticon-decorator-numbered8:after {
	content: "\e091";
}
.flaticon-decorator-odp2:after {
	content: "\e092";
}
.flaticon-decorator-odt5:after {
	content: "\e093";
}
.flaticon-decorator-open203:after {
	content: "\e094";
}
.flaticon-decorator-opened29:after {
	content: "\e095";
}
.flaticon-decorator-padlock108:after {
	content: "\e096";
}
.flaticon-decorator-padlock79:after {
	content: "\e097";
}
.flaticon-decorator-paint3:after {
	content: "\e098";
}
.flaticon-decorator-paint88:after {
	content: "\e099";
}
.flaticon-decorator-painter14:after {
	content: "\e09a";
}
.flaticon-decorator-paper11:after {
	content: "\e09b";
}
.flaticon-decorator-password13:after {
	content: "\e09c";
}
.flaticon-decorator-pdf17:after {
	content: "\e09d";
}
.flaticon-decorator-pdf28:after {
	content: "\e09e";
}
.flaticon-decorator-picture62:after {
	content: "\e09f";
}
.flaticon-decorator-placeholder19:after {
	content: "\e0a0";
}
.flaticon-decorator-play109:after {
	content: "\e0a1";
}
.flaticon-decorator-play124:after {
	content: "\e0a2";
}
.flaticon-decorator-play7:after {
	content: "\e0a3";
}
.flaticon-decorator-plus51:after {
	content: "\e0a4";
}
.flaticon-decorator-png4:after {
	content: "\e0a5";
}
.flaticon-decorator-portable-document-format:after {
	content: "\e0a6";
}
.flaticon-decorator-power110:after {
	content: "\e0a7";
}
.flaticon-decorator-pps2:after {
	content: "\e0a8";
}
.flaticon-decorator-ppt:after {
	content: "\e0a9";
}
.flaticon-decorator-pptx:after {
	content: "\e0aa";
}
.flaticon-decorator-previous14:after {
	content: "\e0ab";
}
.flaticon-decorator-previous16:after {
	content: "\e0ac";
}
.flaticon-decorator-printer67:after {
	content: "\e0ad";
}
.flaticon-decorator-programming9:after {
	content: "\e0ae";
}
.flaticon-decorator-psd3:after {
	content: "\e0af";
}
.flaticon-decorator-puzzle-piece1:after {
	content: "\e0b0";
}
.flaticon-decorator-question13:after {
	content: "\e0b1";
}
.flaticon-decorator-question42:after {
	content: "\e0b2";
}
.flaticon-decorator-questionmark1:after {
	content: "\e0b3";
}
.flaticon-decorator-rar:after {
	content: "\e0b4";
}
.flaticon-decorator-reload8:after {
	content: "\e0b5";
}
.flaticon-decorator-remove11:after {
	content: "\e0b6";
}
.flaticon-decorator-return10:after {
	content: "\e0b7";
}
.flaticon-decorator-right-alignment:after {
	content: "\e0b8";
}
.flaticon-decorator-rightarrow26:after {
	content: "\e0b9";
}
.flaticon-decorator-rubbish7:after {
	content: "\e0ba";
}
.flaticon-decorator-save31:after {
	content: "\e0bb";
}
.flaticon-decorator-scissors6:after {
	content: "\e0bc";
}
.flaticon-decorator-search102:after {
	content: "\e0bd";
}
.flaticon-decorator-search99:after {
	content: "\e0be";
}
.flaticon-decorator-server:after {
	content: "\e0bf";
}
.flaticon-decorator-server19:after {
	content: "\e0c0";
}
.flaticon-decorator-share40:after {
	content: "\e0c1";
}
.flaticon-decorator-sitemap1:after {
	content: "\e0c2";
}
.flaticon-decorator-sort51:after {
	content: "\e0c3";
}
.flaticon-decorator-squares36:after {
	content: "\e0c4";
}
.flaticon-decorator-star129:after {
	content: "\e0c5";
}
.flaticon-decorator-stats144:after {
	content: "\e0c6";
}
.flaticon-decorator-stop5:after {
	content: "\e0c7";
}
.flaticon-decorator-subscript1:after {
	content: "\e0c8";
}
.flaticon-decorator-superscript2:after {
	content: "\e0c9";
}
.flaticon-decorator-tables:after {
	content: "\e0ca";
}
.flaticon-decorator-tables1:after {
	content: "\e0cb";
}
.flaticon-decorator-tag25:after {
	content: "\e0cc";
}
.flaticon-decorator-tar1:after {
	content: "\e0cd";
}
.flaticon-decorator-test20:after {
	content: "\e0ce";
}
.flaticon-decorator-text1:after {
	content: "\e0cf";
}
.flaticon-decorator-text152:after {
	content: "\e0d0";
}
.flaticon-decorator-text70:after {
	content: "\e0d1";
}
.flaticon-decorator-textfile10:after {
	content: "\e0d2";
}
.flaticon-decorator-textfile11:after {
	content: "\e0d3";
}
.flaticon-decorator-textformat30:after {
	content: "\e0d4";
}
.flaticon-decorator-three115:after {
	content: "\e0d5";
}
.flaticon-decorator-tie6:after {
	content: "\e0d6";
}
.flaticon-decorator-time33:after {
	content: "\e0d7";
}
.flaticon-decorator-time51:after {
	content: "\e0d8";
}
.flaticon-decorator-translation:after {
	content: "\e0d9";
}
.flaticon-decorator-transport10:after {
	content: "\e0da";
}
.flaticon-decorator-triangle1:after {
	content: "\e0db";
}
.flaticon-decorator-turn-right5:after {
	content: "\e0dc";
}
.flaticon-decorator-twitter-button:after {
	content: "\e0dd";
}
.flaticon-decorator-txt:after {
	content: "\e0de";
}
.flaticon-decorator-upload119:after {
	content: "\e0df";
}
.flaticon-decorator-users81:after {
	content: "\e0e0";
}
.flaticon-decorator-verified9:after {
	content: "\e0e1";
}
.flaticon-decorator-video34:after {
	content: "\e0e2";
}
.flaticon-decorator-web61:after {
	content: "\e0e3";
}
.flaticon-decorator-web62:after {
	content: "\e0e4";
}
.flaticon-decorator-website17:after {
	content: "\e0e5";
}
.flaticon-decorator-website2:after {
	content: "\e0e6";
}
.flaticon-decorator-website38:after {
	content: "\e0e7";
}
.flaticon-decorator-wiping16:after {
	content: "\e0e8";
}
.flaticon-decorator-word2:after {
	content: "\e0e9";
}
.flaticon-decorator-worker5:after {
	content: "\e0ea";
}
.flaticon-decorator-world91:after {
	content: "\e0eb";
}
.flaticon-decorator-write13:after {
	content: "\e0ec";
}
.flaticon-decorator-xls1:after {
	content: "\e0ed";
}
.flaticon-decorator-xlsx:after {
	content: "\e0ee";
}
.flaticon-decorator-xml6:after {
	content: "\e0ef";
}
.flaticon-decorator-youtube18:after {
	content: "\e0f0";
}
.flaticon-decorator-zip14:after {
	content: "\e0f1";
}
.flaticon-decorator-zip6:after {
	content: "\e0f2";
}
