@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-abecedary4:before {
	content: "\e000";
}
.flaticon-add202:before {
	content: "\e001";
}
.flaticon-add64:before {
	content: "\e002";
}
.flaticon-agenda3:before {
	content: "\e003";
}
.flaticon-alert9:before {
	content: "\e004";
}
.flaticon-alignment:before {
	content: "\e005";
}
.flaticon-alignment1:before {
	content: "\e006";
}
.flaticon-alphabetical2:before {
	content: "\e007";
}
.flaticon-archive18:before {
	content: "\e008";
}
.flaticon-arrow483:before {
	content: "\e009";
}
.flaticon-arrow73:before {
	content: "\e00a";
}
.flaticon-arrow88:before {
	content: "\e00b";
}
.flaticon-arrows130:before {
	content: "\e00c";
}
.flaticon-bell72:before {
	content: "\e00d";
}
.flaticon-bell84:before {
	content: "\e00e";
}
.flaticon-black302:before {
	content: "\e00f";
}
.flaticon-black391:before {
	content: "\e010";
}
.flaticon-blank32:before {
	content: "\e011";
}
.flaticon-boc:before {
	content: "\e012";
}
.flaticon-bold14:before {
	content: "\e013";
}
.flaticon-box6:before {
	content: "\e014";
}
.flaticon-browser71:before {
	content: "\e015";
}
.flaticon-bugs3:before {
	content: "\e016";
}
.flaticon-business12:before {
	content: "\e017";
}
.flaticon-calendar146:before {
	content: "\e018";
}
.flaticon-camera3:before {
	content: "\e019";
}
.flaticon-cancel32:before {
	content: "\e01a";
}
.flaticon-carnival23:before {
	content: "\e01b";
}
.flaticon-catalog2:before {
	content: "\e01c";
}
.flaticon-categories:before {
	content: "\e01d";
}
.flaticon-caution9:before {
	content: "\e01e";
}
.flaticon-character:before {
	content: "\e01f";
}
.flaticon-check34:before {
	content: "\e020";
}
.flaticon-check51:before {
	content: "\e021";
}
.flaticon-checked34:before {
	content: "\e022";
}
.flaticon-checking3:before {
	content: "\e023";
}
.flaticon-chevron8:before {
	content: "\e024";
}
.flaticon-clip26:before {
	content: "\e025";
}
.flaticon-clipboard99:before {
	content: "\e026";
}
.flaticon-clock169:before {
	content: "\e027";
}
.flaticon-cogwheels12:before {
	content: "\e028";
}
.flaticon-column3:before {
	content: "\e029";
}
.flaticon-comments1:before {
	content: "\e02a";
}
.flaticon-computer181:before {
	content: "\e02b";
}
.flaticon-computer247:before {
	content: "\e02c";
}
.flaticon-computing10:before {
	content: "\e02d";
}
.flaticon-connection4:before {
	content: "\e02e";
}
.flaticon-cpu6:before {
	content: "\e02f";
}
.flaticon-css5:before {
	content: "\e030";
}
.flaticon-csv:before {
	content: "\e031";
}
.flaticon-curve4:before {
	content: "\e032";
}
.flaticon-cut23:before {
	content: "\e033";
}
.flaticon-dark4:before {
	content: "\e034";
}
.flaticon-data110:before {
	content: "\e035";
}
.flaticon-data112:before {
	content: "\e036";
}
.flaticon-delete30:before {
	content: "\e037";
}
.flaticon-design24:before {
	content: "\e038";
}
.flaticon-design26:before {
	content: "\e039";
}
.flaticon-development:before {
	content: "\e03a";
}
.flaticon-doc:before {
	content: "\e03b";
}
.flaticon-document112:before {
	content: "\e03c";
}
.flaticon-document28:before {
	content: "\e03d";
}
.flaticon-document9:before {
	content: "\e03e";
}
.flaticon-documents12:before {
	content: "\e03f";
}
.flaticon-docx:before {
	content: "\e040";
}
.flaticon-earth1:before {
	content: "\e041";
}
.flaticon-earth23:before {
	content: "\e042";
}
.flaticon-edit-table:before {
	content: "\e043";
}
.flaticon-edit-table1:before {
	content: "\e044";
}
.flaticon-edit45:before {
	content: "\e045";
}
.flaticon-edit5:before {
	content: "\e046";
}
.flaticon-envelope14:before {
	content: "\e047";
}
.flaticon-envelope64:before {
	content: "\e048";
}
.flaticon-facebook29:before {
	content: "\e049";
}
.flaticon-file229:before {
	content: "\e04a";
}
.flaticon-file289:before {
	content: "\e04b";
}
.flaticon-file98:before {
	content: "\e04c";
}
.flaticon-flag28:before {
	content: "\e04d";
}
.flaticon-folder249:before {
	content: "\e04e";
}
.flaticon-format6:before {
	content: "\e04f";
}
.flaticon-gallery7:before {
	content: "\e050";
}
.flaticon-garbage11:before {
	content: "\e051";
}
.flaticon-gear39:before {
	content: "\e052";
}
.flaticon-greek32:before {
	content: "\e053";
}
.flaticon-hammer2:before {
	content: "\e054";
}
.flaticon-hammer23:before {
	content: "\e055";
}
.flaticon-hand256:before {
	content: "\e056";
}
.flaticon-hierarchy2:before {
	content: "\e057";
}
.flaticon-home153:before {
	content: "\e058";
}
.flaticon-house3:before {
	content: "\e059";
}
.flaticon-html8:before {
	content: "\e05a";
}
.flaticon-html9:before {
	content: "\e05b";
}
.flaticon-id17:before {
	content: "\e05c";
}
.flaticon-identification63:before {
	content: "\e05d";
}
.flaticon-image2:before {
	content: "\e05e";
}
.flaticon-import1:before {
	content: "\e05f";
}
.flaticon-index-finger:before {
	content: "\e060";
}
.flaticon-info28:before {
	content: "\e061";
}
.flaticon-internet58:before {
	content: "\e062";
}
.flaticon-italic8:before {
	content: "\e063";
}
.flaticon-jpg2:before {
	content: "\e064";
}
.flaticon-key162:before {
	content: "\e065";
}
.flaticon-kitchen-tools1:before {
	content: "\e066";
}
.flaticon-label49:before {
	content: "\e067";
}
.flaticon-letterx5:before {
	content: "\e068";
}
.flaticon-link23:before {
	content: "\e069";
}
.flaticon-link64:before {
	content: "\e06a";
}
.flaticon-link95:before {
	content: "\e06b";
}
.flaticon-list4:before {
	content: "\e06c";
}
.flaticon-listing4:before {
	content: "\e06d";
}
.flaticon-lists10:before {
	content: "\e06e";
}
.flaticon-lock134:before {
	content: "\e06f";
}
.flaticon-lock81:before {
	content: "\e070";
}
.flaticon-log1:before {
	content: "\e071";
}
.flaticon-logotype115:before {
	content: "\e072";
}
.flaticon-look9:before {
	content: "\e073";
}
.flaticon-magnifier12:before {
	content: "\e074";
}
.flaticon-magnifyingglass15:before {
	content: "\e075";
}
.flaticon-map32:before {
	content: "\e076";
}
.flaticon-map47:before {
	content: "\e077";
}
.flaticon-marker20:before {
	content: "\e078";
}
.flaticon-medical-equipment:before {
	content: "\e079";
}
.flaticon-megaphone19:before {
	content: "\e07a";
}
.flaticon-mp34:before {
	content: "\e07b";
}
.flaticon-multiple25:before {
	content: "\e07c";
}
.flaticon-music178:before {
	content: "\e07d";
}
.flaticon-music236:before {
	content: "\e07e";
}
.flaticon-navigate2:before {
	content: "\e07f";
}
.flaticon-navigate6:before {
	content: "\e080";
}
.flaticon-news15:before {
	content: "\e081";
}
.flaticon-next25:before {
	content: "\e082";
}
.flaticon-note20:before {
	content: "\e083";
}
.flaticon-numbered5:before {
	content: "\e084";
}
.flaticon-numbered8:before {
	content: "\e085";
}
.flaticon-open203:before {
	content: "\e086";
}
.flaticon-opened29:before {
	content: "\e087";
}
.flaticon-padlock108:before {
	content: "\e088";
}
.flaticon-padlock79:before {
	content: "\e089";
}
.flaticon-paint3:before {
	content: "\e08a";
}
.flaticon-paint88:before {
	content: "\e08b";
}
.flaticon-painter14:before {
	content: "\e08c";
}
.flaticon-paper11:before {
	content: "\e08d";
}
.flaticon-password13:before {
	content: "\e08e";
}
.flaticon-pdf17:before {
	content: "\e08f";
}
.flaticon-pdf28:before {
	content: "\e090";
}
.flaticon-picture62:before {
	content: "\e091";
}
.flaticon-placeholder19:before {
	content: "\e092";
}
.flaticon-play109:before {
	content: "\e093";
}
.flaticon-play124:before {
	content: "\e094";
}
.flaticon-play7:before {
	content: "\e095";
}
.flaticon-plus51:before {
	content: "\e096";
}
.flaticon-png4:before {
	content: "\e097";
}
.flaticon-power110:before {
	content: "\e098";
}
.flaticon-ppt:before {
	content: "\e099";
}
.flaticon-pptx:before {
	content: "\e09a";
}
.flaticon-previous14:before {
	content: "\e09b";
}
.flaticon-previous16:before {
	content: "\e09c";
}
.flaticon-printer67:before {
	content: "\e09d";
}
.flaticon-programming9:before {
	content: "\e09e";
}
.flaticon-puzzle-piece1:before {
	content: "\e09f";
}
.flaticon-question13:before {
	content: "\e0a0";
}
.flaticon-question42:before {
	content: "\e0a1";
}
.flaticon-reload8:before {
	content: "\e0a2";
}
.flaticon-remove11:before {
	content: "\e0a3";
}
.flaticon-return10:before {
	content: "\e0a4";
}
.flaticon-right-alignment:before {
	content: "\e0a5";
}
.flaticon-rightarrow26:before {
	content: "\e0a6";
}
.flaticon-rubbish7:before {
	content: "\e0a7";
}
.flaticon-save31:before {
	content: "\e0a8";
}
.flaticon-search99:before {
	content: "\e0a9";
}
.flaticon-server:before {
	content: "\e0aa";
}
.flaticon-server19:before {
	content: "\e0ab";
}
.flaticon-share40:before {
	content: "\e0ac";
}
.flaticon-sitemap1:before {
	content: "\e0ad";
}
.flaticon-sort51:before {
	content: "\e0ae";
}
.flaticon-squares36:before {
	content: "\e0af";
}
.flaticon-star129:before {
	content: "\e0b0";
}
.flaticon-stats144:before {
	content: "\e0b1";
}
.flaticon-stop5:before {
	content: "\e0b2";
}
.flaticon-subscript1:before {
	content: "\e0b3";
}
.flaticon-superscript2:before {
	content: "\e0b4";
}
.flaticon-tables:before {
	content: "\e0b5";
}
.flaticon-tables1:before {
	content: "\e0b6";
}
.flaticon-tag25:before {
	content: "\e0b7";
}
.flaticon-test20:before {
	content: "\e0b8";
}
.flaticon-text1:before {
	content: "\e0b9";
}
.flaticon-text152:before {
	content: "\e0ba";
}
.flaticon-text70:before {
	content: "\e0bb";
}
.flaticon-textfile10:before {
	content: "\e0bc";
}
.flaticon-textfile11:before {
	content: "\e0bd";
}
.flaticon-textformat30:before {
	content: "\e0be";
}
.flaticon-three115:before {
	content: "\e0bf";
}
.flaticon-tie6:before {
	content: "\e0c0";
}
.flaticon-time33:before {
	content: "\e0c1";
}
.flaticon-time51:before {
	content: "\e0c2";
}
.flaticon-translation:before {
	content: "\e0c3";
}
.flaticon-triangle1:before {
	content: "\e0c4";
}
.flaticon-turn-right5:before {
	content: "\e0c5";
}
.flaticon-twitter-button:before {
	content: "\e0c6";
}
.flaticon-txt:before {
	content: "\e0c7";
}
.flaticon-upload119:before {
	content: "\e0c8";
}
.flaticon-users81:before {
	content: "\e0c9";
}
.flaticon-verified9:before {
	content: "\e0ca";
}
.flaticon-video34:before {
	content: "\e0cb";
}
.flaticon-web61:before {
	content: "\e0cc";
}
.flaticon-web62:before {
	content: "\e0cd";
}
.flaticon-website17:before {
	content: "\e0ce";
}
.flaticon-website2:before {
	content: "\e0cf";
}
.flaticon-website38:before {
	content: "\e0d0";
}
.flaticon-wiping16:before {
	content: "\e0d1";
}
.flaticon-word2:before {
	content: "\e0d2";
}
.flaticon-worker5:before {
	content: "\e0d3";
}
.flaticon-world91:before {
	content: "\e0d4";
}
.flaticon-write13:before {
	content: "\e0d5";
}
.flaticon-xls1:before {
	content: "\e0d6";
}
.flaticon-xml6:before {
	content: "\e0d7";
}
.flaticon-youtube18:before {
	content: "\e0d8";
}
.flaticon-zip14:before {
	content: "\e0d9";
}
.flaticon-zip6:before {
	content: "\e0da";
}
