/.*
/bin
/doc
/junit*.properties
/target
/template
templates/application/WEB-INF/classes
templates/application/WEB-INF/config
templates/application/WEB-INF/data
templates/application/WEB-INF/lib
templates/application/WEB-INF/param/external-locations.xml
templates/application/WEB-INF/param/external.xml
templates/application/kernel
templates/application/plugins
templates/application/workspaces
test/environments/webapp1/WEB-INF/data
test/environments/webapp2/WEB-INF/data
test/environments/webapp2/kernel
test/environments/webapp2/plugins/core
test/environments/webapp2/workspaces/admin
test/environments/webapp3/WEB-INF/data
test/environments/webapp3/kernel
test/environments/webapp3/plugins
themes/build-all-themes.xml
themes/build-theme-*.xml
themes/launch-theme-*.xml
themes/work
/tmp
