/.*
/bin
/doc
/junit4514.properties
/junit47495.properties
/junitvmwatcher4513.properties
/junitvmwatcher47494.properties
/target
/template
templates/application/WEB-INF/config
templates/application/WEB-INF/data
templates/application/WEB-INF/lib
templates/application/kernel
templates/application/plugins
templates/application/workspaces
test/environments/webapp1/WEB-INF/data
test/environments/webapp2/WEB-INF/data
test/environments/webapp3/WEB-INF/data
/tmp
