    /*
    Flaticon icon font: Flaticon
    Creation date: 14/06/2016 17:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-abecedary4:before { content: "\f100"; }
.flaticon-add64:before { content: "\f101"; }
.flaticon-agenda3:before { content: "\f102"; }
.flaticon-alert9:before { content: "\f103"; }
.flaticon-alphabetical2:before { content: "\f104"; }
.flaticon-applicattion:before { content: "\f105"; }
.flaticon-archive18:before { content: "\f106"; }
.flaticon-arrow123:before { content: "\f107"; }
.flaticon-arrow483:before { content: "\f108"; }
.flaticon-arrow73:before { content: "\f109"; }
.flaticon-arrow88:before { content: "\f10a"; }
.flaticon-arrows130:before { content: "\f10b"; }
.flaticon-bell72:before { content: "\f10c"; }
.flaticon-bell84:before { content: "\f10d"; }
.flaticon-black302:before { content: "\f10e"; }
.flaticon-black391:before { content: "\f10f"; }
.flaticon-blank32:before { content: "\f110"; }
.flaticon-book255:before { content: "\f111"; }
.flaticon-box6:before { content: "\f112"; }
.flaticon-bugs3:before { content: "\f113"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f114"; }
.flaticon-calendar146:before { content: "\f115"; }
.flaticon-camera3:before { content: "\f116"; }
.flaticon-cancel32:before { content: "\f117"; }
.flaticon-carnival23:before { content: "\f118"; }
.flaticon-catalog2:before { content: "\f119"; }
.flaticon-categories:before { content: "\f11a"; }
.flaticon-caution9:before { content: "\f11b"; }
.flaticon-check34:before { content: "\f11c"; }
.flaticon-check51:before { content: "\f11d"; }
.flaticon-checked34:before { content: "\f11e"; }
.flaticon-checking3:before { content: "\f11f"; }
.flaticon-chevron8:before { content: "\f120"; }
.flaticon-clip26:before { content: "\f121"; }
.flaticon-clock169:before { content: "\f122"; }
.flaticon-clock56:before { content: "\f123"; }
.flaticon-cogwheels12:before { content: "\f124"; }
.flaticon-column3:before { content: "\f125"; }
.flaticon-comments1:before { content: "\f126"; }
.flaticon-computer196:before { content: "\f127"; }
.flaticon-computing10:before { content: "\f128"; }
.flaticon-connection4:before { content: "\f129"; }
.flaticon-cpu6:before { content: "\f12a"; }
.flaticon-css5:before { content: "\f12b"; }
.flaticon-csv:before { content: "\f12c"; }
.flaticon-dark4:before { content: "\f12d"; }
.flaticon-data110:before { content: "\f12e"; }
.flaticon-data112:before { content: "\f12f"; }
.flaticon-delete30:before { content: "\f130"; }
.flaticon-development:before { content: "\f131"; }
.flaticon-doc:before { content: "\f132"; }
.flaticon-document112:before { content: "\f133"; }
.flaticon-document209:before { content: "\f134"; }
.flaticon-document28:before { content: "\f135"; }
.flaticon-document290:before { content: "\f136"; }
.flaticon-document77:before { content: "\f137"; }
.flaticon-document9:before { content: "\f138"; }
.flaticon-documents12:before { content: "\f139"; }
.flaticon-docx:before { content: "\f13a"; }
.flaticon-earth1:before { content: "\f13b"; }
.flaticon-earth23:before { content: "\f13c"; }
.flaticon-edit45:before { content: "\f13d"; }
.flaticon-edit5:before { content: "\f13e"; }
.flaticon-envelope14:before { content: "\f13f"; }
.flaticon-envelope64:before { content: "\f140"; }
.flaticon-eraser11:before { content: "\f141"; }
.flaticon-expand16:before { content: "\f142"; }
.flaticon-external-link:before { content: "\f143"; }
.flaticon-eye-blocked:before { content: "\f144"; }
.flaticon-facebook-logo:before { content: "\f145"; }
.flaticon-facebook29:before { content: "\f146"; }
.flaticon-file229:before { content: "\f147"; }
.flaticon-file289:before { content: "\f148"; }
.flaticon-file94:before { content: "\f149"; }
.flaticon-file98:before { content: "\f14a"; }
.flaticon-flag28:before { content: "\f14b"; }
.flaticon-folder249:before { content: "\f14c"; }
.flaticon-folder250:before { content: "\f14d"; }
.flaticon-forbidden1:before { content: "\f14e"; }
.flaticon-gallery7:before { content: "\f14f"; }
.flaticon-garbage11:before { content: "\f150"; }
.flaticon-gear39:before { content: "\f151"; }
.flaticon-google-glass-logo:before { content: "\f152"; }
.flaticon-google-plus:before { content: "\f153"; }
.flaticon-hammer2:before { content: "\f154"; }
.flaticon-hammer23:before { content: "\f155"; }
.flaticon-hand:before { content: "\f156"; }
.flaticon-house3:before { content: "\f157"; }
.flaticon-html8:before { content: "\f158"; }
.flaticon-html9:before { content: "\f159"; }
.flaticon-id16:before { content: "\f15a"; }
.flaticon-id17:before { content: "\f15b"; }
.flaticon-identification63:before { content: "\f15c"; }
.flaticon-import1:before { content: "\f15d"; }
.flaticon-index-finger:before { content: "\f15e"; }
.flaticon-info28:before { content: "\f15f"; }
.flaticon-interface:before { content: "\f160"; }
.flaticon-interface-1:before { content: "\f161"; }
.flaticon-internet58:before { content: "\f162"; }
.flaticon-jar3:before { content: "\f163"; }
.flaticon-jpg2:before { content: "\f164"; }
.flaticon-key162:before { content: "\f165"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f166"; }
.flaticon-keyword3:before { content: "\f167"; }
.flaticon-kitchen-tools1:before { content: "\f168"; }
.flaticon-label49:before { content: "\f169"; }
.flaticon-layout29:before { content: "\f16a"; }
.flaticon-letter-x5:before { content: "\f16b"; }
.flaticon-link23:before { content: "\f16c"; }
.flaticon-link55:before { content: "\f16d"; }
.flaticon-link95:before { content: "\f16e"; }
.flaticon-list24:before { content: "\f16f"; }
.flaticon-list6:before { content: "\f170"; }
.flaticon-lock81:before { content: "\f171"; }
.flaticon-log1:before { content: "\f172"; }
.flaticon-magnifier12:before { content: "\f173"; }
.flaticon-magnifier41:before { content: "\f174"; }
.flaticon-magnifying-glass15:before { content: "\f175"; }
.flaticon-map32:before { content: "\f176"; }
.flaticon-map47:before { content: "\f177"; }
.flaticon-marker20:before { content: "\f178"; }
.flaticon-medical:before { content: "\f179"; }
.flaticon-medical-equipment:before { content: "\f17a"; }
.flaticon-megaphone19:before { content: "\f17b"; }
.flaticon-minus-sign4:before { content: "\f17c"; }
.flaticon-mp3:before { content: "\f17d"; }
.flaticon-multiple25:before { content: "\f17e"; }
.flaticon-music168:before { content: "\f17f"; }
.flaticon-music178:before { content: "\f180"; }
.flaticon-music236:before { content: "\f181"; }
.flaticon-navigate2:before { content: "\f182"; }
.flaticon-navigate6:before { content: "\f183"; }
.flaticon-news15:before { content: "\f184"; }
.flaticon-newspaper1:before { content: "\f185"; }
.flaticon-next25:before { content: "\f186"; }
.flaticon-note20:before { content: "\f187"; }
.flaticon-odp2:before { content: "\f188"; }
.flaticon-odt5:before { content: "\f189"; }
.flaticon-opened29:before { content: "\f18a"; }
.flaticon-organization1:before { content: "\f18b"; }
.flaticon-padlock79:before { content: "\f18c"; }
.flaticon-paint88:before { content: "\f18d"; }
.flaticon-painter14:before { content: "\f18e"; }
.flaticon-paper11:before { content: "\f18f"; }
.flaticon-password13:before { content: "\f190"; }
.flaticon-pause:before { content: "\f191"; }
.flaticon-pdf17:before { content: "\f192"; }
.flaticon-pdf28:before { content: "\f193"; }
.flaticon-people:before { content: "\f194"; }
.flaticon-picture62:before { content: "\f195"; }
.flaticon-placeholder19:before { content: "\f196"; }
.flaticon-play124:before { content: "\f197"; }
.flaticon-play7:before { content: "\f198"; }
.flaticon-plus51:before { content: "\f199"; }
.flaticon-png4:before { content: "\f19a"; }
.flaticon-portable-document-format:before { content: "\f19b"; }
.flaticon-power110:before { content: "\f19c"; }
.flaticon-pps2:before { content: "\f19d"; }
.flaticon-ppt:before { content: "\f19e"; }
.flaticon-pptx:before { content: "\f19f"; }
.flaticon-previous14:before { content: "\f1a0"; }
.flaticon-previous16:before { content: "\f1a1"; }
.flaticon-printer67:before { content: "\f1a2"; }
.flaticon-psd3:before { content: "\f1a3"; }
.flaticon-puzzle-piece1:before { content: "\f1a4"; }
.flaticon-puzzle33:before { content: "\f1a5"; }
.flaticon-question-mark1:before { content: "\f1a6"; }
.flaticon-question13:before { content: "\f1a7"; }
.flaticon-rar:before { content: "\f1a8"; }
.flaticon-reload8:before { content: "\f1a9"; }
.flaticon-remove11:before { content: "\f1aa"; }
.flaticon-return10:before { content: "\f1ab"; }
.flaticon-rubbish7:before { content: "\f1ac"; }
.flaticon-save31:before { content: "\f1ad"; }
.flaticon-school:before { content: "\f1ae"; }
.flaticon-search102:before { content: "\f1af"; }
.flaticon-search16:before { content: "\f1b0"; }
.flaticon-search99:before { content: "\f1b1"; }
.flaticon-server:before { content: "\f1b2"; }
.flaticon-server19:before { content: "\f1b3"; }
.flaticon-share40:before { content: "\f1b4"; }
.flaticon-sitemap1:before { content: "\f1b5"; }
.flaticon-sitemap1-1:before { content: "\f1b6"; }
.flaticon-sort48:before { content: "\f1b7"; }
.flaticon-sort51:before { content: "\f1b8"; }
.flaticon-squares36:before { content: "\f1b9"; }
.flaticon-star129:before { content: "\f1ba"; }
.flaticon-stats144:before { content: "\f1bb"; }
.flaticon-stop5:before { content: "\f1bc"; }
.flaticon-tables:before { content: "\f1bd"; }
.flaticon-tag-search-filter:before { content: "\f1be"; }
.flaticon-tag25:before { content: "\f1bf"; }
.flaticon-tar1:before { content: "\f1c0"; }
.flaticon-tasks1:before { content: "\f1c1"; }
.flaticon-test20:before { content: "\f1c2"; }
.flaticon-text-file10:before { content: "\f1c3"; }
.flaticon-text1:before { content: "\f1c4"; }
.flaticon-text61:before { content: "\f1c5"; }
.flaticon-text70:before { content: "\f1c6"; }
.flaticon-three103:before { content: "\f1c7"; }
.flaticon-three115:before { content: "\f1c8"; }
.flaticon-tie6:before { content: "\f1c9"; }
.flaticon-time33:before { content: "\f1ca"; }
.flaticon-time51:before { content: "\f1cb"; }
.flaticon-tool:before { content: "\f1cc"; }
.flaticon-translation:before { content: "\f1cd"; }
.flaticon-transport10:before { content: "\f1ce"; }
.flaticon-triangle1:before { content: "\f1cf"; }
.flaticon-turn-right5:before { content: "\f1d0"; }
.flaticon-twitter-logo:before { content: "\f1d1"; }
.flaticon-txt:before { content: "\f1d2"; }
.flaticon-upload119:before { content: "\f1d3"; }
.flaticon-user81:before { content: "\f1d4"; }
.flaticon-verified9:before { content: "\f1d5"; }
.flaticon-visibility1:before { content: "\f1d6"; }
.flaticon-web62:before { content: "\f1d7"; }
.flaticon-website17:before { content: "\f1d8"; }
.flaticon-website2:before { content: "\f1d9"; }
.flaticon-website38:before { content: "\f1da"; }
.flaticon-wiping16:before { content: "\f1db"; }
.flaticon-worker5:before { content: "\f1dc"; }
.flaticon-world91:before { content: "\f1dd"; }
.flaticon-write13:before { content: "\f1de"; }
.flaticon-xls1:before { content: "\f1df"; }
.flaticon-xlsx:before { content: "\f1e0"; }
.flaticon-xml6:before { content: "\f1e1"; }
.flaticon-youtube18:before { content: "\f1e2"; }
.flaticon-zip14:before { content: "\f1e3"; }
.flaticon-zip6:before { content: "\f1e4"; }
    
    $font-Flaticon-abecedary4: "\f100";
    $font-Flaticon-add64: "\f101";
    $font-Flaticon-agenda3: "\f102";
    $font-Flaticon-alert9: "\f103";
    $font-Flaticon-alphabetical2: "\f104";
    $font-Flaticon-applicattion: "\f105";
    $font-Flaticon-archive18: "\f106";
    $font-Flaticon-arrow123: "\f107";
    $font-Flaticon-arrow483: "\f108";
    $font-Flaticon-arrow73: "\f109";
    $font-Flaticon-arrow88: "\f10a";
    $font-Flaticon-arrows130: "\f10b";
    $font-Flaticon-bell72: "\f10c";
    $font-Flaticon-bell84: "\f10d";
    $font-Flaticon-black302: "\f10e";
    $font-Flaticon-black391: "\f10f";
    $font-Flaticon-blank32: "\f110";
    $font-Flaticon-book255: "\f111";
    $font-Flaticon-box6: "\f112";
    $font-Flaticon-bugs3: "\f113";
    $font-Flaticon-calendar-with-a-clock-time-tools: "\f114";
    $font-Flaticon-calendar146: "\f115";
    $font-Flaticon-camera3: "\f116";
    $font-Flaticon-cancel32: "\f117";
    $font-Flaticon-carnival23: "\f118";
    $font-Flaticon-catalog2: "\f119";
    $font-Flaticon-categories: "\f11a";
    $font-Flaticon-caution9: "\f11b";
    $font-Flaticon-check34: "\f11c";
    $font-Flaticon-check51: "\f11d";
    $font-Flaticon-checked34: "\f11e";
    $font-Flaticon-checking3: "\f11f";
    $font-Flaticon-chevron8: "\f120";
    $font-Flaticon-clip26: "\f121";
    $font-Flaticon-clock169: "\f122";
    $font-Flaticon-clock56: "\f123";
    $font-Flaticon-cogwheels12: "\f124";
    $font-Flaticon-column3: "\f125";
    $font-Flaticon-comments1: "\f126";
    $font-Flaticon-computer196: "\f127";
    $font-Flaticon-computing10: "\f128";
    $font-Flaticon-connection4: "\f129";
    $font-Flaticon-cpu6: "\f12a";
    $font-Flaticon-css5: "\f12b";
    $font-Flaticon-csv: "\f12c";
    $font-Flaticon-dark4: "\f12d";
    $font-Flaticon-data110: "\f12e";
    $font-Flaticon-data112: "\f12f";
    $font-Flaticon-delete30: "\f130";
    $font-Flaticon-development: "\f131";
    $font-Flaticon-doc: "\f132";
    $font-Flaticon-document112: "\f133";
    $font-Flaticon-document209: "\f134";
    $font-Flaticon-document28: "\f135";
    $font-Flaticon-document290: "\f136";
    $font-Flaticon-document77: "\f137";
    $font-Flaticon-document9: "\f138";
    $font-Flaticon-documents12: "\f139";
    $font-Flaticon-docx: "\f13a";
    $font-Flaticon-earth1: "\f13b";
    $font-Flaticon-earth23: "\f13c";
    $font-Flaticon-edit45: "\f13d";
    $font-Flaticon-edit5: "\f13e";
    $font-Flaticon-envelope14: "\f13f";
    $font-Flaticon-envelope64: "\f140";
    $font-Flaticon-eraser11: "\f141";
    $font-Flaticon-expand16: "\f142";
    $font-Flaticon-external-link: "\f143";
    $font-Flaticon-eye-blocked: "\f144";
    $font-Flaticon-facebook-logo: "\f145";
    $font-Flaticon-facebook29: "\f146";
    $font-Flaticon-file229: "\f147";
    $font-Flaticon-file289: "\f148";
    $font-Flaticon-file94: "\f149";
    $font-Flaticon-file98: "\f14a";
    $font-Flaticon-flag28: "\f14b";
    $font-Flaticon-folder249: "\f14c";
    $font-Flaticon-folder250: "\f14d";
    $font-Flaticon-forbidden1: "\f14e";
    $font-Flaticon-gallery7: "\f14f";
    $font-Flaticon-garbage11: "\f150";
    $font-Flaticon-gear39: "\f151";
    $font-Flaticon-google-glass-logo: "\f152";
    $font-Flaticon-google-plus: "\f153";
    $font-Flaticon-hammer2: "\f154";
    $font-Flaticon-hammer23: "\f155";
    $font-Flaticon-hand: "\f156";
    $font-Flaticon-house3: "\f157";
    $font-Flaticon-html8: "\f158";
    $font-Flaticon-html9: "\f159";
    $font-Flaticon-id16: "\f15a";
    $font-Flaticon-id17: "\f15b";
    $font-Flaticon-identification63: "\f15c";
    $font-Flaticon-import1: "\f15d";
    $font-Flaticon-index-finger: "\f15e";
    $font-Flaticon-info28: "\f15f";
    $font-Flaticon-interface: "\f160";
    $font-Flaticon-interface-1: "\f161";
    $font-Flaticon-internet58: "\f162";
    $font-Flaticon-jar3: "\f163";
    $font-Flaticon-jpg2: "\f164";
    $font-Flaticon-key162: "\f165";
    $font-Flaticon-keyboard-right-arrow-button: "\f166";
    $font-Flaticon-keyword3: "\f167";
    $font-Flaticon-kitchen-tools1: "\f168";
    $font-Flaticon-label49: "\f169";
    $font-Flaticon-layout29: "\f16a";
    $font-Flaticon-letter-x5: "\f16b";
    $font-Flaticon-link23: "\f16c";
    $font-Flaticon-link55: "\f16d";
    $font-Flaticon-link95: "\f16e";
    $font-Flaticon-list24: "\f16f";
    $font-Flaticon-list6: "\f170";
    $font-Flaticon-lock81: "\f171";
    $font-Flaticon-log1: "\f172";
    $font-Flaticon-magnifier12: "\f173";
    $font-Flaticon-magnifier41: "\f174";
    $font-Flaticon-magnifying-glass15: "\f175";
    $font-Flaticon-map32: "\f176";
    $font-Flaticon-map47: "\f177";
    $font-Flaticon-marker20: "\f178";
    $font-Flaticon-medical: "\f179";
    $font-Flaticon-medical-equipment: "\f17a";
    $font-Flaticon-megaphone19: "\f17b";
    $font-Flaticon-minus-sign4: "\f17c";
    $font-Flaticon-mp3: "\f17d";
    $font-Flaticon-multiple25: "\f17e";
    $font-Flaticon-music168: "\f17f";
    $font-Flaticon-music178: "\f180";
    $font-Flaticon-music236: "\f181";
    $font-Flaticon-navigate2: "\f182";
    $font-Flaticon-navigate6: "\f183";
    $font-Flaticon-news15: "\f184";
    $font-Flaticon-newspaper1: "\f185";
    $font-Flaticon-next25: "\f186";
    $font-Flaticon-note20: "\f187";
    $font-Flaticon-odp2: "\f188";
    $font-Flaticon-odt5: "\f189";
    $font-Flaticon-opened29: "\f18a";
    $font-Flaticon-organization1: "\f18b";
    $font-Flaticon-padlock79: "\f18c";
    $font-Flaticon-paint88: "\f18d";
    $font-Flaticon-painter14: "\f18e";
    $font-Flaticon-paper11: "\f18f";
    $font-Flaticon-password13: "\f190";
    $font-Flaticon-pause: "\f191";
    $font-Flaticon-pdf17: "\f192";
    $font-Flaticon-pdf28: "\f193";
    $font-Flaticon-people: "\f194";
    $font-Flaticon-picture62: "\f195";
    $font-Flaticon-placeholder19: "\f196";
    $font-Flaticon-play124: "\f197";
    $font-Flaticon-play7: "\f198";
    $font-Flaticon-plus51: "\f199";
    $font-Flaticon-png4: "\f19a";
    $font-Flaticon-portable-document-format: "\f19b";
    $font-Flaticon-power110: "\f19c";
    $font-Flaticon-pps2: "\f19d";
    $font-Flaticon-ppt: "\f19e";
    $font-Flaticon-pptx: "\f19f";
    $font-Flaticon-previous14: "\f1a0";
    $font-Flaticon-previous16: "\f1a1";
    $font-Flaticon-printer67: "\f1a2";
    $font-Flaticon-psd3: "\f1a3";
    $font-Flaticon-puzzle-piece1: "\f1a4";
    $font-Flaticon-puzzle33: "\f1a5";
    $font-Flaticon-question-mark1: "\f1a6";
    $font-Flaticon-question13: "\f1a7";
    $font-Flaticon-rar: "\f1a8";
    $font-Flaticon-reload8: "\f1a9";
    $font-Flaticon-remove11: "\f1aa";
    $font-Flaticon-return10: "\f1ab";
    $font-Flaticon-rubbish7: "\f1ac";
    $font-Flaticon-save31: "\f1ad";
    $font-Flaticon-school: "\f1ae";
    $font-Flaticon-search102: "\f1af";
    $font-Flaticon-search16: "\f1b0";
    $font-Flaticon-search99: "\f1b1";
    $font-Flaticon-server: "\f1b2";
    $font-Flaticon-server19: "\f1b3";
    $font-Flaticon-share40: "\f1b4";
    $font-Flaticon-sitemap1: "\f1b5";
    $font-Flaticon-sitemap1-1: "\f1b6";
    $font-Flaticon-sort48: "\f1b7";
    $font-Flaticon-sort51: "\f1b8";
    $font-Flaticon-squares36: "\f1b9";
    $font-Flaticon-star129: "\f1ba";
    $font-Flaticon-stats144: "\f1bb";
    $font-Flaticon-stop5: "\f1bc";
    $font-Flaticon-tables: "\f1bd";
    $font-Flaticon-tag-search-filter: "\f1be";
    $font-Flaticon-tag25: "\f1bf";
    $font-Flaticon-tar1: "\f1c0";
    $font-Flaticon-tasks1: "\f1c1";
    $font-Flaticon-test20: "\f1c2";
    $font-Flaticon-text-file10: "\f1c3";
    $font-Flaticon-text1: "\f1c4";
    $font-Flaticon-text61: "\f1c5";
    $font-Flaticon-text70: "\f1c6";
    $font-Flaticon-three103: "\f1c7";
    $font-Flaticon-three115: "\f1c8";
    $font-Flaticon-tie6: "\f1c9";
    $font-Flaticon-time33: "\f1ca";
    $font-Flaticon-time51: "\f1cb";
    $font-Flaticon-tool: "\f1cc";
    $font-Flaticon-translation: "\f1cd";
    $font-Flaticon-transport10: "\f1ce";
    $font-Flaticon-triangle1: "\f1cf";
    $font-Flaticon-turn-right5: "\f1d0";
    $font-Flaticon-twitter-logo: "\f1d1";
    $font-Flaticon-txt: "\f1d2";
    $font-Flaticon-upload119: "\f1d3";
    $font-Flaticon-user81: "\f1d4";
    $font-Flaticon-verified9: "\f1d5";
    $font-Flaticon-visibility1: "\f1d6";
    $font-Flaticon-web62: "\f1d7";
    $font-Flaticon-website17: "\f1d8";
    $font-Flaticon-website2: "\f1d9";
    $font-Flaticon-website38: "\f1da";
    $font-Flaticon-wiping16: "\f1db";
    $font-Flaticon-worker5: "\f1dc";
    $font-Flaticon-world91: "\f1dd";
    $font-Flaticon-write13: "\f1de";
    $font-Flaticon-xls1: "\f1df";
    $font-Flaticon-xlsx: "\f1e0";
    $font-Flaticon-xml6: "\f1e1";
    $font-Flaticon-youtube18: "\f1e2";
    $font-Flaticon-zip14: "\f1e3";
    $font-Flaticon-zip6: "\f1e4";