    /*
    Flaticon icon font: Flaticon
    Creation date: 14/06/2016 17:56
    */

    @font-face {
  font-family: "AmetysMisc";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "AmetysMisc";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "AmetysMisc";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .ametysmisc-abecedary4:before { content: "\f100"; }
.ametysmisc-add64:before { content: "\f101"; }
.ametysmisc-agenda3:before { content: "\f102"; }
.ametysmisc-alert9:before { content: "\f103"; }
.ametysmisc-alphabetical2:before { content: "\f104"; }
.ametysmisc-applicattion:before { content: "\f105"; }
.ametysmisc-archive18:before { content: "\f106"; }
.ametysmisc-arrow123:before { content: "\f107"; }
.ametysmisc-arrow483:before { content: "\f108"; }
.ametysmisc-arrow73:before { content: "\f109"; }
.ametysmisc-arrow88:before { content: "\f10a"; }
.ametysmisc-arrows130:before { content: "\f10b"; }
.ametysmisc-bell72:before { content: "\f10c"; }
.ametysmisc-bell84:before { content: "\f10d"; }
.ametysmisc-black302:before { content: "\f10e"; }
.ametysmisc-black391:before { content: "\f10f"; }
.ametysmisc-blank32:before { content: "\f110"; }
.ametysmisc-book255:before { content: "\f111"; }
.ametysmisc-box6:before { content: "\f112"; }
.ametysmisc-bugs3:before { content: "\f113"; }
.ametysmisc-calendar-with-a-clock-time-tools:before { content: "\f114"; }
.ametysmisc-calendar146:before { content: "\f115"; }
.ametysmisc-camera3:before { content: "\f116"; }
.ametysmisc-cancel32:before { content: "\f117"; }
.ametysmisc-carnival23:before { content: "\f118"; }
.ametysmisc-catalog2:before { content: "\f119"; }
.ametysmisc-categories:before { content: "\f11a"; }
.ametysmisc-caution9:before { content: "\f11b"; }
.ametysmisc-check34:before { content: "\f11c"; }
.ametysmisc-check51:before { content: "\f11d"; }
.ametysmisc-checked34:before { content: "\f11e"; }
.ametysmisc-checking3:before { content: "\f11f"; }
.ametysmisc-chevron8:before { content: "\f120"; }
.ametysmisc-clip26:before { content: "\f121"; }
.ametysmisc-clock169:before { content: "\f122"; }
.ametysmisc-clock56:before { content: "\f123"; }
.ametysmisc-cogwheels12:before { content: "\f124"; }
.ametysmisc-column3:before { content: "\f125"; }
.ametysmisc-comments1:before { content: "\f126"; }
.ametysmisc-computer196:before { content: "\f127"; }
.ametysmisc-computing10:before { content: "\f128"; }
.ametysmisc-connection4:before { content: "\f129"; }
.ametysmisc-cpu6:before { content: "\f12a"; }
.ametysmisc-css5:before { content: "\f12b"; }
.ametysmisc-csv:before { content: "\f12c"; }
.ametysmisc-dark4:before { content: "\f12d"; }
.ametysmisc-data110:before { content: "\f12e"; }
.ametysmisc-data112:before { content: "\f12f"; }
.ametysmisc-delete30:before { content: "\f130"; }
.ametysmisc-development:before { content: "\f131"; }
.ametysmisc-doc:before { content: "\f132"; }
.ametysmisc-document112:before { content: "\f133"; }
.ametysmisc-document209:before { content: "\f134"; }
.ametysmisc-document28:before { content: "\f135"; }
.ametysmisc-document290:before { content: "\f136"; }
.ametysmisc-document77:before { content: "\f137"; }
.ametysmisc-document9:before { content: "\f138"; }
.ametysmisc-documents12:before { content: "\f139"; }
.ametysmisc-docx:before { content: "\f13a"; }
.ametysmisc-earth1:before { content: "\f13b"; }
.ametysmisc-earth23:before { content: "\f13c"; }
.ametysmisc-edit45:before { content: "\f13d"; }
.ametysmisc-edit5:before { content: "\f13e"; }
.ametysmisc-envelope14:before { content: "\f13f"; }
.ametysmisc-envelope64:before { content: "\f140"; }
.ametysmisc-eraser11:before { content: "\f141"; }
.ametysmisc-expand16:before { content: "\f142"; }
.ametysmisc-external-link:before { content: "\f143"; }
.ametysmisc-eye-blocked:before { content: "\f144"; }
.ametysmisc-facebook-logo:before { content: "\f145"; }
.ametysmisc-facebook29:before { content: "\f146"; }
.ametysmisc-file229:before { content: "\f147"; }
.ametysmisc-file289:before { content: "\f148"; }
.ametysmisc-file94:before { content: "\f149"; }
.ametysmisc-file98:before { content: "\f14a"; }
.ametysmisc-flag28:before { content: "\f14b"; }
.ametysmisc-folder249:before { content: "\f14c"; }
.ametysmisc-folder250:before { content: "\f14d"; }
.ametysmisc-forbidden1:before { content: "\f14e"; }
.ametysmisc-gallery7:before { content: "\f14f"; }
.ametysmisc-garbage11:before { content: "\f150"; }
.ametysmisc-gear39:before { content: "\f151"; }
.ametysmisc-google-glass-logo:before { content: "\f152"; }
.ametysmisc-google-plus:before { content: "\f153"; }
.ametysmisc-hammer2:before { content: "\f154"; }
.ametysmisc-hammer23:before { content: "\f155"; }
.ametysmisc-hand:before { content: "\f156"; }
.ametysmisc-house3:before { content: "\f157"; }
.ametysmisc-html8:before { content: "\f158"; }
.ametysmisc-html9:before { content: "\f159"; }
.ametysmisc-id16:before { content: "\f15a"; }
.ametysmisc-id17:before { content: "\f15b"; }
.ametysmisc-identification63:before { content: "\f15c"; }
.ametysmisc-import1:before { content: "\f15d"; }
.ametysmisc-index-finger:before { content: "\f15e"; }
.ametysmisc-info28:before { content: "\f15f"; }
.ametysmisc-interface:before { content: "\f160"; }
.ametysmisc-interface-1:before { content: "\f161"; }
.ametysmisc-internet58:before { content: "\f162"; }
.ametysmisc-jar3:before { content: "\f163"; }
.ametysmisc-jpg2:before { content: "\f164"; }
.ametysmisc-key162:before { content: "\f165"; }
.ametysmisc-keyboard-right-arrow-button:before { content: "\f166"; }
.ametysmisc-keyword3:before { content: "\f167"; }
.ametysmisc-kitchen-tools1:before { content: "\f168"; }
.ametysmisc-label49:before { content: "\f169"; }
.ametysmisc-layout29:before { content: "\f16a"; }
.ametysmisc-letter-x5:before { content: "\f16b"; }
.ametysmisc-link23:before { content: "\f16c"; }
.ametysmisc-link55:before { content: "\f16d"; }
.ametysmisc-link95:before { content: "\f16e"; }
.ametysmisc-list24:before { content: "\f16f"; }
.ametysmisc-list6:before { content: "\f170"; }
.ametysmisc-lock81:before { content: "\f171"; }
.ametysmisc-log1:before { content: "\f172"; }
.ametysmisc-magnifier12:before { content: "\f173"; }
.ametysmisc-magnifier41:before { content: "\f174"; }
.ametysmisc-magnifying-glass15:before { content: "\f175"; }
.ametysmisc-map32:before { content: "\f176"; }
.ametysmisc-map47:before { content: "\f177"; }
.ametysmisc-marker20:before { content: "\f178"; }
.ametysmisc-medical:before { content: "\f179"; }
.ametysmisc-medical-equipment:before { content: "\f17a"; }
.ametysmisc-megaphone19:before { content: "\f17b"; }
.ametysmisc-minus-sign4:before { content: "\f17c"; }
.ametysmisc-mp3:before { content: "\f17d"; }
.ametysmisc-multiple25:before { content: "\f17e"; }
.ametysmisc-music168:before { content: "\f17f"; }
.ametysmisc-music178:before { content: "\f180"; }
.ametysmisc-music236:before { content: "\f181"; }
.ametysmisc-navigate2:before { content: "\f182"; }
.ametysmisc-navigate6:before { content: "\f183"; }
.ametysmisc-news15:before { content: "\f184"; }
.ametysmisc-newspaper1:before { content: "\f185"; }
.ametysmisc-next25:before { content: "\f186"; }
.ametysmisc-note20:before { content: "\f187"; }
.ametysmisc-odp2:before { content: "\f188"; }
.ametysmisc-odt5:before { content: "\f189"; }
.ametysmisc-opened29:before { content: "\f18a"; }
.ametysmisc-organization1:before { content: "\f18b"; }
.ametysmisc-padlock79:before { content: "\f18c"; }
.ametysmisc-paint88:before { content: "\f18d"; }
.ametysmisc-painter14:before { content: "\f18e"; }
.ametysmisc-paper11:before { content: "\f18f"; }
.ametysmisc-password13:before { content: "\f190"; }
.ametysmisc-pause:before { content: "\f191"; }
.ametysmisc-pdf17:before { content: "\f192"; }
.ametysmisc-pdf28:before { content: "\f193"; }
.ametysmisc-people:before { content: "\f194"; }
.ametysmisc-picture62:before { content: "\f195"; }
.ametysmisc-placeholder19:before { content: "\f196"; }
.ametysmisc-play124:before { content: "\f197"; }
.ametysmisc-play7:before { content: "\f198"; }
.ametysmisc-plus51:before { content: "\f199"; }
.ametysmisc-png4:before { content: "\f19a"; }
.ametysmisc-portable-document-format:before { content: "\f19b"; }
.ametysmisc-power110:before { content: "\f19c"; }
.ametysmisc-pps2:before { content: "\f19d"; }
.ametysmisc-ppt:before { content: "\f19e"; }
.ametysmisc-pptx:before { content: "\f19f"; }
.ametysmisc-previous14:before { content: "\f1a0"; }
.ametysmisc-previous16:before { content: "\f1a1"; }
.ametysmisc-printer67:before { content: "\f1a2"; }
.ametysmisc-psd3:before { content: "\f1a3"; }
.ametysmisc-puzzle-piece1:before { content: "\f1a4"; }
.ametysmisc-puzzle33:before { content: "\f1a5"; }
.ametysmisc-question-mark1:before { content: "\f1a6"; }
.ametysmisc-question13:before { content: "\f1a7"; }
.ametysmisc-rar:before { content: "\f1a8"; }
.ametysmisc-reload8:before { content: "\f1a9"; }
.ametysmisc-remove11:before { content: "\f1aa"; }
.ametysmisc-return10:before { content: "\f1ab"; }
.ametysmisc-rubbish7:before { content: "\f1ac"; }
.ametysmisc-save31:before { content: "\f1ad"; }
.ametysmisc-school:before { content: "\f1ae"; }
.ametysmisc-search102:before { content: "\f1af"; }
.ametysmisc-search16:before { content: "\f1b0"; }
.ametysmisc-search99:before { content: "\f1b1"; }
.ametysmisc-server:before { content: "\f1b2"; }
.ametysmisc-server19:before { content: "\f1b3"; }
.ametysmisc-share40:before { content: "\f1b4"; }
.ametysmisc-sitemap1:before { content: "\f1b5"; }
.ametysmisc-sitemap1-1:before { content: "\f1b6"; }
.ametysmisc-sort48:before { content: "\f1b7"; }
.ametysmisc-sort51:before { content: "\f1b8"; }
.ametysmisc-squares36:before { content: "\f1b9"; }
.ametysmisc-star129:before { content: "\f1ba"; }
.ametysmisc-stats144:before { content: "\f1bb"; }
.ametysmisc-stop5:before { content: "\f1bc"; }
.ametysmisc-tables:before { content: "\f1bd"; }
.ametysmisc-tag-search-filter:before { content: "\f1be"; }
.ametysmisc-tag25:before { content: "\f1bf"; }
.ametysmisc-tar1:before { content: "\f1c0"; }
.ametysmisc-tasks1:before { content: "\f1c1"; }
.ametysmisc-test20:before { content: "\f1c2"; }
.ametysmisc-text-file10:before { content: "\f1c3"; }
.ametysmisc-text1:before { content: "\f1c4"; }
.ametysmisc-text61:before { content: "\f1c5"; }
.ametysmisc-text70:before { content: "\f1c6"; }
.ametysmisc-three103:before { content: "\f1c7"; }
.ametysmisc-three115:before { content: "\f1c8"; }
.ametysmisc-tie6:before { content: "\f1c9"; }
.ametysmisc-time33:before { content: "\f1ca"; }
.ametysmisc-time51:before { content: "\f1cb"; }
.ametysmisc-tool:before { content: "\f1cc"; }
.ametysmisc-translation:before { content: "\f1cd"; }
.ametysmisc-transport10:before { content: "\f1ce"; }
.ametysmisc-triangle1:before { content: "\f1cf"; }
.ametysmisc-turn-right5:before { content: "\f1d0"; }
.ametysmisc-twitter-logo:before { content: "\f1d1"; }
.ametysmisc-txt:before { content: "\f1d2"; }
.ametysmisc-upload119:before { content: "\f1d3"; }
.ametysmisc-user81:before { content: "\f1d4"; }
.ametysmisc-verified9:before { content: "\f1d5"; }
.ametysmisc-visibility1:before { content: "\f1d6"; }
.ametysmisc-web62:before { content: "\f1d7"; }
.ametysmisc-website17:before { content: "\f1d8"; }
.ametysmisc-website2:before { content: "\f1d9"; }
.ametysmisc-website38:before { content: "\f1da"; }
.ametysmisc-wiping16:before { content: "\f1db"; }
.ametysmisc-worker5:before { content: "\f1dc"; }
.ametysmisc-world91:before { content: "\f1dd"; }
.ametysmisc-write13:before { content: "\f1de"; }
.ametysmisc-xls1:before { content: "\f1df"; }
.ametysmisc-xlsx:before { content: "\f1e0"; }
.ametysmisc-xml6:before { content: "\f1e1"; }
.ametysmisc-youtube18:before { content: "\f1e2"; }
.ametysmisc-zip14:before { content: "\f1e3"; }
.ametysmisc-zip6:before { content: "\f1e4"; }
    
    $font-AmetysMisc-abecedary4: "\f100";
    $font-AmetysMisc-add64: "\f101";
    $font-AmetysMisc-agenda3: "\f102";
    $font-AmetysMisc-alert9: "\f103";
    $font-AmetysMisc-alphabetical2: "\f104";
    $font-AmetysMisc-applicattion: "\f105";
    $font-AmetysMisc-archive18: "\f106";
    $font-AmetysMisc-arrow123: "\f107";
    $font-AmetysMisc-arrow483: "\f108";
    $font-AmetysMisc-arrow73: "\f109";
    $font-AmetysMisc-arrow88: "\f10a";
    $font-AmetysMisc-arrows130: "\f10b";
    $font-AmetysMisc-bell72: "\f10c";
    $font-AmetysMisc-bell84: "\f10d";
    $font-AmetysMisc-black302: "\f10e";
    $font-AmetysMisc-black391: "\f10f";
    $font-AmetysMisc-blank32: "\f110";
    $font-AmetysMisc-book255: "\f111";
    $font-AmetysMisc-box6: "\f112";
    $font-AmetysMisc-bugs3: "\f113";
    $font-AmetysMisc-calendar-with-a-clock-time-tools: "\f114";
    $font-AmetysMisc-calendar146: "\f115";
    $font-AmetysMisc-camera3: "\f116";
    $font-AmetysMisc-cancel32: "\f117";
    $font-AmetysMisc-carnival23: "\f118";
    $font-AmetysMisc-catalog2: "\f119";
    $font-AmetysMisc-categories: "\f11a";
    $font-AmetysMisc-caution9: "\f11b";
    $font-AmetysMisc-check34: "\f11c";
    $font-AmetysMisc-check51: "\f11d";
    $font-AmetysMisc-checked34: "\f11e";
    $font-AmetysMisc-checking3: "\f11f";
    $font-AmetysMisc-chevron8: "\f120";
    $font-AmetysMisc-clip26: "\f121";
    $font-AmetysMisc-clock169: "\f122";
    $font-AmetysMisc-clock56: "\f123";
    $font-AmetysMisc-cogwheels12: "\f124";
    $font-AmetysMisc-column3: "\f125";
    $font-AmetysMisc-comments1: "\f126";
    $font-AmetysMisc-computer196: "\f127";
    $font-AmetysMisc-computing10: "\f128";
    $font-AmetysMisc-connection4: "\f129";
    $font-AmetysMisc-cpu6: "\f12a";
    $font-AmetysMisc-css5: "\f12b";
    $font-AmetysMisc-csv: "\f12c";
    $font-AmetysMisc-dark4: "\f12d";
    $font-AmetysMisc-data110: "\f12e";
    $font-AmetysMisc-data112: "\f12f";
    $font-AmetysMisc-delete30: "\f130";
    $font-AmetysMisc-development: "\f131";
    $font-AmetysMisc-doc: "\f132";
    $font-AmetysMisc-document112: "\f133";
    $font-AmetysMisc-document209: "\f134";
    $font-AmetysMisc-document28: "\f135";
    $font-AmetysMisc-document290: "\f136";
    $font-AmetysMisc-document77: "\f137";
    $font-AmetysMisc-document9: "\f138";
    $font-AmetysMisc-documents12: "\f139";
    $font-AmetysMisc-docx: "\f13a";
    $font-AmetysMisc-earth1: "\f13b";
    $font-AmetysMisc-earth23: "\f13c";
    $font-AmetysMisc-edit45: "\f13d";
    $font-AmetysMisc-edit5: "\f13e";
    $font-AmetysMisc-envelope14: "\f13f";
    $font-AmetysMisc-envelope64: "\f140";
    $font-AmetysMisc-eraser11: "\f141";
    $font-AmetysMisc-expand16: "\f142";
    $font-AmetysMisc-external-link: "\f143";
    $font-AmetysMisc-eye-blocked: "\f144";
    $font-AmetysMisc-facebook-logo: "\f145";
    $font-AmetysMisc-facebook29: "\f146";
    $font-AmetysMisc-file229: "\f147";
    $font-AmetysMisc-file289: "\f148";
    $font-AmetysMisc-file94: "\f149";
    $font-AmetysMisc-file98: "\f14a";
    $font-AmetysMisc-flag28: "\f14b";
    $font-AmetysMisc-folder249: "\f14c";
    $font-AmetysMisc-folder250: "\f14d";
    $font-AmetysMisc-forbidden1: "\f14e";
    $font-AmetysMisc-gallery7: "\f14f";
    $font-AmetysMisc-garbage11: "\f150";
    $font-AmetysMisc-gear39: "\f151";
    $font-AmetysMisc-google-glass-logo: "\f152";
    $font-AmetysMisc-google-plus: "\f153";
    $font-AmetysMisc-hammer2: "\f154";
    $font-AmetysMisc-hammer23: "\f155";
    $font-AmetysMisc-hand: "\f156";
    $font-AmetysMisc-house3: "\f157";
    $font-AmetysMisc-html8: "\f158";
    $font-AmetysMisc-html9: "\f159";
    $font-AmetysMisc-id16: "\f15a";
    $font-AmetysMisc-id17: "\f15b";
    $font-AmetysMisc-identification63: "\f15c";
    $font-AmetysMisc-import1: "\f15d";
    $font-AmetysMisc-index-finger: "\f15e";
    $font-AmetysMisc-info28: "\f15f";
    $font-AmetysMisc-interface: "\f160";
    $font-AmetysMisc-interface-1: "\f161";
    $font-AmetysMisc-internet58: "\f162";
    $font-AmetysMisc-jar3: "\f163";
    $font-AmetysMisc-jpg2: "\f164";
    $font-AmetysMisc-key162: "\f165";
    $font-AmetysMisc-keyboard-right-arrow-button: "\f166";
    $font-AmetysMisc-keyword3: "\f167";
    $font-AmetysMisc-kitchen-tools1: "\f168";
    $font-AmetysMisc-label49: "\f169";
    $font-AmetysMisc-layout29: "\f16a";
    $font-AmetysMisc-letter-x5: "\f16b";
    $font-AmetysMisc-link23: "\f16c";
    $font-AmetysMisc-link55: "\f16d";
    $font-AmetysMisc-link95: "\f16e";
    $font-AmetysMisc-list24: "\f16f";
    $font-AmetysMisc-list6: "\f170";
    $font-AmetysMisc-lock81: "\f171";
    $font-AmetysMisc-log1: "\f172";
    $font-AmetysMisc-magnifier12: "\f173";
    $font-AmetysMisc-magnifier41: "\f174";
    $font-AmetysMisc-magnifying-glass15: "\f175";
    $font-AmetysMisc-map32: "\f176";
    $font-AmetysMisc-map47: "\f177";
    $font-AmetysMisc-marker20: "\f178";
    $font-AmetysMisc-medical: "\f179";
    $font-AmetysMisc-medical-equipment: "\f17a";
    $font-AmetysMisc-megaphone19: "\f17b";
    $font-AmetysMisc-minus-sign4: "\f17c";
    $font-AmetysMisc-mp3: "\f17d";
    $font-AmetysMisc-multiple25: "\f17e";
    $font-AmetysMisc-music168: "\f17f";
    $font-AmetysMisc-music178: "\f180";
    $font-AmetysMisc-music236: "\f181";
    $font-AmetysMisc-navigate2: "\f182";
    $font-AmetysMisc-navigate6: "\f183";
    $font-AmetysMisc-news15: "\f184";
    $font-AmetysMisc-newspaper1: "\f185";
    $font-AmetysMisc-next25: "\f186";
    $font-AmetysMisc-note20: "\f187";
    $font-AmetysMisc-odp2: "\f188";
    $font-AmetysMisc-odt5: "\f189";
    $font-AmetysMisc-opened29: "\f18a";
    $font-AmetysMisc-organization1: "\f18b";
    $font-AmetysMisc-padlock79: "\f18c";
    $font-AmetysMisc-paint88: "\f18d";
    $font-AmetysMisc-painter14: "\f18e";
    $font-AmetysMisc-paper11: "\f18f";
    $font-AmetysMisc-password13: "\f190";
    $font-AmetysMisc-pause: "\f191";
    $font-AmetysMisc-pdf17: "\f192";
    $font-AmetysMisc-pdf28: "\f193";
    $font-AmetysMisc-people: "\f194";
    $font-AmetysMisc-picture62: "\f195";
    $font-AmetysMisc-placeholder19: "\f196";
    $font-AmetysMisc-play124: "\f197";
    $font-AmetysMisc-play7: "\f198";
    $font-AmetysMisc-plus51: "\f199";
    $font-AmetysMisc-png4: "\f19a";
    $font-AmetysMisc-portable-document-format: "\f19b";
    $font-AmetysMisc-power110: "\f19c";
    $font-AmetysMisc-pps2: "\f19d";
    $font-AmetysMisc-ppt: "\f19e";
    $font-AmetysMisc-pptx: "\f19f";
    $font-AmetysMisc-previous14: "\f1a0";
    $font-AmetysMisc-previous16: "\f1a1";
    $font-AmetysMisc-printer67: "\f1a2";
    $font-AmetysMisc-psd3: "\f1a3";
    $font-AmetysMisc-puzzle-piece1: "\f1a4";
    $font-AmetysMisc-puzzle33: "\f1a5";
    $font-AmetysMisc-question-mark1: "\f1a6";
    $font-AmetysMisc-question13: "\f1a7";
    $font-AmetysMisc-rar: "\f1a8";
    $font-AmetysMisc-reload8: "\f1a9";
    $font-AmetysMisc-remove11: "\f1aa";
    $font-AmetysMisc-return10: "\f1ab";
    $font-AmetysMisc-rubbish7: "\f1ac";
    $font-AmetysMisc-save31: "\f1ad";
    $font-AmetysMisc-school: "\f1ae";
    $font-AmetysMisc-search102: "\f1af";
    $font-AmetysMisc-search16: "\f1b0";
    $font-AmetysMisc-search99: "\f1b1";
    $font-AmetysMisc-server: "\f1b2";
    $font-AmetysMisc-server19: "\f1b3";
    $font-AmetysMisc-share40: "\f1b4";
    $font-AmetysMisc-sitemap1: "\f1b5";
    $font-AmetysMisc-sitemap1-1: "\f1b6";
    $font-AmetysMisc-sort48: "\f1b7";
    $font-AmetysMisc-sort51: "\f1b8";
    $font-AmetysMisc-squares36: "\f1b9";
    $font-AmetysMisc-star129: "\f1ba";
    $font-AmetysMisc-stats144: "\f1bb";
    $font-AmetysMisc-stop5: "\f1bc";
    $font-AmetysMisc-tables: "\f1bd";
    $font-AmetysMisc-tag-search-filter: "\f1be";
    $font-AmetysMisc-tag25: "\f1bf";
    $font-AmetysMisc-tar1: "\f1c0";
    $font-AmetysMisc-tasks1: "\f1c1";
    $font-AmetysMisc-test20: "\f1c2";
    $font-AmetysMisc-text-file10: "\f1c3";
    $font-AmetysMisc-text1: "\f1c4";
    $font-AmetysMisc-text61: "\f1c5";
    $font-AmetysMisc-text70: "\f1c6";
    $font-AmetysMisc-three103: "\f1c7";
    $font-AmetysMisc-three115: "\f1c8";
    $font-AmetysMisc-tie6: "\f1c9";
    $font-AmetysMisc-time33: "\f1ca";
    $font-AmetysMisc-time51: "\f1cb";
    $font-AmetysMisc-tool: "\f1cc";
    $font-AmetysMisc-translation: "\f1cd";
    $font-AmetysMisc-transport10: "\f1ce";
    $font-AmetysMisc-triangle1: "\f1cf";
    $font-AmetysMisc-turn-right5: "\f1d0";
    $font-AmetysMisc-twitter-logo: "\f1d1";
    $font-AmetysMisc-txt: "\f1d2";
    $font-AmetysMisc-upload119: "\f1d3";
    $font-AmetysMisc-user81: "\f1d4";
    $font-AmetysMisc-verified9: "\f1d5";
    $font-AmetysMisc-visibility1: "\f1d6";
    $font-AmetysMisc-web62: "\f1d7";
    $font-AmetysMisc-website17: "\f1d8";
    $font-AmetysMisc-website2: "\f1d9";
    $font-AmetysMisc-website38: "\f1da";
    $font-AmetysMisc-wiping16: "\f1db";
    $font-AmetysMisc-worker5: "\f1dc";
    $font-AmetysMisc-world91: "\f1dd";
    $font-AmetysMisc-write13: "\f1de";
    $font-AmetysMisc-xls1: "\f1df";
    $font-AmetysMisc-xlsx: "\f1e0";
    $font-AmetysMisc-xml6: "\f1e1";
    $font-AmetysMisc-youtube18: "\f1e2";
    $font-AmetysMisc-zip14: "\f1e3";
    $font-AmetysMisc-zip6: "\f1e4";