	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/06/2016 17:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-abecedary4:before { content: "\f100"; }
.flaticon-add64:before { content: "\f101"; }
.flaticon-agenda3:before { content: "\f102"; }
.flaticon-alert9:before { content: "\f103"; }
.flaticon-alphabetical2:before { content: "\f104"; }
.flaticon-applicattion:before { content: "\f105"; }
.flaticon-archive18:before { content: "\f106"; }
.flaticon-arrow123:before { content: "\f107"; }
.flaticon-arrow483:before { content: "\f108"; }
.flaticon-arrow73:before { content: "\f109"; }
.flaticon-arrow88:before { content: "\f10a"; }
.flaticon-arrows130:before { content: "\f10b"; }
.flaticon-bell72:before { content: "\f10c"; }
.flaticon-bell84:before { content: "\f10d"; }
.flaticon-black302:before { content: "\f10e"; }
.flaticon-black391:before { content: "\f10f"; }
.flaticon-blank32:before { content: "\f110"; }
.flaticon-book255:before { content: "\f111"; }
.flaticon-box6:before { content: "\f112"; }
.flaticon-bugs3:before { content: "\f113"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f114"; }
.flaticon-calendar146:before { content: "\f115"; }
.flaticon-camera3:before { content: "\f116"; }
.flaticon-cancel32:before { content: "\f117"; }
.flaticon-carnival23:before { content: "\f118"; }
.flaticon-catalog2:before { content: "\f119"; }
.flaticon-categories:before { content: "\f11a"; }
.flaticon-caution9:before { content: "\f11b"; }
.flaticon-check34:before { content: "\f11c"; }
.flaticon-check51:before { content: "\f11d"; }
.flaticon-checked34:before { content: "\f11e"; }
.flaticon-checking3:before { content: "\f11f"; }
.flaticon-chevron8:before { content: "\f120"; }
.flaticon-clip26:before { content: "\f121"; }
.flaticon-clock169:before { content: "\f122"; }
.flaticon-clock56:before { content: "\f123"; }
.flaticon-cogwheels12:before { content: "\f124"; }
.flaticon-column3:before { content: "\f125"; }
.flaticon-comments1:before { content: "\f126"; }
.flaticon-computer196:before { content: "\f127"; }
.flaticon-computing10:before { content: "\f128"; }
.flaticon-connection4:before { content: "\f129"; }
.flaticon-cpu6:before { content: "\f12a"; }
.flaticon-css5:before { content: "\f12b"; }
.flaticon-csv:before { content: "\f12c"; }
.flaticon-dark4:before { content: "\f12d"; }
.flaticon-data110:before { content: "\f12e"; }
.flaticon-data112:before { content: "\f12f"; }
.flaticon-delete30:before { content: "\f130"; }
.flaticon-development:before { content: "\f131"; }
.flaticon-doc:before { content: "\f132"; }
.flaticon-document112:before { content: "\f133"; }
.flaticon-document209:before { content: "\f134"; }
.flaticon-document28:before { content: "\f135"; }
.flaticon-document290:before { content: "\f136"; }
.flaticon-document77:before { content: "\f137"; }
.flaticon-document9:before { content: "\f138"; }
.flaticon-documents12:before { content: "\f139"; }
.flaticon-docx:before { content: "\f13a"; }
.flaticon-earth1:before { content: "\f13b"; }
.flaticon-earth23:before { content: "\f13c"; }
.flaticon-edit45:before { content: "\f13d"; }
.flaticon-edit5:before { content: "\f13e"; }
.flaticon-envelope14:before { content: "\f13f"; }
.flaticon-envelope64:before { content: "\f140"; }
.flaticon-eraser11:before { content: "\f141"; }
.flaticon-expand16:before { content: "\f142"; }
.flaticon-external-link:before { content: "\f143"; }
.flaticon-eye-blocked:before { content: "\f144"; }
.flaticon-facebook-logo:before { content: "\f145"; }
.flaticon-facebook29:before { content: "\f146"; }
.flaticon-file229:before { content: "\f147"; }
.flaticon-file289:before { content: "\f148"; }
.flaticon-file94:before { content: "\f149"; }
.flaticon-file98:before { content: "\f14a"; }
.flaticon-flag28:before { content: "\f14b"; }
.flaticon-folder249:before { content: "\f14c"; }
.flaticon-folder250:before { content: "\f14d"; }
.flaticon-forbidden1:before { content: "\f14e"; }
.flaticon-gallery7:before { content: "\f14f"; }
.flaticon-garbage11:before { content: "\f150"; }
.flaticon-gear39:before { content: "\f151"; }
.flaticon-google-glass-logo:before { content: "\f152"; }
.flaticon-google-plus:before { content: "\f153"; }
.flaticon-hammer2:before { content: "\f154"; }
.flaticon-hammer23:before { content: "\f155"; }
.flaticon-hand:before { content: "\f156"; }
.flaticon-house3:before { content: "\f157"; }
.flaticon-html8:before { content: "\f158"; }
.flaticon-html9:before { content: "\f159"; }
.flaticon-id16:before { content: "\f15a"; }
.flaticon-id17:before { content: "\f15b"; }
.flaticon-identification63:before { content: "\f15c"; }
.flaticon-import1:before { content: "\f15d"; }
.flaticon-index-finger:before { content: "\f15e"; }
.flaticon-info28:before { content: "\f15f"; }
.flaticon-interface:before { content: "\f160"; }
.flaticon-interface-1:before { content: "\f161"; }
.flaticon-internet58:before { content: "\f162"; }
.flaticon-jar3:before { content: "\f163"; }
.flaticon-jpg2:before { content: "\f164"; }
.flaticon-key162:before { content: "\f165"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f166"; }
.flaticon-keyword3:before { content: "\f167"; }
.flaticon-kitchen-tools1:before { content: "\f168"; }
.flaticon-label49:before { content: "\f169"; }
.flaticon-layout29:before { content: "\f16a"; }
.flaticon-letter-x5:before { content: "\f16b"; }
.flaticon-link23:before { content: "\f16c"; }
.flaticon-link55:before { content: "\f16d"; }
.flaticon-link95:before { content: "\f16e"; }
.flaticon-list24:before { content: "\f16f"; }
.flaticon-list6:before { content: "\f170"; }
.flaticon-lock81:before { content: "\f171"; }
.flaticon-log1:before { content: "\f172"; }
.flaticon-magnifier12:before { content: "\f173"; }
.flaticon-magnifier41:before { content: "\f174"; }
.flaticon-magnifying-glass15:before { content: "\f175"; }
.flaticon-map32:before { content: "\f176"; }
.flaticon-map47:before { content: "\f177"; }
.flaticon-marker20:before { content: "\f178"; }
.flaticon-medical:before { content: "\f179"; }
.flaticon-medical-equipment:before { content: "\f17a"; }
.flaticon-megaphone19:before { content: "\f17b"; }
.flaticon-minus-sign4:before { content: "\f17c"; }
.flaticon-mp3:before { content: "\f17d"; }
.flaticon-multiple25:before { content: "\f17e"; }
.flaticon-music168:before { content: "\f17f"; }
.flaticon-music178:before { content: "\f180"; }
.flaticon-music236:before { content: "\f181"; }
.flaticon-navigate2:before { content: "\f182"; }
.flaticon-navigate6:before { content: "\f183"; }
.flaticon-news15:before { content: "\f184"; }
.flaticon-newspaper1:before { content: "\f185"; }
.flaticon-next25:before { content: "\f186"; }
.flaticon-note20:before { content: "\f187"; }
.flaticon-odp2:before { content: "\f188"; }
.flaticon-odt5:before { content: "\f189"; }
.flaticon-opened29:before { content: "\f18a"; }
.flaticon-organization1:before { content: "\f18b"; }
.flaticon-padlock79:before { content: "\f18c"; }
.flaticon-paint88:before { content: "\f18d"; }
.flaticon-painter14:before { content: "\f18e"; }
.flaticon-paper11:before { content: "\f18f"; }
.flaticon-password13:before { content: "\f190"; }
.flaticon-pause:before { content: "\f191"; }
.flaticon-pdf17:before { content: "\f192"; }
.flaticon-pdf28:before { content: "\f193"; }
.flaticon-people:before { content: "\f194"; }
.flaticon-picture62:before { content: "\f195"; }
.flaticon-placeholder19:before { content: "\f196"; }
.flaticon-play124:before { content: "\f197"; }
.flaticon-play7:before { content: "\f198"; }
.flaticon-plus51:before { content: "\f199"; }
.flaticon-png4:before { content: "\f19a"; }
.flaticon-portable-document-format:before { content: "\f19b"; }
.flaticon-power110:before { content: "\f19c"; }
.flaticon-pps2:before { content: "\f19d"; }
.flaticon-ppt:before { content: "\f19e"; }
.flaticon-pptx:before { content: "\f19f"; }
.flaticon-previous14:before { content: "\f1a0"; }
.flaticon-previous16:before { content: "\f1a1"; }
.flaticon-printer67:before { content: "\f1a2"; }
.flaticon-psd3:before { content: "\f1a3"; }
.flaticon-puzzle-piece1:before { content: "\f1a4"; }
.flaticon-puzzle33:before { content: "\f1a5"; }
.flaticon-question-mark1:before { content: "\f1a6"; }
.flaticon-question13:before { content: "\f1a7"; }
.flaticon-rar:before { content: "\f1a8"; }
.flaticon-reload8:before { content: "\f1a9"; }
.flaticon-remove11:before { content: "\f1aa"; }
.flaticon-return10:before { content: "\f1ab"; }
.flaticon-rubbish7:before { content: "\f1ac"; }
.flaticon-save31:before { content: "\f1ad"; }
.flaticon-school:before { content: "\f1ae"; }
.flaticon-search102:before { content: "\f1af"; }
.flaticon-search16:before { content: "\f1b0"; }
.flaticon-search99:before { content: "\f1b1"; }
.flaticon-server:before { content: "\f1b2"; }
.flaticon-server19:before { content: "\f1b3"; }
.flaticon-share40:before { content: "\f1b4"; }
.flaticon-sitemap1:before { content: "\f1b5"; }
.flaticon-sitemap1-1:before { content: "\f1b6"; }
.flaticon-sort48:before { content: "\f1b7"; }
.flaticon-sort51:before { content: "\f1b8"; }
.flaticon-squares36:before { content: "\f1b9"; }
.flaticon-star129:before { content: "\f1ba"; }
.flaticon-stats144:before { content: "\f1bb"; }
.flaticon-stop5:before { content: "\f1bc"; }
.flaticon-tables:before { content: "\f1bd"; }
.flaticon-tag-search-filter:before { content: "\f1be"; }
.flaticon-tag25:before { content: "\f1bf"; }
.flaticon-tar1:before { content: "\f1c0"; }
.flaticon-tasks1:before { content: "\f1c1"; }
.flaticon-test20:before { content: "\f1c2"; }
.flaticon-text-file10:before { content: "\f1c3"; }
.flaticon-text1:before { content: "\f1c4"; }
.flaticon-text61:before { content: "\f1c5"; }
.flaticon-text70:before { content: "\f1c6"; }
.flaticon-three103:before { content: "\f1c7"; }
.flaticon-three115:before { content: "\f1c8"; }
.flaticon-tie6:before { content: "\f1c9"; }
.flaticon-time33:before { content: "\f1ca"; }
.flaticon-time51:before { content: "\f1cb"; }
.flaticon-tool:before { content: "\f1cc"; }
.flaticon-translation:before { content: "\f1cd"; }
.flaticon-transport10:before { content: "\f1ce"; }
.flaticon-triangle1:before { content: "\f1cf"; }
.flaticon-turn-right5:before { content: "\f1d0"; }
.flaticon-twitter-logo:before { content: "\f1d1"; }
.flaticon-txt:before { content: "\f1d2"; }
.flaticon-upload119:before { content: "\f1d3"; }
.flaticon-user81:before { content: "\f1d4"; }
.flaticon-verified9:before { content: "\f1d5"; }
.flaticon-visibility1:before { content: "\f1d6"; }
.flaticon-web62:before { content: "\f1d7"; }
.flaticon-website17:before { content: "\f1d8"; }
.flaticon-website2:before { content: "\f1d9"; }
.flaticon-website38:before { content: "\f1da"; }
.flaticon-wiping16:before { content: "\f1db"; }
.flaticon-worker5:before { content: "\f1dc"; }
.flaticon-world91:before { content: "\f1dd"; }
.flaticon-write13:before { content: "\f1de"; }
.flaticon-xls1:before { content: "\f1df"; }
.flaticon-xlsx:before { content: "\f1e0"; }
.flaticon-xml6:before { content: "\f1e1"; }
.flaticon-youtube18:before { content: "\f1e2"; }
.flaticon-zip14:before { content: "\f1e3"; }
.flaticon-zip6:before { content: "\f1e4"; }