	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/06/2016 17:56
  	*/

@font-face {
  font-family: "AmetysMisc";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "AmetysMisc";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="ametysmisc-"]:before, [class*=" ametysmisc-"]:before {   
  font-family: AmetysMisc;
font-style: normal;
}

.ametysmisc-abecedary4:before { content: "\f100"; }
.ametysmisc-add64:before { content: "\f101"; }
.ametysmisc-agenda3:before { content: "\f102"; }
.ametysmisc-alert9:before { content: "\f103"; }
.ametysmisc-alphabetical2:before { content: "\f104"; }
.ametysmisc-applicattion:before { content: "\f105"; }
.ametysmisc-archive18:before { content: "\f106"; }
.ametysmisc-arrow123:before { content: "\f107"; }
.ametysmisc-arrow483:before { content: "\f108"; }
.ametysmisc-arrow73:before { content: "\f109"; }
.ametysmisc-arrow88:before { content: "\f10a"; }
.ametysmisc-arrows130:before { content: "\f10b"; }
.ametysmisc-bell72:before { content: "\f10c"; }
.ametysmisc-bell84:before { content: "\f10d"; }
.ametysmisc-black302:before { content: "\f10e"; }
.ametysmisc-black391:before { content: "\f10f"; }
.ametysmisc-blank32:before { content: "\f110"; }
.ametysmisc-book255:before { content: "\f111"; }
.ametysmisc-box6:before { content: "\f112"; }
.ametysmisc-bugs3:before { content: "\f113"; }
.ametysmisc-calendar-with-a-clock-time-tools:before { content: "\f114"; }
.ametysmisc-calendar146:before { content: "\f115"; }
.ametysmisc-camera3:before { content: "\f116"; }
.ametysmisc-cancel32:before { content: "\f117"; }
.ametysmisc-carnival23:before { content: "\f118"; }
.ametysmisc-catalog2:before { content: "\f119"; }
.ametysmisc-categories:before { content: "\f11a"; }
.ametysmisc-caution9:before { content: "\f11b"; }
.ametysmisc-check34:before { content: "\f11c"; }
.ametysmisc-check51:before { content: "\f11d"; }
.ametysmisc-checked34:before { content: "\f11e"; }
.ametysmisc-checking3:before { content: "\f11f"; }
.ametysmisc-chevron8:before { content: "\f120"; }
.ametysmisc-clip26:before { content: "\f121"; }
.ametysmisc-clock169:before { content: "\f122"; }
.ametysmisc-clock56:before { content: "\f123"; }
.ametysmisc-cogwheels12:before { content: "\f124"; }
.ametysmisc-column3:before { content: "\f125"; }
.ametysmisc-comments1:before { content: "\f126"; }
.ametysmisc-computer196:before { content: "\f127"; }
.ametysmisc-computing10:before { content: "\f128"; }
.ametysmisc-connection4:before { content: "\f129"; }
.ametysmisc-cpu6:before { content: "\f12a"; }
.ametysmisc-css5:before { content: "\f12b"; }
.ametysmisc-csv:before { content: "\f12c"; }
.ametysmisc-dark4:before { content: "\f12d"; }
.ametysmisc-data110:before { content: "\f12e"; }
.ametysmisc-data112:before { content: "\f12f"; }
.ametysmisc-delete30:before { content: "\f130"; }
.ametysmisc-development:before { content: "\f131"; }
.ametysmisc-doc:before { content: "\f132"; }
.ametysmisc-document112:before { content: "\f133"; }
.ametysmisc-document209:before { content: "\f134"; }
.ametysmisc-document28:before { content: "\f135"; }
.ametysmisc-document290:before { content: "\f136"; }
.ametysmisc-document77:before { content: "\f137"; }
.ametysmisc-document9:before { content: "\f138"; }
.ametysmisc-documents12:before { content: "\f139"; }
.ametysmisc-docx:before { content: "\f13a"; }
.ametysmisc-earth1:before { content: "\f13b"; }
.ametysmisc-earth23:before { content: "\f13c"; }
.ametysmisc-edit45:before { content: "\f13d"; }
.ametysmisc-edit5:before { content: "\f13e"; }
.ametysmisc-envelope14:before { content: "\f13f"; }
.ametysmisc-envelope64:before { content: "\f140"; }
.ametysmisc-eraser11:before { content: "\f141"; }
.ametysmisc-expand16:before { content: "\f142"; }
.ametysmisc-external-link:before { content: "\f143"; }
.ametysmisc-eye-blocked:before { content: "\f144"; }
.ametysmisc-facebook-logo:before { content: "\f145"; }
.ametysmisc-facebook29:before { content: "\f146"; }
.ametysmisc-file229:before { content: "\f147"; }
.ametysmisc-file289:before { content: "\f148"; }
.ametysmisc-file94:before { content: "\f149"; }
.ametysmisc-file98:before { content: "\f14a"; }
.ametysmisc-flag28:before { content: "\f14b"; }
.ametysmisc-folder249:before { content: "\f14c"; }
.ametysmisc-folder250:before { content: "\f14d"; }
.ametysmisc-forbidden1:before { content: "\f14e"; }
.ametysmisc-gallery7:before { content: "\f14f"; }
.ametysmisc-garbage11:before { content: "\f150"; }
.ametysmisc-gear39:before { content: "\f151"; }
.ametysmisc-google-glass-logo:before { content: "\f152"; }
.ametysmisc-google-plus:before { content: "\f153"; }
.ametysmisc-hammer2:before { content: "\f154"; }
.ametysmisc-hammer23:before { content: "\f155"; }
.ametysmisc-hand:before { content: "\f156"; }
.ametysmisc-house3:before { content: "\f157"; }
.ametysmisc-html8:before { content: "\f158"; }
.ametysmisc-html9:before { content: "\f159"; }
.ametysmisc-id16:before { content: "\f15a"; }
.ametysmisc-id17:before { content: "\f15b"; }
.ametysmisc-identification63:before { content: "\f15c"; }
.ametysmisc-import1:before { content: "\f15d"; }
.ametysmisc-index-finger:before { content: "\f15e"; }
.ametysmisc-info28:before { content: "\f15f"; }
.ametysmisc-interface:before { content: "\f160"; }
.ametysmisc-interface-1:before { content: "\f161"; }
.ametysmisc-internet58:before { content: "\f162"; }
.ametysmisc-jar3:before { content: "\f163"; }
.ametysmisc-jpg2:before { content: "\f164"; }
.ametysmisc-key162:before { content: "\f165"; }
.ametysmisc-keyboard-right-arrow-button:before { content: "\f166"; }
.ametysmisc-keyword3:before { content: "\f167"; }
.ametysmisc-kitchen-tools1:before { content: "\f168"; }
.ametysmisc-label49:before { content: "\f169"; }
.ametysmisc-layout29:before { content: "\f16a"; }
.ametysmisc-letter-x5:before { content: "\f16b"; }
.ametysmisc-link23:before { content: "\f16c"; }
.ametysmisc-link55:before { content: "\f16d"; }
.ametysmisc-link95:before { content: "\f16e"; }
.ametysmisc-list24:before { content: "\f16f"; }
.ametysmisc-list6:before { content: "\f170"; }
.ametysmisc-lock81:before { content: "\f171"; }
.ametysmisc-log1:before { content: "\f172"; }
.ametysmisc-magnifier12:before { content: "\f173"; }
.ametysmisc-magnifier41:before { content: "\f174"; }
.ametysmisc-magnifying-glass15:before { content: "\f175"; }
.ametysmisc-map32:before { content: "\f176"; }
.ametysmisc-map47:before { content: "\f177"; }
.ametysmisc-marker20:before { content: "\f178"; }
.ametysmisc-medical:before { content: "\f179"; }
.ametysmisc-medical-equipment:before { content: "\f17a"; }
.ametysmisc-megaphone19:before { content: "\f17b"; }
.ametysmisc-minus-sign4:before { content: "\f17c"; }
.ametysmisc-mp3:before { content: "\f17d"; }
.ametysmisc-multiple25:before { content: "\f17e"; }
.ametysmisc-music168:before { content: "\f17f"; }
.ametysmisc-music178:before { content: "\f180"; }
.ametysmisc-music236:before { content: "\f181"; }
.ametysmisc-navigate2:before { content: "\f182"; }
.ametysmisc-navigate6:before { content: "\f183"; }
.ametysmisc-news15:before { content: "\f184"; }
.ametysmisc-newspaper1:before { content: "\f185"; }
.ametysmisc-next25:before { content: "\f186"; }
.ametysmisc-note20:before { content: "\f187"; }
.ametysmisc-odp2:before { content: "\f188"; }
.ametysmisc-odt5:before { content: "\f189"; }
.ametysmisc-opened29:before { content: "\f18a"; }
.ametysmisc-organization1:before { content: "\f18b"; }
.ametysmisc-padlock79:before { content: "\f18c"; }
.ametysmisc-paint88:before { content: "\f18d"; }
.ametysmisc-painter14:before { content: "\f18e"; }
.ametysmisc-paper11:before { content: "\f18f"; }
.ametysmisc-password13:before { content: "\f190"; }
.ametysmisc-pause:before { content: "\f191"; }
.ametysmisc-pdf17:before { content: "\f192"; }
.ametysmisc-pdf28:before { content: "\f193"; }
.ametysmisc-people:before { content: "\f194"; }
.ametysmisc-picture62:before { content: "\f195"; }
.ametysmisc-placeholder19:before { content: "\f196"; }
.ametysmisc-play124:before { content: "\f197"; }
.ametysmisc-play7:before { content: "\f198"; }
.ametysmisc-plus51:before { content: "\f199"; }
.ametysmisc-png4:before { content: "\f19a"; }
.ametysmisc-portable-document-format:before { content: "\f19b"; }
.ametysmisc-power110:before { content: "\f19c"; }
.ametysmisc-pps2:before { content: "\f19d"; }
.ametysmisc-ppt:before { content: "\f19e"; }
.ametysmisc-pptx:before { content: "\f19f"; }
.ametysmisc-previous14:before { content: "\f1a0"; }
.ametysmisc-previous16:before { content: "\f1a1"; }
.ametysmisc-printer67:before { content: "\f1a2"; }
.ametysmisc-psd3:before { content: "\f1a3"; }
.ametysmisc-puzzle-piece1:before { content: "\f1a4"; }
.ametysmisc-puzzle33:before { content: "\f1a5"; }
.ametysmisc-question-mark1:before { content: "\f1a6"; }
.ametysmisc-question13:before { content: "\f1a7"; }
.ametysmisc-rar:before { content: "\f1a8"; }
.ametysmisc-reload8:before { content: "\f1a9"; }
.ametysmisc-remove11:before { content: "\f1aa"; }
.ametysmisc-return10:before { content: "\f1ab"; }
.ametysmisc-rubbish7:before { content: "\f1ac"; }
.ametysmisc-save31:before { content: "\f1ad"; }
.ametysmisc-school:before { content: "\f1ae"; }
.ametysmisc-search102:before { content: "\f1af"; }
.ametysmisc-search16:before { content: "\f1b0"; }
.ametysmisc-search99:before { content: "\f1b1"; }
.ametysmisc-server:before { content: "\f1b2"; }
.ametysmisc-server19:before { content: "\f1b3"; }
.ametysmisc-share40:before { content: "\f1b4"; }
.ametysmisc-sitemap1:before { content: "\f1b5"; }
.ametysmisc-sitemap1-1:before { content: "\f1b6"; }
.ametysmisc-sort48:before { content: "\f1b7"; }
.ametysmisc-sort51:before { content: "\f1b8"; }
.ametysmisc-squares36:before { content: "\f1b9"; }
.ametysmisc-star129:before { content: "\f1ba"; }
.ametysmisc-stats144:before { content: "\f1bb"; }
.ametysmisc-stop5:before { content: "\f1bc"; }
.ametysmisc-tables:before { content: "\f1bd"; }
.ametysmisc-tag-search-filter:before { content: "\f1be"; }
.ametysmisc-tag25:before { content: "\f1bf"; }
.ametysmisc-tar1:before { content: "\f1c0"; }
.ametysmisc-tasks1:before { content: "\f1c1"; }
.ametysmisc-test20:before { content: "\f1c2"; }
.ametysmisc-text-file10:before { content: "\f1c3"; }
.ametysmisc-text1:before { content: "\f1c4"; }
.ametysmisc-text61:before { content: "\f1c5"; }
.ametysmisc-text70:before { content: "\f1c6"; }
.ametysmisc-three103:before { content: "\f1c7"; }
.ametysmisc-three115:before { content: "\f1c8"; }
.ametysmisc-tie6:before { content: "\f1c9"; }
.ametysmisc-time33:before { content: "\f1ca"; }
.ametysmisc-time51:before { content: "\f1cb"; }
.ametysmisc-tool:before { content: "\f1cc"; }
.ametysmisc-translation:before { content: "\f1cd"; }
.ametysmisc-transport10:before { content: "\f1ce"; }
.ametysmisc-triangle1:before { content: "\f1cf"; }
.ametysmisc-turn-right5:before { content: "\f1d0"; }
.ametysmisc-twitter-logo:before { content: "\f1d1"; }
.ametysmisc-txt:before { content: "\f1d2"; }
.ametysmisc-upload119:before { content: "\f1d3"; }
.ametysmisc-user81:before { content: "\f1d4"; }
.ametysmisc-verified9:before { content: "\f1d5"; }
.ametysmisc-visibility1:before { content: "\f1d6"; }
.ametysmisc-web62:before { content: "\f1d7"; }
.ametysmisc-website17:before { content: "\f1d8"; }
.ametysmisc-website2:before { content: "\f1d9"; }
.ametysmisc-website38:before { content: "\f1da"; }
.ametysmisc-wiping16:before { content: "\f1db"; }
.ametysmisc-worker5:before { content: "\f1dc"; }
.ametysmisc-world91:before { content: "\f1dd"; }
.ametysmisc-write13:before { content: "\f1de"; }
.ametysmisc-xls1:before { content: "\f1df"; }
.ametysmisc-xlsx:before { content: "\f1e0"; }
.ametysmisc-xml6:before { content: "\f1e1"; }
.ametysmisc-youtube18:before { content: "\f1e2"; }
.ametysmisc-zip14:before { content: "\f1e3"; }
.ametysmisc-zip6:before { content: "\f1e4"; }