	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/06/2016 17:56
  	*/

@font-face {
  font-family: "AmetysMisc";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "AmetysMisc";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="decorator-ametysmisc-"]:after, [class*=" decorator-ametysmisc-"]:after {   
  font-family: AmetysMisc;
font-style: normal;
}

.decorator-ametysmisc-abecedary4:after { content: "\f100"; }
.decorator-ametysmisc-add64:after { content: "\f101"; }
.decorator-ametysmisc-agenda3:after { content: "\f102"; }
.decorator-ametysmisc-alert9:after { content: "\f103"; }
.decorator-ametysmisc-alphabetical2:after { content: "\f104"; }
.decorator-ametysmisc-applicattion:after { content: "\f105"; }
.decorator-ametysmisc-archive18:after { content: "\f106"; }
.decorator-ametysmisc-arrow123:after { content: "\f107"; }
.decorator-ametysmisc-arrow483:after { content: "\f108"; }
.decorator-ametysmisc-arrow73:after { content: "\f109"; }
.decorator-ametysmisc-arrow88:after { content: "\f10a"; }
.decorator-ametysmisc-arrows130:after { content: "\f10b"; }
.decorator-ametysmisc-bell72:after { content: "\f10c"; }
.decorator-ametysmisc-bell84:after { content: "\f10d"; }
.decorator-ametysmisc-black302:after { content: "\f10e"; }
.decorator-ametysmisc-black391:after { content: "\f10f"; }
.decorator-ametysmisc-blank32:after { content: "\f110"; }
.decorator-ametysmisc-book255:after { content: "\f111"; }
.decorator-ametysmisc-box6:after { content: "\f112"; }
.decorator-ametysmisc-bugs3:after { content: "\f113"; }
.decorator-ametysmisc-calendar-with-a-clock-time-tools:after { content: "\f114"; }
.decorator-ametysmisc-calendar146:after { content: "\f115"; }
.decorator-ametysmisc-camera3:after { content: "\f116"; }
.decorator-ametysmisc-cancel32:after { content: "\f117"; }
.decorator-ametysmisc-carnival23:after { content: "\f118"; }
.decorator-ametysmisc-catalog2:after { content: "\f119"; }
.decorator-ametysmisc-categories:after { content: "\f11a"; }
.decorator-ametysmisc-caution9:after { content: "\f11b"; }
.decorator-ametysmisc-check34:after { content: "\f11c"; }
.decorator-ametysmisc-check51:after { content: "\f11d"; }
.decorator-ametysmisc-checked34:after { content: "\f11e"; }
.decorator-ametysmisc-checking3:after { content: "\f11f"; }
.decorator-ametysmisc-chevron8:after { content: "\f120"; }
.decorator-ametysmisc-clip26:after { content: "\f121"; }
.decorator-ametysmisc-clock169:after { content: "\f122"; }
.decorator-ametysmisc-clock56:after { content: "\f123"; }
.decorator-ametysmisc-cogwheels12:after { content: "\f124"; }
.decorator-ametysmisc-column3:after { content: "\f125"; }
.decorator-ametysmisc-comments1:after { content: "\f126"; }
.decorator-ametysmisc-computer196:after { content: "\f127"; }
.decorator-ametysmisc-computing10:after { content: "\f128"; }
.decorator-ametysmisc-connection4:after { content: "\f129"; }
.decorator-ametysmisc-cpu6:after { content: "\f12a"; }
.decorator-ametysmisc-css5:after { content: "\f12b"; }
.decorator-ametysmisc-csv:after { content: "\f12c"; }
.decorator-ametysmisc-dark4:after { content: "\f12d"; }
.decorator-ametysmisc-data110:after { content: "\f12e"; }
.decorator-ametysmisc-data112:after { content: "\f12f"; }
.decorator-ametysmisc-delete30:after { content: "\f130"; }
.decorator-ametysmisc-development:after { content: "\f131"; }
.decorator-ametysmisc-doc:after { content: "\f132"; }
.decorator-ametysmisc-document112:after { content: "\f133"; }
.decorator-ametysmisc-document209:after { content: "\f134"; }
.decorator-ametysmisc-document28:after { content: "\f135"; }
.decorator-ametysmisc-document290:after { content: "\f136"; }
.decorator-ametysmisc-document77:after { content: "\f137"; }
.decorator-ametysmisc-document9:after { content: "\f138"; }
.decorator-ametysmisc-documents12:after { content: "\f139"; }
.decorator-ametysmisc-docx:after { content: "\f13a"; }
.decorator-ametysmisc-earth1:after { content: "\f13b"; }
.decorator-ametysmisc-earth23:after { content: "\f13c"; }
.decorator-ametysmisc-edit45:after { content: "\f13d"; }
.decorator-ametysmisc-edit5:after { content: "\f13e"; }
.decorator-ametysmisc-envelope14:after { content: "\f13f"; }
.decorator-ametysmisc-envelope64:after { content: "\f140"; }
.decorator-ametysmisc-eraser11:after { content: "\f141"; }
.decorator-ametysmisc-expand16:after { content: "\f142"; }
.decorator-ametysmisc-external-link:after { content: "\f143"; }
.decorator-ametysmisc-eye-blocked:after { content: "\f144"; }
.decorator-ametysmisc-facebook-logo:after { content: "\f145"; }
.decorator-ametysmisc-facebook29:after { content: "\f146"; }
.decorator-ametysmisc-file229:after { content: "\f147"; }
.decorator-ametysmisc-file289:after { content: "\f148"; }
.decorator-ametysmisc-file94:after { content: "\f149"; }
.decorator-ametysmisc-file98:after { content: "\f14a"; }
.decorator-ametysmisc-flag28:after { content: "\f14b"; }
.decorator-ametysmisc-folder249:after { content: "\f14c"; }
.decorator-ametysmisc-folder250:after { content: "\f14d"; }
.decorator-ametysmisc-forbidden1:after { content: "\f14e"; }
.decorator-ametysmisc-gallery7:after { content: "\f14f"; }
.decorator-ametysmisc-garbage11:after { content: "\f150"; }
.decorator-ametysmisc-gear39:after { content: "\f151"; }
.decorator-ametysmisc-google-glass-logo:after { content: "\f152"; }
.decorator-ametysmisc-google-plus:after { content: "\f153"; }
.decorator-ametysmisc-hammer2:after { content: "\f154"; }
.decorator-ametysmisc-hammer23:after { content: "\f155"; }
.decorator-ametysmisc-hand:after { content: "\f156"; }
.decorator-ametysmisc-house3:after { content: "\f157"; }
.decorator-ametysmisc-html8:after { content: "\f158"; }
.decorator-ametysmisc-html9:after { content: "\f159"; }
.decorator-ametysmisc-id16:after { content: "\f15a"; }
.decorator-ametysmisc-id17:after { content: "\f15b"; }
.decorator-ametysmisc-identification63:after { content: "\f15c"; }
.decorator-ametysmisc-import1:after { content: "\f15d"; }
.decorator-ametysmisc-index-finger:after { content: "\f15e"; }
.decorator-ametysmisc-info28:after { content: "\f15f"; }
.decorator-ametysmisc-interface:after { content: "\f160"; }
.decorator-ametysmisc-interface-1:after { content: "\f161"; }
.decorator-ametysmisc-internet58:after { content: "\f162"; }
.decorator-ametysmisc-jar3:after { content: "\f163"; }
.decorator-ametysmisc-jpg2:after { content: "\f164"; }
.decorator-ametysmisc-key162:after { content: "\f165"; }
.decorator-ametysmisc-keyboard-right-arrow-button:after { content: "\f166"; }
.decorator-ametysmisc-keyword3:after { content: "\f167"; }
.decorator-ametysmisc-kitchen-tools1:after { content: "\f168"; }
.decorator-ametysmisc-label49:after { content: "\f169"; }
.decorator-ametysmisc-layout29:after { content: "\f16a"; }
.decorator-ametysmisc-letter-x5:after { content: "\f16b"; }
.decorator-ametysmisc-link23:after { content: "\f16c"; }
.decorator-ametysmisc-link55:after { content: "\f16d"; }
.decorator-ametysmisc-link95:after { content: "\f16e"; }
.decorator-ametysmisc-list24:after { content: "\f16f"; }
.decorator-ametysmisc-list6:after { content: "\f170"; }
.decorator-ametysmisc-lock81:after { content: "\f171"; }
.decorator-ametysmisc-log1:after { content: "\f172"; }
.decorator-ametysmisc-magnifier12:after { content: "\f173"; }
.decorator-ametysmisc-magnifier41:after { content: "\f174"; }
.decorator-ametysmisc-magnifying-glass15:after { content: "\f175"; }
.decorator-ametysmisc-map32:after { content: "\f176"; }
.decorator-ametysmisc-map47:after { content: "\f177"; }
.decorator-ametysmisc-marker20:after { content: "\f178"; }
.decorator-ametysmisc-medical:after { content: "\f179"; }
.decorator-ametysmisc-medical-equipment:after { content: "\f17a"; }
.decorator-ametysmisc-megaphone19:after { content: "\f17b"; }
.decorator-ametysmisc-minus-sign4:after { content: "\f17c"; }
.decorator-ametysmisc-mp3:after { content: "\f17d"; }
.decorator-ametysmisc-multiple25:after { content: "\f17e"; }
.decorator-ametysmisc-music168:after { content: "\f17f"; }
.decorator-ametysmisc-music178:after { content: "\f180"; }
.decorator-ametysmisc-music236:after { content: "\f181"; }
.decorator-ametysmisc-navigate2:after { content: "\f182"; }
.decorator-ametysmisc-navigate6:after { content: "\f183"; }
.decorator-ametysmisc-news15:after { content: "\f184"; }
.decorator-ametysmisc-newspaper1:after { content: "\f185"; }
.decorator-ametysmisc-next25:after { content: "\f186"; }
.decorator-ametysmisc-note20:after { content: "\f187"; }
.decorator-ametysmisc-odp2:after { content: "\f188"; }
.decorator-ametysmisc-odt5:after { content: "\f189"; }
.decorator-ametysmisc-opened29:after { content: "\f18a"; }
.decorator-ametysmisc-organization1:after { content: "\f18b"; }
.decorator-ametysmisc-padlock79:after { content: "\f18c"; }
.decorator-ametysmisc-paint88:after { content: "\f18d"; }
.decorator-ametysmisc-painter14:after { content: "\f18e"; }
.decorator-ametysmisc-paper11:after { content: "\f18f"; }
.decorator-ametysmisc-password13:after { content: "\f190"; }
.decorator-ametysmisc-pause:after { content: "\f191"; }
.decorator-ametysmisc-pdf17:after { content: "\f192"; }
.decorator-ametysmisc-pdf28:after { content: "\f193"; }
.decorator-ametysmisc-people:after { content: "\f194"; }
.decorator-ametysmisc-picture62:after { content: "\f195"; }
.decorator-ametysmisc-placeholder19:after { content: "\f196"; }
.decorator-ametysmisc-play124:after { content: "\f197"; }
.decorator-ametysmisc-play7:after { content: "\f198"; }
.decorator-ametysmisc-plus51:after { content: "\f199"; }
.decorator-ametysmisc-png4:after { content: "\f19a"; }
.decorator-ametysmisc-portable-document-format:after { content: "\f19b"; }
.decorator-ametysmisc-power110:after { content: "\f19c"; }
.decorator-ametysmisc-pps2:after { content: "\f19d"; }
.decorator-ametysmisc-ppt:after { content: "\f19e"; }
.decorator-ametysmisc-pptx:after { content: "\f19f"; }
.decorator-ametysmisc-previous14:after { content: "\f1a0"; }
.decorator-ametysmisc-previous16:after { content: "\f1a1"; }
.decorator-ametysmisc-printer67:after { content: "\f1a2"; }
.decorator-ametysmisc-psd3:after { content: "\f1a3"; }
.decorator-ametysmisc-puzzle-piece1:after { content: "\f1a4"; }
.decorator-ametysmisc-puzzle33:after { content: "\f1a5"; }
.decorator-ametysmisc-question-mark1:after { content: "\f1a6"; }
.decorator-ametysmisc-question13:after { content: "\f1a7"; }
.decorator-ametysmisc-rar:after { content: "\f1a8"; }
.decorator-ametysmisc-reload8:after { content: "\f1a9"; }
.decorator-ametysmisc-remove11:after { content: "\f1aa"; }
.decorator-ametysmisc-return10:after { content: "\f1ab"; }
.decorator-ametysmisc-rubbish7:after { content: "\f1ac"; }
.decorator-ametysmisc-save31:after { content: "\f1ad"; }
.decorator-ametysmisc-school:after { content: "\f1ae"; }
.decorator-ametysmisc-search102:after { content: "\f1af"; }
.decorator-ametysmisc-search16:after { content: "\f1b0"; }
.decorator-ametysmisc-search99:after { content: "\f1b1"; }
.decorator-ametysmisc-server:after { content: "\f1b2"; }
.decorator-ametysmisc-server19:after { content: "\f1b3"; }
.decorator-ametysmisc-share40:after { content: "\f1b4"; }
.decorator-ametysmisc-sitemap1:after { content: "\f1b5"; }
.decorator-ametysmisc-sitemap1-1:after { content: "\f1b6"; }
.decorator-ametysmisc-sort48:after { content: "\f1b7"; }
.decorator-ametysmisc-sort51:after { content: "\f1b8"; }
.decorator-ametysmisc-squares36:after { content: "\f1b9"; }
.decorator-ametysmisc-star129:after { content: "\f1ba"; }
.decorator-ametysmisc-stats144:after { content: "\f1bb"; }
.decorator-ametysmisc-stop5:after { content: "\f1bc"; }
.decorator-ametysmisc-tables:after { content: "\f1bd"; }
.decorator-ametysmisc-tag-search-filter:after { content: "\f1be"; }
.decorator-ametysmisc-tag25:after { content: "\f1bf"; }
.decorator-ametysmisc-tar1:after { content: "\f1c0"; }
.decorator-ametysmisc-tasks1:after { content: "\f1c1"; }
.decorator-ametysmisc-test20:after { content: "\f1c2"; }
.decorator-ametysmisc-text-file10:after { content: "\f1c3"; }
.decorator-ametysmisc-text1:after { content: "\f1c4"; }
.decorator-ametysmisc-text61:after { content: "\f1c5"; }
.decorator-ametysmisc-text70:after { content: "\f1c6"; }
.decorator-ametysmisc-three103:after { content: "\f1c7"; }
.decorator-ametysmisc-three115:after { content: "\f1c8"; }
.decorator-ametysmisc-tie6:after { content: "\f1c9"; }
.decorator-ametysmisc-time33:after { content: "\f1ca"; }
.decorator-ametysmisc-time51:after { content: "\f1cb"; }
.decorator-ametysmisc-tool:after { content: "\f1cc"; }
.decorator-ametysmisc-translation:after { content: "\f1cd"; }
.decorator-ametysmisc-transport10:after { content: "\f1ce"; }
.decorator-ametysmisc-triangle1:after { content: "\f1cf"; }
.decorator-ametysmisc-turn-right5:after { content: "\f1d0"; }
.decorator-ametysmisc-twitter-logo:after { content: "\f1d1"; }
.decorator-ametysmisc-txt:after { content: "\f1d2"; }
.decorator-ametysmisc-upload119:after { content: "\f1d3"; }
.decorator-ametysmisc-user81:after { content: "\f1d4"; }
.decorator-ametysmisc-verified9:after { content: "\f1d5"; }
.decorator-ametysmisc-visibility1:after { content: "\f1d6"; }
.decorator-ametysmisc-web62:after { content: "\f1d7"; }
.decorator-ametysmisc-website17:after { content: "\f1d8"; }
.decorator-ametysmisc-website2:after { content: "\f1d9"; }
.decorator-ametysmisc-website38:after { content: "\f1da"; }
.decorator-ametysmisc-wiping16:after { content: "\f1db"; }
.decorator-ametysmisc-worker5:after { content: "\f1dc"; }
.decorator-ametysmisc-world91:after { content: "\f1dd"; }
.decorator-ametysmisc-write13:after { content: "\f1de"; }
.decorator-ametysmisc-xls1:after { content: "\f1df"; }
.decorator-ametysmisc-xlsx:after { content: "\f1e0"; }
.decorator-ametysmisc-xml6:after { content: "\f1e1"; }
.decorator-ametysmisc-youtube18:after { content: "\f1e2"; }
.decorator-ametysmisc-zip14:after { content: "\f1e3"; }
.decorator-ametysmisc-zip6:after { content: "\f1e4"; }