	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/06/2016 17:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="decorator-flaticon-"]:after, [class*=" decorator-flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.decorator-flaticon-abecedary4:after { content: "\f100"; }
.decorator-flaticon-add64:after { content: "\f101"; }
.decorator-flaticon-agenda3:after { content: "\f102"; }
.decorator-flaticon-alert9:after { content: "\f103"; }
.decorator-flaticon-alphabetical2:after { content: "\f104"; }
.decorator-flaticon-applicattion:after { content: "\f105"; }
.decorator-flaticon-archive18:after { content: "\f106"; }
.decorator-flaticon-arrow123:after { content: "\f107"; }
.decorator-flaticon-arrow483:after { content: "\f108"; }
.decorator-flaticon-arrow73:after { content: "\f109"; }
.decorator-flaticon-arrow88:after { content: "\f10a"; }
.decorator-flaticon-arrows130:after { content: "\f10b"; }
.decorator-flaticon-bell72:after { content: "\f10c"; }
.decorator-flaticon-bell84:after { content: "\f10d"; }
.decorator-flaticon-black302:after { content: "\f10e"; }
.decorator-flaticon-black391:after { content: "\f10f"; }
.decorator-flaticon-blank32:after { content: "\f110"; }
.decorator-flaticon-book255:after { content: "\f111"; }
.decorator-flaticon-box6:after { content: "\f112"; }
.decorator-flaticon-bugs3:after { content: "\f113"; }
.decorator-flaticon-calendar-with-a-clock-time-tools:after { content: "\f114"; }
.decorator-flaticon-calendar146:after { content: "\f115"; }
.decorator-flaticon-camera3:after { content: "\f116"; }
.decorator-flaticon-cancel32:after { content: "\f117"; }
.decorator-flaticon-carnival23:after { content: "\f118"; }
.decorator-flaticon-catalog2:after { content: "\f119"; }
.decorator-flaticon-categories:after { content: "\f11a"; }
.decorator-flaticon-caution9:after { content: "\f11b"; }
.decorator-flaticon-check34:after { content: "\f11c"; }
.decorator-flaticon-check51:after { content: "\f11d"; }
.decorator-flaticon-checked34:after { content: "\f11e"; }
.decorator-flaticon-checking3:after { content: "\f11f"; }
.decorator-flaticon-chevron8:after { content: "\f120"; }
.decorator-flaticon-clip26:after { content: "\f121"; }
.decorator-flaticon-clock169:after { content: "\f122"; }
.decorator-flaticon-clock56:after { content: "\f123"; }
.decorator-flaticon-cogwheels12:after { content: "\f124"; }
.decorator-flaticon-column3:after { content: "\f125"; }
.decorator-flaticon-comments1:after { content: "\f126"; }
.decorator-flaticon-computer196:after { content: "\f127"; }
.decorator-flaticon-computing10:after { content: "\f128"; }
.decorator-flaticon-connection4:after { content: "\f129"; }
.decorator-flaticon-cpu6:after { content: "\f12a"; }
.decorator-flaticon-css5:after { content: "\f12b"; }
.decorator-flaticon-csv:after { content: "\f12c"; }
.decorator-flaticon-dark4:after { content: "\f12d"; }
.decorator-flaticon-data110:after { content: "\f12e"; }
.decorator-flaticon-data112:after { content: "\f12f"; }
.decorator-flaticon-delete30:after { content: "\f130"; }
.decorator-flaticon-development:after { content: "\f131"; }
.decorator-flaticon-doc:after { content: "\f132"; }
.decorator-flaticon-document112:after { content: "\f133"; }
.decorator-flaticon-document209:after { content: "\f134"; }
.decorator-flaticon-document28:after { content: "\f135"; }
.decorator-flaticon-document290:after { content: "\f136"; }
.decorator-flaticon-document77:after { content: "\f137"; }
.decorator-flaticon-document9:after { content: "\f138"; }
.decorator-flaticon-documents12:after { content: "\f139"; }
.decorator-flaticon-docx:after { content: "\f13a"; }
.decorator-flaticon-earth1:after { content: "\f13b"; }
.decorator-flaticon-earth23:after { content: "\f13c"; }
.decorator-flaticon-edit45:after { content: "\f13d"; }
.decorator-flaticon-edit5:after { content: "\f13e"; }
.decorator-flaticon-envelope14:after { content: "\f13f"; }
.decorator-flaticon-envelope64:after { content: "\f140"; }
.decorator-flaticon-eraser11:after { content: "\f141"; }
.decorator-flaticon-expand16:after { content: "\f142"; }
.decorator-flaticon-external-link:after { content: "\f143"; }
.decorator-flaticon-eye-blocked:after { content: "\f144"; }
.decorator-flaticon-facebook-logo:after { content: "\f145"; }
.decorator-flaticon-facebook29:after { content: "\f146"; }
.decorator-flaticon-file229:after { content: "\f147"; }
.decorator-flaticon-file289:after { content: "\f148"; }
.decorator-flaticon-file94:after { content: "\f149"; }
.decorator-flaticon-file98:after { content: "\f14a"; }
.decorator-flaticon-flag28:after { content: "\f14b"; }
.decorator-flaticon-folder249:after { content: "\f14c"; }
.decorator-flaticon-folder250:after { content: "\f14d"; }
.decorator-flaticon-forbidden1:after { content: "\f14e"; }
.decorator-flaticon-gallery7:after { content: "\f14f"; }
.decorator-flaticon-garbage11:after { content: "\f150"; }
.decorator-flaticon-gear39:after { content: "\f151"; }
.decorator-flaticon-google-glass-logo:after { content: "\f152"; }
.decorator-flaticon-google-plus:after { content: "\f153"; }
.decorator-flaticon-hammer2:after { content: "\f154"; }
.decorator-flaticon-hammer23:after { content: "\f155"; }
.decorator-flaticon-hand:after { content: "\f156"; }
.decorator-flaticon-house3:after { content: "\f157"; }
.decorator-flaticon-html8:after { content: "\f158"; }
.decorator-flaticon-html9:after { content: "\f159"; }
.decorator-flaticon-id16:after { content: "\f15a"; }
.decorator-flaticon-id17:after { content: "\f15b"; }
.decorator-flaticon-identification63:after { content: "\f15c"; }
.decorator-flaticon-import1:after { content: "\f15d"; }
.decorator-flaticon-index-finger:after { content: "\f15e"; }
.decorator-flaticon-info28:after { content: "\f15f"; }
.decorator-flaticon-interface:after { content: "\f160"; }
.decorator-flaticon-interface-1:after { content: "\f161"; }
.decorator-flaticon-internet58:after { content: "\f162"; }
.decorator-flaticon-jar3:after { content: "\f163"; }
.decorator-flaticon-jpg2:after { content: "\f164"; }
.decorator-flaticon-key162:after { content: "\f165"; }
.decorator-flaticon-keyboard-right-arrow-button:after { content: "\f166"; }
.decorator-flaticon-keyword3:after { content: "\f167"; }
.decorator-flaticon-kitchen-tools1:after { content: "\f168"; }
.decorator-flaticon-label49:after { content: "\f169"; }
.decorator-flaticon-layout29:after { content: "\f16a"; }
.decorator-flaticon-letter-x5:after { content: "\f16b"; }
.decorator-flaticon-link23:after { content: "\f16c"; }
.decorator-flaticon-link55:after { content: "\f16d"; }
.decorator-flaticon-link95:after { content: "\f16e"; }
.decorator-flaticon-list24:after { content: "\f16f"; }
.decorator-flaticon-list6:after { content: "\f170"; }
.decorator-flaticon-lock81:after { content: "\f171"; }
.decorator-flaticon-log1:after { content: "\f172"; }
.decorator-flaticon-magnifier12:after { content: "\f173"; }
.decorator-flaticon-magnifier41:after { content: "\f174"; }
.decorator-flaticon-magnifying-glass15:after { content: "\f175"; }
.decorator-flaticon-map32:after { content: "\f176"; }
.decorator-flaticon-map47:after { content: "\f177"; }
.decorator-flaticon-marker20:after { content: "\f178"; }
.decorator-flaticon-medical:after { content: "\f179"; }
.decorator-flaticon-medical-equipment:after { content: "\f17a"; }
.decorator-flaticon-megaphone19:after { content: "\f17b"; }
.decorator-flaticon-minus-sign4:after { content: "\f17c"; }
.decorator-flaticon-mp3:after { content: "\f17d"; }
.decorator-flaticon-multiple25:after { content: "\f17e"; }
.decorator-flaticon-music168:after { content: "\f17f"; }
.decorator-flaticon-music178:after { content: "\f180"; }
.decorator-flaticon-music236:after { content: "\f181"; }
.decorator-flaticon-navigate2:after { content: "\f182"; }
.decorator-flaticon-navigate6:after { content: "\f183"; }
.decorator-flaticon-news15:after { content: "\f184"; }
.decorator-flaticon-newspaper1:after { content: "\f185"; }
.decorator-flaticon-next25:after { content: "\f186"; }
.decorator-flaticon-note20:after { content: "\f187"; }
.decorator-flaticon-odp2:after { content: "\f188"; }
.decorator-flaticon-odt5:after { content: "\f189"; }
.decorator-flaticon-opened29:after { content: "\f18a"; }
.decorator-flaticon-organization1:after { content: "\f18b"; }
.decorator-flaticon-padlock79:after { content: "\f18c"; }
.decorator-flaticon-paint88:after { content: "\f18d"; }
.decorator-flaticon-painter14:after { content: "\f18e"; }
.decorator-flaticon-paper11:after { content: "\f18f"; }
.decorator-flaticon-password13:after { content: "\f190"; }
.decorator-flaticon-pause:after { content: "\f191"; }
.decorator-flaticon-pdf17:after { content: "\f192"; }
.decorator-flaticon-pdf28:after { content: "\f193"; }
.decorator-flaticon-people:after { content: "\f194"; }
.decorator-flaticon-picture62:after { content: "\f195"; }
.decorator-flaticon-placeholder19:after { content: "\f196"; }
.decorator-flaticon-play124:after { content: "\f197"; }
.decorator-flaticon-play7:after { content: "\f198"; }
.decorator-flaticon-plus51:after { content: "\f199"; }
.decorator-flaticon-png4:after { content: "\f19a"; }
.decorator-flaticon-portable-document-format:after { content: "\f19b"; }
.decorator-flaticon-power110:after { content: "\f19c"; }
.decorator-flaticon-pps2:after { content: "\f19d"; }
.decorator-flaticon-ppt:after { content: "\f19e"; }
.decorator-flaticon-pptx:after { content: "\f19f"; }
.decorator-flaticon-previous14:after { content: "\f1a0"; }
.decorator-flaticon-previous16:after { content: "\f1a1"; }
.decorator-flaticon-printer67:after { content: "\f1a2"; }
.decorator-flaticon-psd3:after { content: "\f1a3"; }
.decorator-flaticon-puzzle-piece1:after { content: "\f1a4"; }
.decorator-flaticon-puzzle33:after { content: "\f1a5"; }
.decorator-flaticon-question-mark1:after { content: "\f1a6"; }
.decorator-flaticon-question13:after { content: "\f1a7"; }
.decorator-flaticon-rar:after { content: "\f1a8"; }
.decorator-flaticon-reload8:after { content: "\f1a9"; }
.decorator-flaticon-remove11:after { content: "\f1aa"; }
.decorator-flaticon-return10:after { content: "\f1ab"; }
.decorator-flaticon-rubbish7:after { content: "\f1ac"; }
.decorator-flaticon-save31:after { content: "\f1ad"; }
.decorator-flaticon-school:after { content: "\f1ae"; }
.decorator-flaticon-search102:after { content: "\f1af"; }
.decorator-flaticon-search16:after { content: "\f1b0"; }
.decorator-flaticon-search99:after { content: "\f1b1"; }
.decorator-flaticon-server:after { content: "\f1b2"; }
.decorator-flaticon-server19:after { content: "\f1b3"; }
.decorator-flaticon-share40:after { content: "\f1b4"; }
.decorator-flaticon-sitemap1:after { content: "\f1b5"; }
.decorator-flaticon-sitemap1-1:after { content: "\f1b6"; }
.decorator-flaticon-sort48:after { content: "\f1b7"; }
.decorator-flaticon-sort51:after { content: "\f1b8"; }
.decorator-flaticon-squares36:after { content: "\f1b9"; }
.decorator-flaticon-star129:after { content: "\f1ba"; }
.decorator-flaticon-stats144:after { content: "\f1bb"; }
.decorator-flaticon-stop5:after { content: "\f1bc"; }
.decorator-flaticon-tables:after { content: "\f1bd"; }
.decorator-flaticon-tag-search-filter:after { content: "\f1be"; }
.decorator-flaticon-tag25:after { content: "\f1bf"; }
.decorator-flaticon-tar1:after { content: "\f1c0"; }
.decorator-flaticon-tasks1:after { content: "\f1c1"; }
.decorator-flaticon-test20:after { content: "\f1c2"; }
.decorator-flaticon-text-file10:after { content: "\f1c3"; }
.decorator-flaticon-text1:after { content: "\f1c4"; }
.decorator-flaticon-text61:after { content: "\f1c5"; }
.decorator-flaticon-text70:after { content: "\f1c6"; }
.decorator-flaticon-three103:after { content: "\f1c7"; }
.decorator-flaticon-three115:after { content: "\f1c8"; }
.decorator-flaticon-tie6:after { content: "\f1c9"; }
.decorator-flaticon-time33:after { content: "\f1ca"; }
.decorator-flaticon-time51:after { content: "\f1cb"; }
.decorator-flaticon-tool:after { content: "\f1cc"; }
.decorator-flaticon-translation:after { content: "\f1cd"; }
.decorator-flaticon-transport10:after { content: "\f1ce"; }
.decorator-flaticon-triangle1:after { content: "\f1cf"; }
.decorator-flaticon-turn-right5:after { content: "\f1d0"; }
.decorator-flaticon-twitter-logo:after { content: "\f1d1"; }
.decorator-flaticon-txt:after { content: "\f1d2"; }
.decorator-flaticon-upload119:after { content: "\f1d3"; }
.decorator-flaticon-user81:after { content: "\f1d4"; }
.decorator-flaticon-verified9:after { content: "\f1d5"; }
.decorator-flaticon-visibility1:after { content: "\f1d6"; }
.decorator-flaticon-web62:after { content: "\f1d7"; }
.decorator-flaticon-website17:after { content: "\f1d8"; }
.decorator-flaticon-website2:after { content: "\f1d9"; }
.decorator-flaticon-website38:after { content: "\f1da"; }
.decorator-flaticon-wiping16:after { content: "\f1db"; }
.decorator-flaticon-worker5:after { content: "\f1dc"; }
.decorator-flaticon-world91:after { content: "\f1dd"; }
.decorator-flaticon-write13:after { content: "\f1de"; }
.decorator-flaticon-xls1:after { content: "\f1df"; }
.decorator-flaticon-xlsx:after { content: "\f1e0"; }
.decorator-flaticon-xml6:after { content: "\f1e1"; }
.decorator-flaticon-youtube18:after { content: "\f1e2"; }
.decorator-flaticon-zip14:after { content: "\f1e3"; }
.decorator-flaticon-zip6:after { content: "\f1e4"; }