<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2009 Anyware Services

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   -->
<plugin xmlns="http://www.ametys.org/schema/plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ametys.org/schema/plugin http://www.ametys.org/schema/plugin-2.0.xsd"
        runtimeVersion="2.0" version="2.0">
         
    <extension-points>
        <extension-point id="DesktopManagerTest" 
                		 class="org.ametys.runtime.plugins.core.ui.item.DesktopManager">
               <actions>
                   <category name="ONE">
                       <item id="staticuiitemfactorytest.1"/>
                   </category>
           
                   <category name="TWO">
                       <item id="staticuiitemfactorytest.3"/>
                       <item id="staticuiitemfactorytest.4"/>
                   </category>
                   
                   <category name="FOUR">
                       <separator/>
                   </category>
               </actions>                
        </extension-point>
    </extension-points>
         
    <feature name="staticuiitemfactorytest">
        <extensions>
            <!-- Single class item -->
            <extension point="DesktopManagerTest" 
                       id="staticuiitemfactorytest.1"
                       class="org.ametys.runtime.ui.impl.StaticClientSideElement"
                       logger="tests.staticuiitemfactory">
                
                <class name="JavascriptClass">
					<param name="label" i18n="true">label</param>
					<param name="default-description" i18n="true">description</param>
					<param name="icon-small" file="true">img/icon_small.gif</param>
					<param name="icon-medium" file="true">img/icon_medium.gif</param>
					<param name="icon-large" file="true">img/icon_large.gif</param>
				</class>   
				<scripts>
					<file>js/script.js</file>
				</scripts> 
            </extension>

            <!-- Single link item -->
            <extension point="DesktopManagerTest" 
                       id="staticuiitemfactorytest.3"
                       class="org.ametys.runtime.ui.impl.StaticClientSideElement"
                       logger="tests.staticuiitemfactory">
                <class name="org.ametys.runtime.Link">
					<param name="Link">myurl.html</param>
					<param name="Mode">plugin-wrapped</param>

					<param name="label" i18n="true">label</param>
					<param name="default-description" i18n="true">description</param>
					<param name="icon-small" file="true">img/icon_small.gif</param>
					<param name="icon-medium" file="true">img/icon_medium.gif</param>
					<param name="icon-large" file="true">img/icon_large.gif</param>
				</class>    
            </extension>
            
            <!-- Other plugin items -->
            <extension point="DesktopManagerTest" 
                       id="staticuiitemfactorytest.4"
                       class="org.ametys.runtime.ui.impl.StaticClientSideElement"
                       logger="tests.staticuiitemfactory">
                <class name="OtherJavascriptClass">
					<param name="label" i18n="true">othercatalogue:label</param>
					<param name="default-description" i18n="true">plugin.otherplugin:description</param>
					<param name="icon-small" file="true" plugin="core">img/icon_small.gif</param>
					<param name="icon-medium" file="true" plugin="core">img/icon_medium.gif</param>
					<param name="icon-large" file="true" plugin="core">img/icon_large.gif</param>
				</class>
				<scripts>
					<file plugin="core">js/script.js</file>
				</scripts> 
            </extension>
            
            <extension point="DesktopManagerTest" 
                       id="staticuiitemfactorytest.5"
                       class="org.ametys.runtime.ui.impl.StaticClientSideElement"
                       logger="tests.staticuiitemfactory">
                <class name="OtherJavascriptClass">
					<param name="label" i18n="true">plugin.test:LABEL</param>
					<param name="default-description" i18n="true">plugin.test:DESCRIPTION</param>
					<param name="icon-small" file="true" plugin="core">img/icon_small.gif</param>
					<param name="icon-medium" file="true" plugin="core">img/icon_medium.gif</param>
					<param name="icon-large" file="true" plugin="core">img/icon_large.gif</param>
				</class>
				<menu-items>
					<item id="staticuiitemfactorytest.menuitem.1">
						<class name="OtherJavascriptClass">
							<param name="label" i18n="true">plugin.test:LABEL</param>
				   		</class>
				   	</item>
				   	<item id="staticuiitemfactorytest.menuitem.2">
						<class name="OtherJavascriptClass">
							<param name="label" i18n="true">plugin.test:LABEL</param>
				   		</class>
				   	</item>
				</menu-items>
				<scripts>
					<file plugin="core">js/script.js</file>
				</scripts> 
            </extension>
        </extensions>
    
    </feature>
    
</plugin>