<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2010 Anyware Services

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="lf5-servlet" class="org.apache.log4j.lf5.LF5Appender"/>
    
    <appender name="servlet" class="org.apache.log4j.rolling.RollingFileAppender">
	    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
	      <param name="FileNamePattern" value="${ametys.home.dir}/logs/servlet-engine-%d.log"/>
	    </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d %-5p [%c] (%t;%X{requestURI}) %m%n"/> 
        </layout>
        <filter class="org.ametys.core.util.AmetysExceptionFilter"/>
    </appender>
	
    <!-- iBatis logs as debug -->
    <!-- 
    <category name="java.sql" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>
    -->
    
    <!-- All runtime and runtime plugins logs -->
    <category name="org.ametys.runtime" additivity="false">
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>

    <!-- Administration logs -->
    <category name="org.ametys.runtime.plugins.admin.sitemap" additivity="false">
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>

    <!-- Users plugin logs -->
    <category name="org.ametys.runtime.plugins.core.user.sitemap" additivity="false">
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>

    <!-- Groups plugin logs -->
    <category name="org.ametys.runtime.plugins.core.group.sitemap" additivity="false">
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>
    
    <!-- Profiles plugin logs -->
    <category name="org.ametys.runtime.plugins.core.right.profile.sitemap" additivity="false">
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>
    
    <!-- Right assignment logs -->
    <category name="org.ametys.runtime.plugins.core.right.sitemap" additivity="false">
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>
    
    <!-- Monitoring -->
    <category name="org.ametys.runtime.plugins.admin.jvmstatus.monitoring" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </category>    
    
    <root>
        <priority value="info"/>
        <appender-ref ref="lf5-servlet"/>
        <appender-ref ref="servlet"/>
    </root>
</log4j:configuration>
