<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2009 Anyware Services

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   -->
<plugin xmlns="http://www.ametys.org/schema/plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ametys.org/schema/plugin http://www.ametys.org/schema/plugin-2.0.xsd"
        runtimeVersion="2.0" version="2.0">
	<extension-points>
        <extension-point class="org.ametys.runtime.test.plugins.TestExtensionPoint" id="ep-test"/>
        <extension-point class="org.ametys.runtime.test.plugins.TestComponentBasedExtensionPoint" id="ep-component-test"/>
        <single-extension-point class="org.ametys.runtime.test.plugins.TestSingleExtensionPoint" id="sep-test" default-extension-id="org.ametys.runtime.test.Default"/>
        <single-extension-point class="org.ametys.runtime.test.plugins.TestSingleExtensionPoint" id="sep-test2" default-extension-id="org.ametys.runtime.test.Default"/>
	</extension-points>
    
    <feature name="test-feature">
        <extensions>
            <extension point="sep-test" id="org.ametys.runtime.test.Default" class="org.ametys.runtime.test.plugins.TestSingleExtensionPoint"/>
            <extension point="sep-test2" id="org.ametys.runtime.test.Default2" class="org.ametys.runtime.test.plugins.TestSingleExtensionPoint"/>
            <extension point="ep-test" id="org.ametys.runtime.test.EP" class="org.ametys.runtime.test.plugins.TestExtension"/>
            <extension point="ep-component-test" id="org.ametys.runtime.test.EP" class="org.ametys.runtime.test.plugins.TestExtension"/>
        </extensions>
    </feature>
</plugin>