@font-face {
    font-family: 'AmetysIcon';
    src: url('AmetysIcon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="ametysicon-"]:before, [class*=" ametysicon-"]:before,
[class^="decorator-ametysicon-"]:after, [class*=" decorator-ametysicon-"]:after
{
   font-family: 'AmetysIcon';
   font-style: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.ametysicon-abecedary4:before{content:'\e000';}
.decorator-ametysicon-abecedary4:after{content:'\e000';}
.ametysicon-add64:before{content:'\e001';}
.decorator-ametysicon-add64:after{content:'\e001';}
.ametysicon-agenda3:before{content:'\e002';}
.decorator-ametysicon-agenda3:after{content:'\e002';}
.ametysicon-alert9:before{content:'\e003';}
.decorator-ametysicon-alert9:after{content:'\e003';}
.ametysicon-alignment:before{content:'\e004';}
.decorator-ametysicon-alignment:after{content:'\e004';}
.ametysicon-alignment1:before{content:'\e005';}
.decorator-ametysicon-alignment1:after{content:'\e005';}
.ametysicon-alphabetical2:before{content:'\e006';}
.decorator-ametysicon-alphabetical2:after{content:'\e006';}
.ametysicon-ametys:before{content:'\e007';}
.decorator-ametysicon-ametys:after{content:'\e007';}
.ametysicon-applicattion:before{content:'\e008';}
.decorator-ametysicon-applicattion:after{content:'\e008';}
.ametysicon-archive18:before{content:'\e009';}
.decorator-ametysicon-archive18:after{content:'\e009';}
.ametysicon-arrow123:before{content:'\e00a';}
.decorator-ametysicon-arrow123:after{content:'\e00a';}
.ametysicon-arrow483:before{content:'\e00b';}
.decorator-ametysicon-arrow483:after{content:'\e00b';}
.ametysicon-arrow73:before{content:'\e00c';}
.decorator-ametysicon-arrow73:after{content:'\e00c';}
.ametysicon-arrow88:before{content:'\e00d';}
.decorator-ametysicon-arrow88:after{content:'\e00d';}
.ametysicon-arrows130:before{content:'\e00e';}
.decorator-ametysicon-arrows130:after{content:'\e00e';}
.ametysicon-bell72:before{content:'\e00f';}
.decorator-ametysicon-bell72:after{content:'\e00f';}
.ametysicon-bell84:before{content:'\e010';}
.decorator-ametysicon-bell84:after{content:'\e010';}
.ametysicon-black302:before{content:'\e011';}
.decorator-ametysicon-black302:after{content:'\e011';}
.ametysicon-black391:before{content:'\e012';}
.decorator-ametysicon-black391:after{content:'\e012';}
.ametysicon-blank32:before{content:'\e013';}
.decorator-ametysicon-blank32:after{content:'\e013';}
.ametysicon-bold14:before{content:'\e014';}
.decorator-ametysicon-bold14:after{content:'\e014';}
.ametysicon-book255:before{content:'\e015';}
.decorator-ametysicon-book255:after{content:'\e015';}
.ametysicon-box6:before{content:'\e016';}
.decorator-ametysicon-box6:after{content:'\e016';}
.ametysicon-bugs3:before{content:'\e017';}
.decorator-ametysicon-bugs3:after{content:'\e017';}
.ametysicon-calendar146:before{content:'\e018';}
.decorator-ametysicon-calendar146:after{content:'\e018';}
.ametysicon-camera3:before{content:'\e019';}
.decorator-ametysicon-camera3:after{content:'\e019';}
.ametysicon-cancel32:before{content:'\e01a';}
.decorator-ametysicon-cancel32:after{content:'\e01a';}
.ametysicon-carnival23:before{content:'\e01b';}
.decorator-ametysicon-carnival23:after{content:'\e01b';}
.ametysicon-catalog2:before{content:'\e01c';}
.decorator-ametysicon-catalog2:after{content:'\e01c';}
.ametysicon-categories:before{content:'\e01d';}
.decorator-ametysicon-categories:after{content:'\e01d';}
.ametysicon-caution9:before{content:'\e01e';}
.decorator-ametysicon-caution9:after{content:'\e01e';}
.ametysicon-character:before{content:'\e01f';}
.decorator-ametysicon-character:after{content:'\e01f';}
.ametysicon-check34:before{content:'\e020';}
.decorator-ametysicon-check34:after{content:'\e020';}
.ametysicon-check51:before{content:'\e021';}
.decorator-ametysicon-check51:after{content:'\e021';}
.ametysicon-checked-box:before{content:'\e022';}
.decorator-ametysicon-checked-box:after{content:'\e022';}
.ametysicon-checked34:before{content:'\e023';}
.decorator-ametysicon-checked34:after{content:'\e023';}
.ametysicon-checking3:before{content:'\e024';}
.decorator-ametysicon-checking3:after{content:'\e024';}
.ametysicon-chevron8:before{content:'\e025';}
.decorator-ametysicon-chevron8:after{content:'\e025';}
.ametysicon-clip26:before{content:'\e026';}
.decorator-ametysicon-clip26:after{content:'\e026';}
.ametysicon-clipboard99:before{content:'\e027';}
.decorator-ametysicon-clipboard99:after{content:'\e027';}
.ametysicon-clock169:before{content:'\e028';}
.decorator-ametysicon-clock169:after{content:'\e028';}
.ametysicon-clock56:before{content:'\e029';}
.decorator-ametysicon-clock56:after{content:'\e029';}
.ametysicon-cogwheels12:before{content:'\e02a';}
.decorator-ametysicon-cogwheels12:after{content:'\e02a';}
.ametysicon-column3:before{content:'\e02b';}
.decorator-ametysicon-column3:after{content:'\e02b';}
.ametysicon-comments1:before{content:'\e02c';}
.decorator-ametysicon-comments1:after{content:'\e02c';}
.ametysicon-computer196:before{content:'\e02d';}
.decorator-ametysicon-computer196:after{content:'\e02d';}
.ametysicon-computing10:before{content:'\e02e';}
.decorator-ametysicon-computing10:after{content:'\e02e';}
.ametysicon-connection4:before{content:'\e02f';}
.decorator-ametysicon-connection4:after{content:'\e02f';}
.ametysicon-cpu6:before{content:'\e030';}
.decorator-ametysicon-cpu6:after{content:'\e030';}
.ametysicon-css5:before{content:'\e031';}
.decorator-ametysicon-css5:after{content:'\e031';}
.ametysicon-csv:before{content:'\e032';}
.decorator-ametysicon-csv:after{content:'\e032';}
.ametysicon-curve4:before{content:'\e033';}
.decorator-ametysicon-curve4:after{content:'\e033';}
.ametysicon-dark4:before{content:'\e034';}
.decorator-ametysicon-dark4:after{content:'\e034';}
.ametysicon-data110:before{content:'\e035';}
.decorator-ametysicon-data110:after{content:'\e035';}
.ametysicon-data112:before{content:'\e036';}
.decorator-ametysicon-data112:after{content:'\e036';}
.ametysicon-datetime:before{content:'\e037';}
.decorator-ametysicon-datetime:after{content:'\e037';}
.ametysicon-delete30:before{content:'\e038';}
.decorator-ametysicon-delete30:after{content:'\e038';}
.ametysicon-design26:before{content:'\e039';}
.decorator-ametysicon-design26:after{content:'\e039';}
.ametysicon-development:before{content:'\e03a';}
.decorator-ametysicon-development:after{content:'\e03a';}
.ametysicon-doc:before{content:'\e03b';}
.decorator-ametysicon-doc:after{content:'\e03b';}
.ametysicon-document112:before{content:'\e03c';}
.decorator-ametysicon-document112:after{content:'\e03c';}
.ametysicon-document209:before{content:'\e03d';}
.decorator-ametysicon-document209:after{content:'\e03d';}
.ametysicon-document28:before{content:'\e03e';}
.decorator-ametysicon-document28:after{content:'\e03e';}
.ametysicon-document290:before{content:'\e03f';}
.decorator-ametysicon-document290:after{content:'\e03f';}
.ametysicon-document77:before{content:'\e040';}
.decorator-ametysicon-document77:after{content:'\e040';}
.ametysicon-document9:before{content:'\e041';}
.decorator-ametysicon-document9:after{content:'\e041';}
.ametysicon-documents12:before{content:'\e042';}
.decorator-ametysicon-documents12:after{content:'\e042';}
.ametysicon-docx:before{content:'\e043';}
.decorator-ametysicon-docx:after{content:'\e043';}
.ametysicon-drop-down-list:before{content:'\e044';}
.decorator-ametysicon-drop-down-list:after{content:'\e044';}
.ametysicon-earth1:before{content:'\e045';}
.decorator-ametysicon-earth1:after{content:'\e045';}
.ametysicon-earth23:before{content:'\e046';}
.decorator-ametysicon-earth23:after{content:'\e046';}
.ametysicon-edit45:before{content:'\e047';}
.decorator-ametysicon-edit45:after{content:'\e047';}
.ametysicon-edit5:before{content:'\e048';}
.decorator-ametysicon-edit5:after{content:'\e048';}
.ametysicon-envelope14:before{content:'\e049';}
.decorator-ametysicon-envelope14:after{content:'\e049';}
.ametysicon-envelope64:before{content:'\e04a';}
.decorator-ametysicon-envelope64:after{content:'\e04a';}
.ametysicon-eraser11:before{content:'\e04b';}
.decorator-ametysicon-eraser11:after{content:'\e04b';}
.ametysicon-expand16:before{content:'\e04c';}
.decorator-ametysicon-expand16:after{content:'\e04c';}
.ametysicon-external-link:before{content:'\e04d';}
.decorator-ametysicon-external-link:after{content:'\e04d';}
.ametysicon-eye-blocked:before{content:'\e04e';}
.decorator-ametysicon-eye-blocked:after{content:'\e04e';}
.ametysicon-facebook-logo:before{content:'\e04f';}
.decorator-ametysicon-facebook-logo:after{content:'\e04f';}
.ametysicon-facebook29:before{content:'\e050';}
.decorator-ametysicon-facebook29:after{content:'\e050';}
.ametysicon-file229:before{content:'\e051';}
.decorator-ametysicon-file229:after{content:'\e051';}
.ametysicon-file289:before{content:'\e052';}
.decorator-ametysicon-file289:after{content:'\e052';}
.ametysicon-file94:before{content:'\e053';}
.decorator-ametysicon-file94:after{content:'\e053';}
.ametysicon-file98:before{content:'\e054';}
.decorator-ametysicon-file98:after{content:'\e054';}
.ametysicon-flag28:before{content:'\e055';}
.decorator-ametysicon-flag28:after{content:'\e055';}
.ametysicon-flash:before{content:'\e056';}
.decorator-ametysicon-flash:after{content:'\e056';}
.ametysicon-folder249:before{content:'\e057';}
.decorator-ametysicon-folder249:after{content:'\e057';}
.ametysicon-folder250:before{content:'\e058';}
.decorator-ametysicon-folder250:after{content:'\e058';}
.ametysicon-forbidden1:before{content:'\e059';}
.decorator-ametysicon-forbidden1:after{content:'\e059';}
.ametysicon-format6:before{content:'\e05a';}
.decorator-ametysicon-format6:after{content:'\e05a';}
.ametysicon-gallery7:before{content:'\e05b';}
.decorator-ametysicon-gallery7:after{content:'\e05b';}
.ametysicon-garbage11:before{content:'\e05c';}
.decorator-ametysicon-garbage11:after{content:'\e05c';}
.ametysicon-gear39:before{content:'\e05d';}
.decorator-ametysicon-gear39:after{content:'\e05d';}
.ametysicon-google-glass-logo:before{content:'\e05e';}
.decorator-ametysicon-google-glass-logo:after{content:'\e05e';}
.ametysicon-google-plus:before{content:'\e05f';}
.decorator-ametysicon-google-plus:after{content:'\e05f';}
.ametysicon-greek32:before{content:'\e060';}
.decorator-ametysicon-greek32:after{content:'\e060';}
.ametysicon-hammer2:before{content:'\e061';}
.decorator-ametysicon-hammer2:after{content:'\e061';}
.ametysicon-hammer23:before{content:'\e062';}
.decorator-ametysicon-hammer23:after{content:'\e062';}
.ametysicon-hand:before{content:'\e063';}
.decorator-ametysicon-hand:after{content:'\e063';}
.ametysicon-house3:before{content:'\e064';}
.decorator-ametysicon-house3:after{content:'\e064';}
.ametysicon-html25:before{content:'\e065';}
.decorator-ametysicon-html25:after{content:'\e065';}
.ametysicon-html8:before{content:'\e066';}
.decorator-ametysicon-html8:after{content:'\e066';}
.ametysicon-html9:before{content:'\e067';}
.decorator-ametysicon-html9:after{content:'\e067';}
.ametysicon-id16:before{content:'\e068';}
.decorator-ametysicon-id16:after{content:'\e068';}
.ametysicon-id17:before{content:'\e069';}
.decorator-ametysicon-id17:after{content:'\e069';}
.ametysicon-identification63:before{content:'\e06a';}
.decorator-ametysicon-identification63:after{content:'\e06a';}
.ametysicon-image2:before{content:'\e06b';}
.decorator-ametysicon-image2:after{content:'\e06b';}
.ametysicon-import1:before{content:'\e06c';}
.decorator-ametysicon-import1:after{content:'\e06c';}
.ametysicon-index-finger:before{content:'\e06d';}
.decorator-ametysicon-index-finger:after{content:'\e06d';}
.ametysicon-info28:before{content:'\e06e';}
.decorator-ametysicon-info28:after{content:'\e06e';}
.ametysicon-input:before{content:'\e06f';}
.decorator-ametysicon-input:after{content:'\e06f';}
.ametysicon-interface-1:before{content:'\e070';}
.decorator-ametysicon-interface-1:after{content:'\e070';}
.ametysicon-interface:before{content:'\e071';}
.decorator-ametysicon-interface:after{content:'\e071';}
.ametysicon-internet58:before{content:'\e072';}
.decorator-ametysicon-internet58:after{content:'\e072';}
.ametysicon-italic8:before{content:'\e073';}
.decorator-ametysicon-italic8:after{content:'\e073';}
.ametysicon-jackrabbit:before{content:'\e074';}
.decorator-ametysicon-jackrabbit:after{content:'\e074';}
.ametysicon-jar3:before{content:'\e075';}
.decorator-ametysicon-jar3:after{content:'\e075';}
.ametysicon-jpg2:before{content:'\e076';}
.decorator-ametysicon-jpg2:after{content:'\e076';}
.ametysicon-key162:before{content:'\e077';}
.decorator-ametysicon-key162:after{content:'\e077';}
.ametysicon-keyboard-right-arrow-button:before{content:'\e078';}
.decorator-ametysicon-keyboard-right-arrow-button:after{content:'\e078';}
.ametysicon-keyword3:before{content:'\e079';}
.decorator-ametysicon-keyword3:after{content:'\e079';}
.ametysicon-kitchen-tools1:before{content:'\e07a';}
.decorator-ametysicon-kitchen-tools1:after{content:'\e07a';}
.ametysicon-label49:before{content:'\e07b';}
.decorator-ametysicon-label49:after{content:'\e07b';}
.ametysicon-layout29:before{content:'\e07c';}
.decorator-ametysicon-layout29:after{content:'\e07c';}
.ametysicon-letter-x5:before{content:'\e07d';}
.decorator-ametysicon-letter-x5:after{content:'\e07d';}
.ametysicon-link23:before{content:'\e07e';}
.decorator-ametysicon-link23:after{content:'\e07e';}
.ametysicon-link55:before{content:'\e07f';}
.decorator-ametysicon-link55:after{content:'\e07f';}
.ametysicon-link95:before{content:'\e080';}
.decorator-ametysicon-link95:after{content:'\e080';}
.ametysicon-list24:before{content:'\e081';}
.decorator-ametysicon-list24:after{content:'\e081';}
.ametysicon-list4:before{content:'\e082';}
.decorator-ametysicon-list4:after{content:'\e082';}
.ametysicon-list6:before{content:'\e083';}
.decorator-ametysicon-list6:after{content:'\e083';}
.ametysicon-lock81:before{content:'\e084';}
.decorator-ametysicon-lock81:after{content:'\e084';}
.ametysicon-log1:before{content:'\e085';}
.decorator-ametysicon-log1:after{content:'\e085';}
.ametysicon-magnifier12:before{content:'\e086';}
.decorator-ametysicon-magnifier12:after{content:'\e086';}
.ametysicon-magnifier41:before{content:'\e087';}
.decorator-ametysicon-magnifier41:after{content:'\e087';}
.ametysicon-magnifying-glass15:before{content:'\e088';}
.decorator-ametysicon-magnifying-glass15:after{content:'\e088';}
.ametysicon-map32:before{content:'\e089';}
.decorator-ametysicon-map32:after{content:'\e089';}
.ametysicon-map47:before{content:'\e08a';}
.decorator-ametysicon-map47:after{content:'\e08a';}
.ametysicon-marker20:before{content:'\e08b';}
.decorator-ametysicon-marker20:after{content:'\e08b';}
.ametysicon-medical-equipment:before{content:'\e08c';}
.decorator-ametysicon-medical-equipment:after{content:'\e08c';}
.ametysicon-medical:before{content:'\e08d';}
.decorator-ametysicon-medical:after{content:'\e08d';}
.ametysicon-megaphone19:before{content:'\e08e';}
.decorator-ametysicon-megaphone19:after{content:'\e08e';}
.ametysicon-minus-sign4:before{content:'\e08f';}
.decorator-ametysicon-minus-sign4:after{content:'\e08f';}
.ametysicon-movie16:before{content:'\e090';}
.decorator-ametysicon-movie16:after{content:'\e090';}
.ametysicon-mp3:before{content:'\e091';}
.decorator-ametysicon-mp3:after{content:'\e091';}
.ametysicon-multiple25:before{content:'\e092';}
.decorator-ametysicon-multiple25:after{content:'\e092';}
.ametysicon-music168:before{content:'\e093';}
.decorator-ametysicon-music168:after{content:'\e093';}
.ametysicon-music178:before{content:'\e094';}
.decorator-ametysicon-music178:after{content:'\e094';}
.ametysicon-music236:before{content:'\e095';}
.decorator-ametysicon-music236:after{content:'\e095';}
.ametysicon-navigate2:before{content:'\e096';}
.decorator-ametysicon-navigate2:after{content:'\e096';}
.ametysicon-navigate6:before{content:'\e097';}
.decorator-ametysicon-navigate6:after{content:'\e097';}
.ametysicon-news15:before{content:'\e098';}
.decorator-ametysicon-news15:after{content:'\e098';}
.ametysicon-newspaper1:before{content:'\e099';}
.decorator-ametysicon-newspaper1:after{content:'\e099';}
.ametysicon-next25:before{content:'\e09a';}
.decorator-ametysicon-next25:after{content:'\e09a';}
.ametysicon-note20:before{content:'\e09b';}
.decorator-ametysicon-note20:after{content:'\e09b';}
.ametysicon-numbered8:before{content:'\e09c';}
.decorator-ametysicon-numbered8:after{content:'\e09c';}
.ametysicon-odp2:before{content:'\e09d';}
.decorator-ametysicon-odp2:after{content:'\e09d';}
.ametysicon-odt5:before{content:'\e09e';}
.decorator-ametysicon-odt5:after{content:'\e09e';}
.ametysicon-opened29:before{content:'\e09f';}
.decorator-ametysicon-opened29:after{content:'\e09f';}
.ametysicon-organization1:before{content:'\e0a0';}
.decorator-ametysicon-organization1:after{content:'\e0a0';}
.ametysicon-padlock79:before{content:'\e0a1';}
.decorator-ametysicon-padlock79:after{content:'\e0a1';}
.ametysicon-paint3:before{content:'\e0a2';}
.decorator-ametysicon-paint3:after{content:'\e0a2';}
.ametysicon-paint88:before{content:'\e0a3';}
.decorator-ametysicon-paint88:after{content:'\e0a3';}
.ametysicon-painter14:before{content:'\e0a4';}
.decorator-ametysicon-painter14:after{content:'\e0a4';}
.ametysicon-paper11:before{content:'\e0a5';}
.decorator-ametysicon-paper11:after{content:'\e0a5';}
.ametysicon-password13:before{content:'\e0a6';}
.decorator-ametysicon-password13:after{content:'\e0a6';}
.ametysicon-pause:before{content:'\e0a7';}
.decorator-ametysicon-pause:after{content:'\e0a7';}
.ametysicon-pdf17:before{content:'\e0a8';}
.decorator-ametysicon-pdf17:after{content:'\e0a8';}
.ametysicon-pdf28:before{content:'\e0a9';}
.decorator-ametysicon-pdf28:after{content:'\e0a9';}
.ametysicon-people:before{content:'\e0aa';}
.decorator-ametysicon-people:after{content:'\e0aa';}
.ametysicon-picture62:before{content:'\e0ab';}
.decorator-ametysicon-picture62:after{content:'\e0ab';}
.ametysicon-placeholder19:before{content:'\e0ac';}
.decorator-ametysicon-placeholder19:after{content:'\e0ac';}
.ametysicon-play124:before{content:'\e0ad';}
.decorator-ametysicon-play124:after{content:'\e0ad';}
.ametysicon-play7:before{content:'\e0ae';}
.decorator-ametysicon-play7:after{content:'\e0ae';}
.ametysicon-plus51:before{content:'\e0af';}
.decorator-ametysicon-plus51:after{content:'\e0af';}
.ametysicon-png4:before{content:'\e0b0';}
.decorator-ametysicon-png4:after{content:'\e0b0';}
.ametysicon-portable-document-format:before{content:'\e0b1';}
.decorator-ametysicon-portable-document-format:after{content:'\e0b1';}
.ametysicon-power110:before{content:'\e0b2';}
.decorator-ametysicon-power110:after{content:'\e0b2';}
.ametysicon-pps2:before{content:'\e0b3';}
.decorator-ametysicon-pps2:after{content:'\e0b3';}
.ametysicon-ppt:before{content:'\e0b4';}
.decorator-ametysicon-ppt:after{content:'\e0b4';}
.ametysicon-pptx:before{content:'\e0b5';}
.decorator-ametysicon-pptx:after{content:'\e0b5';}
.ametysicon-previous14:before{content:'\e0b6';}
.decorator-ametysicon-previous14:after{content:'\e0b6';}
.ametysicon-previous16:before{content:'\e0b7';}
.decorator-ametysicon-previous16:after{content:'\e0b7';}
.ametysicon-printer67:before{content:'\e0b8';}
.decorator-ametysicon-printer67:after{content:'\e0b8';}
.ametysicon-psd3:before{content:'\e0b9';}
.decorator-ametysicon-psd3:after{content:'\e0b9';}
.ametysicon-puzzle-piece1:before{content:'\e0ba';}
.decorator-ametysicon-puzzle-piece1:after{content:'\e0ba';}
.ametysicon-puzzle33:before{content:'\e0bb';}
.decorator-ametysicon-puzzle33:after{content:'\e0bb';}
.ametysicon-question-mark1:before{content:'\e0bc';}
.decorator-ametysicon-question-mark1:after{content:'\e0bc';}
.ametysicon-question13:before{content:'\e0bd';}
.decorator-ametysicon-question13:after{content:'\e0bd';}
.ametysicon-radio-on-button:before{content:'\e0be';}
.decorator-ametysicon-radio-on-button:after{content:'\e0be';}
.ametysicon-rar:before{content:'\e0bf';}
.decorator-ametysicon-rar:after{content:'\e0bf';}
.ametysicon-reload8:before{content:'\e0c0';}
.decorator-ametysicon-reload8:after{content:'\e0c0';}
.ametysicon-remove11:before{content:'\e0c1';}
.decorator-ametysicon-remove11:after{content:'\e0c1';}
.ametysicon-resize11:before{content:'\e0c2';}
.decorator-ametysicon-resize11:after{content:'\e0c2';}
.ametysicon-return10:before{content:'\e0c3';}
.decorator-ametysicon-return10:after{content:'\e0c3';}
.ametysicon-right-alignment:before{content:'\e0c4';}
.decorator-ametysicon-right-alignment:after{content:'\e0c4';}
.ametysicon-right-arrow26:before{content:'\e0c5';}
.decorator-ametysicon-right-arrow26:after{content:'\e0c5';}
.ametysicon-right176:before{content:'\e0c6';}
.decorator-ametysicon-right176:after{content:'\e0c6';}
.ametysicon-rubbish7:before{content:'\e0c7';}
.decorator-ametysicon-rubbish7:after{content:'\e0c7';}
.ametysicon-save31:before{content:'\e0c8';}
.decorator-ametysicon-save31:after{content:'\e0c8';}
.ametysicon-school:before{content:'\e0c9';}
.decorator-ametysicon-school:after{content:'\e0c9';}
.ametysicon-scissors4:before{content:'\e0ca';}
.decorator-ametysicon-scissors4:after{content:'\e0ca';}
.ametysicon-search102:before{content:'\e0cb';}
.decorator-ametysicon-search102:after{content:'\e0cb';}
.ametysicon-search16:before{content:'\e0cc';}
.decorator-ametysicon-search16:after{content:'\e0cc';}
.ametysicon-search99:before{content:'\e0cd';}
.decorator-ametysicon-search99:after{content:'\e0cd';}
.ametysicon-security:before{content:'\e0ce';}
.decorator-ametysicon-security:after{content:'\e0ce';}
.ametysicon-select:before{content:'\e0cf';}
.decorator-ametysicon-select:after{content:'\e0cf';}
.ametysicon-server:before{content:'\e0d0';}
.decorator-ametysicon-server:after{content:'\e0d0';}
.ametysicon-server19:before{content:'\e0d1';}
.decorator-ametysicon-server19:after{content:'\e0d1';}
.ametysicon-share40:before{content:'\e0d2';}
.decorator-ametysicon-share40:after{content:'\e0d2';}
.ametysicon-sitemap1-1:before{content:'\e0d3';}
.decorator-ametysicon-sitemap1-1:after{content:'\e0d3';}
.ametysicon-sitemap1:before{content:'\e0d4';}
.decorator-ametysicon-sitemap1:after{content:'\e0d4';}
.ametysicon-solr:before{content:'\e0d5';}
.decorator-ametysicon-solr:after{content:'\e0d5';}
.ametysicon-sort48:before{content:'\e0d6';}
.decorator-ametysicon-sort48:after{content:'\e0d6';}
.ametysicon-sort51:before{content:'\e0d7';}
.decorator-ametysicon-sort51:after{content:'\e0d7';}
.ametysicon-spreadsheet4:before{content:'\e0d8';}
.decorator-ametysicon-spreadsheet4:after{content:'\e0d8';}
.ametysicon-spreadsheet5:before{content:'\e0d9';}
.decorator-ametysicon-spreadsheet5:after{content:'\e0d9';}
.ametysicon-squares36:before{content:'\e0da';}
.decorator-ametysicon-squares36:after{content:'\e0da';}
.ametysicon-star129:before{content:'\e0db';}
.decorator-ametysicon-star129:after{content:'\e0db';}
.ametysicon-stats144:before{content:'\e0dc';}
.decorator-ametysicon-stats144:after{content:'\e0dc';}
.ametysicon-stop5:before{content:'\e0dd';}
.decorator-ametysicon-stop5:after{content:'\e0dd';}
.ametysicon-subscript1:before{content:'\e0de';}
.decorator-ametysicon-subscript1:after{content:'\e0de';}
.ametysicon-superscript2:before{content:'\e0df';}
.decorator-ametysicon-superscript2:after{content:'\e0df';}
.ametysicon-table28:before{content:'\e0e0';}
.decorator-ametysicon-table28:after{content:'\e0e0';}
.ametysicon-tables:before{content:'\e0e1';}
.decorator-ametysicon-tables:after{content:'\e0e1';}
.ametysicon-tables1:before{content:'\e0e2';}
.decorator-ametysicon-tables1:after{content:'\e0e2';}
.ametysicon-tag-search-filter:before{content:'\e0e3';}
.decorator-ametysicon-tag-search-filter:after{content:'\e0e3';}
.ametysicon-tag25:before{content:'\e0e4';}
.decorator-ametysicon-tag25:after{content:'\e0e4';}
.ametysicon-tar1:before{content:'\e0e5';}
.decorator-ametysicon-tar1:after{content:'\e0e5';}
.ametysicon-tasks1:before{content:'\e0e6';}
.decorator-ametysicon-tasks1:after{content:'\e0e6';}
.ametysicon-test20:before{content:'\e0e7';}
.decorator-ametysicon-test20:after{content:'\e0e7';}
.ametysicon-text-file1:before{content:'\e0e8';}
.decorator-ametysicon-text-file1:after{content:'\e0e8';}
.ametysicon-text-file10:before{content:'\e0e9';}
.decorator-ametysicon-text-file10:after{content:'\e0e9';}
.ametysicon-text-input:before{content:'\e0ea';}
.decorator-ametysicon-text-input:after{content:'\e0ea';}
.ametysicon-text1:before{content:'\e0eb';}
.decorator-ametysicon-text1:after{content:'\e0eb';}
.ametysicon-text152:before{content:'\e0ec';}
.decorator-ametysicon-text152:after{content:'\e0ec';}
.ametysicon-text61:before{content:'\e0ed';}
.decorator-ametysicon-text61:after{content:'\e0ed';}
.ametysicon-text70:before{content:'\e0ee';}
.decorator-ametysicon-text70:after{content:'\e0ee';}
.ametysicon-three103:before{content:'\e0ef';}
.decorator-ametysicon-three103:after{content:'\e0ef';}
.ametysicon-three115:before{content:'\e0f0';}
.decorator-ametysicon-three115:after{content:'\e0f0';}
.ametysicon-tie6:before{content:'\e0f1';}
.decorator-ametysicon-tie6:after{content:'\e0f1';}
.ametysicon-time33:before{content:'\e0f2';}
.decorator-ametysicon-time33:after{content:'\e0f2';}
.ametysicon-time51:before{content:'\e0f3';}
.decorator-ametysicon-time51:after{content:'\e0f3';}
.ametysicon-tool:before{content:'\e0f4';}
.decorator-ametysicon-tool:after{content:'\e0f4';}
.ametysicon-translation:before{content:'\e0f5';}
.decorator-ametysicon-translation:after{content:'\e0f5';}
.ametysicon-transport10:before{content:'\e0f6';}
.decorator-ametysicon-transport10:after{content:'\e0f6';}
.ametysicon-triangle1:before{content:'\e0f7';}
.decorator-ametysicon-triangle1:after{content:'\e0f7';}
.ametysicon-turn-right5:before{content:'\e0f8';}
.decorator-ametysicon-turn-right5:after{content:'\e0f8';}
.ametysicon-twitter-logo:before{content:'\e0f9';}
.decorator-ametysicon-twitter-logo:after{content:'\e0f9';}
.ametysicon-txt:before{content:'\e0fa';}
.decorator-ametysicon-txt:after{content:'\e0fa';}
.ametysicon-underlined4:before{content:'\e0fb';}
.decorator-ametysicon-underlined4:after{content:'\e0fb';}
.ametysicon-upload119:before{content:'\e0fc';}
.decorator-ametysicon-upload119:after{content:'\e0fc';}
.ametysicon-user81:before{content:'\e0fd';}
.decorator-ametysicon-user81:after{content:'\e0fd';}
.ametysicon-verified9:before{content:'\e0fe';}
.decorator-ametysicon-verified9:after{content:'\e0fe';}
.ametysicon-visibility1:before{content:'\e0ff';}
.decorator-ametysicon-visibility1:after{content:'\e0ff';}
.ametysicon-web60:before{content:'\e100';}
.decorator-ametysicon-web60:after{content:'\e100';}
.ametysicon-web61:before{content:'\e101';}
.decorator-ametysicon-web61:after{content:'\e101';}
.ametysicon-web62:before{content:'\e102';}
.decorator-ametysicon-web62:after{content:'\e102';}
.ametysicon-website17:before{content:'\e103';}
.decorator-ametysicon-website17:after{content:'\e103';}
.ametysicon-website2:before{content:'\e104';}
.decorator-ametysicon-website2:after{content:'\e104';}
.ametysicon-website38:before{content:'\e105';}
.decorator-ametysicon-website38:after{content:'\e105';}
.ametysicon-wiping16:before{content:'\e106';}
.decorator-ametysicon-wiping16:after{content:'\e106';}
.ametysicon-word2:before{content:'\e107';}
.decorator-ametysicon-word2:after{content:'\e107';}
.ametysicon-worker5:before{content:'\e108';}
.decorator-ametysicon-worker5:after{content:'\e108';}
.ametysicon-world91:before{content:'\e109';}
.decorator-ametysicon-world91:after{content:'\e109';}
.ametysicon-write13:before{content:'\e10a';}
.decorator-ametysicon-write13:after{content:'\e10a';}
.ametysicon-xls1:before{content:'\e10b';}
.decorator-ametysicon-xls1:after{content:'\e10b';}
.ametysicon-xlsx:before{content:'\e10c';}
.decorator-ametysicon-xlsx:after{content:'\e10c';}
.ametysicon-xml6:before{content:'\e10d';}
.decorator-ametysicon-xml6:after{content:'\e10d';}
.ametysicon-youtube18:before{content:'\e10e';}
.decorator-ametysicon-youtube18:after{content:'\e10e';}
.ametysicon-zip14:before{content:'\e10f';}
.decorator-ametysicon-zip14:after{content:'\e10f';}
.ametysicon-zip6:before{content:'\e110';}
.decorator-ametysicon-zip6:after{content:'\e110';}
