<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.ametys.org/schema/plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ametys.org/schema/plugin http://www.ametys.org/schema/plugin-2.0.xsd"
        runtimeVersion="2.0" version="2.0">
         
    <config>
        <param id="param1" type="string">
            <label>label</label>
            <description>key</description>
            <default-value>value</default-value>
            <category>cat</category>
            <group>group</group>
            <order>1</order>
        </param>
        <param id="param2" type="string">
            <label>label</label>
            <description i18n="true">key</description>
            <default-value>value</default-value>
            <category>cat</category>
            <group>group</group>
            <order>1</order>
        </param>
    </config>
    
	<feature name="test2" depends="core/unexisting.feature">
        <config>
            <param id="param3" type="string">
                <label>label</label>
                <description>key</description>
                <default-value>value</default-value>
                <category>cat</category>
                <group>group</group>
                <order>1</order>
            </param>
        </config>
    </feature>
    
    <feature name="test3">
        <config>
            <param id="param4" type="string">
                <label>label</label>
                <description>key</description>
                <default-value>value</default-value>
                <category>cat</category>
                <group>group</group>
                <order>1</order>
            </param>
            <param-ref id="param2"/>
        </config>
    </feature>
</plugin>