    /*
    Flaticon icon font: Flaticon
    Creation date: 05/07/2016 11:06
    */

    @font-face {
  font-family: "AmetysEditor";
  src: url("./editor.eot");
  src: url("./editor.eot?#iefix") format("embedded-opentype"),
       url("./editor.woff") format("woff"),
       url("./editor.ttf") format("truetype"),
       url("./editor.svg#Editor") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "AmetysEditor";
    src: url("./editor.svg#Editor") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "AmetysEditor";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .ametysmisc-alignment:before { content: "\f100"; }
.ametyseditor-alignment1:before { content: "\f101"; }
.ametyseditor-black391:before { content: "\f102"; }
.ametyseditor-bold14:before { content: "\f103"; }
.ametyseditor-book255:before { content: "\f104"; }
.ametyseditor-character:before { content: "\f105"; }
.ametyseditor-checked-box:before { content: "\f106"; }
.ametyseditor-clipboard99:before { content: "\f107"; }
.ametyseditor-curve4:before { content: "\f108"; }
.ametyseditor-design26:before { content: "\f109"; }
.ametyseditor-document209:before { content: "\f10a"; }
.ametyseditor-document28:before { content: "\f10b"; }
.ametyseditor-drop-down-list:before { content: "\f10c"; }
.ametyseditor-flash:before { content: "\f10d"; }
.ametyseditor-format6:before { content: "\f10e"; }
.ametyseditor-greek32:before { content: "\f10f"; }
.ametyseditor-html25:before { content: "\f110"; }
.ametyseditor-image2:before { content: "\f111"; }
.ametyseditor-input:before { content: "\f112"; }
.ametyseditor-italic8:before { content: "\f113"; }
.ametyseditor-link23:before { content: "\f114"; }
.ametyseditor-list4:before { content: "\f115"; }
.ametyseditor-movie16:before { content: "\f116"; }
.ametyseditor-numbered8:before { content: "\f117"; }
.ametyseditor-paint3:before { content: "\f118"; }
.ametyseditor-radio-on-button:before { content: "\f119"; }
.ametyseditor-resize11:before { content: "\f11a"; }
.ametyseditor-right-alignment:before { content: "\f11b"; }
.ametyseditor-right-arrow26:before { content: "\f11c"; }
.ametyseditor-right176:before { content: "\f11d"; }
.ametyseditor-save31:before { content: "\f11e"; }
.ametyseditor-scissors4:before { content: "\f11f"; }
.ametyseditor-security:before { content: "\f120"; }
.ametyseditor-select:before { content: "\f121"; }
.ametyseditor-spreadsheet4:before { content: "\f122"; }
.ametyseditor-spreadsheet5:before { content: "\f123"; }
.ametyseditor-subscript1:before { content: "\f124"; }
.ametyseditor-superscript2:before { content: "\f125"; }
.ametyseditor-table28:before { content: "\f126"; }
.ametyseditor-tables1:before { content: "\f127"; }
.ametyseditor-text-file1:before { content: "\f128"; }
.ametyseditor-text-input:before { content: "\f129"; }
.ametyseditor-text152:before { content: "\f12a"; }
.ametyseditor-underlined4:before { content: "\f12b"; }
.ametyseditor-web60:before { content: "\f12c"; }
.ametyseditor-web61:before { content: "\f12d"; }
.ametyseditor-word2:before { content: "\f12e"; }
    
    $font-ametyseditor-alignment: "\f100";
    $font-ametyseditor-alignment1: "\f101";
    $font-ametyseditor-black391: "\f102";
    $font-ametyseditor-bold14: "\f103";
    $font-ametyseditor-book255: "\f104";
    $font-ametyseditor-character: "\f105";
    $font-ametyseditor-checked-box: "\f106";
    $font-ametyseditor-clipboard99: "\f107";
    $font-ametyseditor-curve4: "\f108";
    $font-ametyseditor-design26: "\f109";
    $font-ametyseditor-document209: "\f10a";
    $font-ametyseditor-document28: "\f10b";
    $font-ametyseditor-drop-down-list: "\f10c";
    $font-ametyseditor-flash: "\f10d";
    $font-ametyseditor-format6: "\f10e";
    $font-ametyseditor-greek32: "\f10f";
    $font-ametyseditor-html25: "\f110";
    $font-ametyseditor-image2: "\f111";
    $font-ametyseditor-input: "\f112";
    $font-ametyseditor-italic8: "\f113";
    $font-ametyseditor-link23: "\f114";
    $font-ametyseditor-list4: "\f115";
    $font-ametyseditor-movie16: "\f116";
    $font-ametyseditor-numbered8: "\f117";
    $font-ametyseditor-paint3: "\f118";
    $font-ametyseditor-radio-on-button: "\f119";
    $font-ametyseditor-resize11: "\f11a";
    $font-ametyseditor-right-alignment: "\f11b";
    $font-ametyseditor-right-arrow26: "\f11c";
    $font-ametyseditor-right176: "\f11d";
    $font-ametyseditor-save31: "\f11e";
    $font-ametyseditor-scissors4: "\f11f";
    $font-ametyseditor-security: "\f120";
    $font-ametyseditor-select: "\f121";
    $font-ametyseditor-spreadsheet4: "\f122";
    $font-ametyseditor-spreadsheet5: "\f123";
    $font-ametyseditor-subscript1: "\f124";
    $font-ametyseditor-superscript2: "\f125";
    $font-ametyseditor-table28: "\f126";
    $font-ametyseditor-tables1: "\f127";
    $font-ametyseditor-text-file1: "\f128";
    $font-ametyseditor-text-input: "\f129";
    $font-ametyseditor-text152: "\f12a";
    $font-ametyseditor-underlined4: "\f12b";
    $font-ametyseditor-web60: "\f12c";
    $font-ametyseditor-web61: "\f12d";
    $font-ametyseditor-word2: "\f12e";