    /*
    Flaticon icon font: Flaticon
    Creation date: 14/06/2016 17:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-alignment:before { content: "\f100"; }
.flaticon-alignment1:before { content: "\f101"; }
.flaticon-black391:before { content: "\f102"; }
.flaticon-bold14:before { content: "\f103"; }
.flaticon-book255:before { content: "\f104"; }
.flaticon-character:before { content: "\f105"; }
.flaticon-clipboard99:before { content: "\f106"; }
.flaticon-curve4:before { content: "\f107"; }
.flaticon-design26:before { content: "\f108"; }
.flaticon-document209:before { content: "\f109"; }
.flaticon-document28:before { content: "\f10a"; }
.flaticon-flash:before { content: "\f10b"; }
.flaticon-format6:before { content: "\f10c"; }
.flaticon-greek32:before { content: "\f10d"; }
.flaticon-html25:before { content: "\f10e"; }
.flaticon-image2:before { content: "\f10f"; }
.flaticon-italic8:before { content: "\f110"; }
.flaticon-link23:before { content: "\f111"; }
.flaticon-list4:before { content: "\f112"; }
.flaticon-movie16:before { content: "\f113"; }
.flaticon-numbered8:before { content: "\f114"; }
.flaticon-paint3:before { content: "\f115"; }
.flaticon-resize11:before { content: "\f116"; }
.flaticon-right-alignment:before { content: "\f117"; }
.flaticon-right-arrow26:before { content: "\f118"; }
.flaticon-right176:before { content: "\f119"; }
.flaticon-save31:before { content: "\f11a"; }
.flaticon-scissors4:before { content: "\f11b"; }
.flaticon-spreadsheet4:before { content: "\f11c"; }
.flaticon-spreadsheet5:before { content: "\f11d"; }
.flaticon-subscript1:before { content: "\f11e"; }
.flaticon-superscript2:before { content: "\f11f"; }
.flaticon-table28:before { content: "\f120"; }
.flaticon-tables1:before { content: "\f121"; }
.flaticon-text-file1:before { content: "\f122"; }
.flaticon-text152:before { content: "\f123"; }
.flaticon-underlined4:before { content: "\f124"; }
.flaticon-web60:before { content: "\f125"; }
.flaticon-web61:before { content: "\f126"; }
.flaticon-word2:before { content: "\f127"; }
    
    $font-Flaticon-alignment: "\f100";
    $font-Flaticon-alignment1: "\f101";
    $font-Flaticon-black391: "\f102";
    $font-Flaticon-bold14: "\f103";
    $font-Flaticon-book255: "\f104";
    $font-Flaticon-character: "\f105";
    $font-Flaticon-clipboard99: "\f106";
    $font-Flaticon-curve4: "\f107";
    $font-Flaticon-design26: "\f108";
    $font-Flaticon-document209: "\f109";
    $font-Flaticon-document28: "\f10a";
    $font-Flaticon-flash: "\f10b";
    $font-Flaticon-format6: "\f10c";
    $font-Flaticon-greek32: "\f10d";
    $font-Flaticon-html25: "\f10e";
    $font-Flaticon-image2: "\f10f";
    $font-Flaticon-italic8: "\f110";
    $font-Flaticon-link23: "\f111";
    $font-Flaticon-list4: "\f112";
    $font-Flaticon-movie16: "\f113";
    $font-Flaticon-numbered8: "\f114";
    $font-Flaticon-paint3: "\f115";
    $font-Flaticon-resize11: "\f116";
    $font-Flaticon-right-alignment: "\f117";
    $font-Flaticon-right-arrow26: "\f118";
    $font-Flaticon-right176: "\f119";
    $font-Flaticon-save31: "\f11a";
    $font-Flaticon-scissors4: "\f11b";
    $font-Flaticon-spreadsheet4: "\f11c";
    $font-Flaticon-spreadsheet5: "\f11d";
    $font-Flaticon-subscript1: "\f11e";
    $font-Flaticon-superscript2: "\f11f";
    $font-Flaticon-table28: "\f120";
    $font-Flaticon-tables1: "\f121";
    $font-Flaticon-text-file1: "\f122";
    $font-Flaticon-text152: "\f123";
    $font-Flaticon-underlined4: "\f124";
    $font-Flaticon-web60: "\f125";
    $font-Flaticon-web61: "\f126";
    $font-Flaticon-word2: "\f127";