	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/07/2016 11:06
  	*/

@font-face {
  font-family: "AmetysEditor";
  src: url("./editor.eot");
  src: url("./editor.eot?#iefix") format("embedded-opentype"),
       url("./editor.woff") format("woff"),
       url("./editor.ttf") format("truetype"),
       url("./editor.svg#Editor") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "AmetysEditor";
    src: url("./editor.svg#Editor") format("svg");
  }
}

[class^="decorator-ametyseditor-"]:after, [class*=" decorator-ametyseditor-"]:after {   
  font-family: AmetysEditor;
}

.decorator-ametyseditor-alignment:after { content: "\f100"; }
.decorator-ametyseditor-alignment1:after { content: "\f101"; }
.decorator-ametyseditor-black391:after { content: "\f102"; }
.decorator-ametyseditor-bold14:after { content: "\f103"; }
.decorator-ametyseditor-book255:after { content: "\f104"; }
.decorator-ametyseditor-character:after { content: "\f105"; }
.decorator-ametyseditor-checked-box:after { content: "\f106"; }
.decorator-ametyseditor-clipboard99:after { content: "\f107"; }
.decorator-ametyseditor-curve4:after { content: "\f108"; }
.decorator-ametyseditor-design26:after { content: "\f109"; }
.decorator-ametyseditor-document209:after { content: "\f10a"; }
.decorator-ametyseditor-document28:after { content: "\f10b"; }
.decorator-ametyseditor-drop-down-list:after { content: "\f10c"; }
.decorator-ametyseditor-flash:after { content: "\f10d"; }
.decorator-ametyseditor-format6:after { content: "\f10e"; }
.decorator-ametyseditor-greek32:after { content: "\f10f"; }
.decorator-ametyseditor-html25:after { content: "\f110"; }
.decorator-ametyseditor-image2:after { content: "\f111"; }
.decorator-ametyseditor-input:after { content: "\f112"; }
.decorator-ametyseditor-italic8:after { content: "\f113"; }
.decorator-ametyseditor-link23:after { content: "\f114"; }
.decorator-ametyseditor-list4:after { content: "\f115"; }
.decorator-ametyseditor-movie16:after { content: "\f116"; }
.decorator-ametyseditor-numbered8:after { content: "\f117"; }
.decorator-ametyseditor-paint3:after { content: "\f118"; }
.decorator-ametyseditor-radio-on-button:after { content: "\f119"; }
.decorator-ametyseditor-resize11:after { content: "\f11a"; }
.decorator-ametyseditor-right-alignment:after { content: "\f11b"; }
.decorator-ametyseditor-right-arrow26:after { content: "\f11c"; }
.decorator-ametyseditor-right176:after { content: "\f11d"; }
.decorator-ametyseditor-save31:after { content: "\f11e"; }
.decorator-ametyseditor-scissors4:after { content: "\f11f"; }
.decorator-ametyseditor-security:after { content: "\f120"; }
.decorator-ametyseditor-select:after { content: "\f121"; }
.decorator-ametyseditor-spreadsheet4:after { content: "\f122"; }
.decorator-ametyseditor-spreadsheet5:after { content: "\f123"; }
.decorator-ametyseditor-subscript1:after { content: "\f124"; }
.decorator-ametyseditor-superscript2:after { content: "\f125"; }
.decorator-ametyseditor-table28:after { content: "\f126"; }
.decorator-ametyseditor-tables1:after { content: "\f127"; }
.decorator-ametyseditor-text-file1:after { content: "\f128"; }
.decorator-ametyseditor-text-input:after { content: "\f129"; }
.decorator-ametyseditor-text152:after { content: "\f12a"; }
.decorator-ametyseditor-underlined4:after { content: "\f12b"; }
.decorator-ametyseditor-web60:after { content: "\f12c"; }
.decorator-ametyseditor-web61:after { content: "\f12d"; }
.decorator-ametyseditor-word2:after { content: "\f12e"; }