<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2015 Anyware Services

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   -->
<plugin xmlns="http://www.ametys.org/schema/plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ametys.org/schema/plugin http://www.ametys.org/schema/plugin-4.0.xsd"
        runtimeVersion="4.0" version="4.0">
	<!--
		This is the mandatory plugin included in runtime that comes with :
		<ul>
			<li>mandatory extensions points (users...),</li>
			<li>default implementations,</li>
			<li>screens for the administrator area,</li>
			<li>helpers,</li>
			<li>main database pool,</li>
			<li>...</li>
		</ul>
	 -->

    <config>
        <!-- +
             | CORE DEBUG
             + -->
        <param id="runtime.log.abnormal.time" type="boolean">
            <!-- 
                This parameter activates the trace of process taking an abnormal time in logs
             -->
            <label i18n="true">PLUGINS_CORE_TRACE_LOG_ABNORMAL_TIME_LABEL</label>
            <description i18n="true">PLUGINS_CORE_TRACE_LOG_ABNORMAL_TIME_DESCRIPTION</description>
            <validation>
                <mandatory/>
            </validation>
            <default-value>false</default-value>
            <category i18n="true">PLUGINS_CORE_SYSTEM_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_LOGGING_GROUP</group>
            <order>10</order>
        </param>

        <!-- +
             | UPLOAD
             + -->
        <param id="runtime.upload.max-size" type="long">
            <!-- 
                The max size of uploaded files.
             -->
            <label i18n="true">PLUGINS_CORE_UPLOAD_CONFIG_MAXSIZE_LABEL</label>
            <description i18n="true">PLUGINS_CORE_UPLOAD_CONFIG_MAXSIZE_DESCRIPTION</description>
            <validation>
                <mandatory/>
            </validation>        
            <default-value>10485760</default-value>
            <category i18n="true">PLUGINS_CORE_SYSTEM_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_UPLOAD_CONFIG_GROUP</group>
            <order>10</order>
        </param>
        
        <!-- +
             | AMETYS PUBLIC
             + -->
        
        <param id="runtime.ametys.public" type="boolean">
        	<!-- 
        		This parameter indicates if the instance of Ametys is a public instance.
        	 -->
        	<label i18n="true">PLUGINS_CORE_PUBLIC_CONFIG_LABEL</label>
            <description i18n="true">PLUGINS_CORE_PUBLIC_CONFIG_DESCRIPTION</description>
        	<validation>
                <mandatory/>
            </validation>
        	<default-value>true</default-value>
        	<category i18n="true">PLUGINS_CORE_SYSTEM_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_PRIVACY_CONFIG_GROUP</group>
            <order>1</order>
        </param>
        
        <!-- +
             | GOOGLE API KEY
             + -->
        
        <param id="runtime.google-api-key" type="string">
            <!-- 
                This parameter stores the google maps API key to use in javascript applications (such as the geocode widget)
             -->
            <label i18n="true">PLUGINS_CORE_GOOGLE_API_KEY</label>
            <description i18n="true">PLUGINS_CORE_GOOGLE_API_KEY_DESCRIPTION</description>
            <category i18n="true">PLUGINS_CORE_SYSTEM_CONFIG_APPLICATIONS</category>
            <group i18n="true">PLUGINS_CORE_GOOGLE_API_KEY_CONFIG_GROUP</group>
            <order>1</order>
        </param>
        
        <!-- +
             | MAIL - ADDRESSES
             + -->
        <param type="string" id="smtp.mail.from">
            <!-- This parameter contains the "from" address used as default sender -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_FROM_ADDRESS</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_FROM_ADDRESS_DESCRIPTION</description>
            <validation>
                <mandatory/>
                <regexp>^((\w+)([\-+.][\w]+)*@(\w[\-\w]*\.){1,5}([A-Za-z0-9][A-Za-z0-9]+))|([^&lt;]+&lt;(\w+)([\-+.][\w]+)*@(\w[\-\w]*\.){1,5}([A-Za-z0-9][A-Za-z0-9]+)&gt;)$</regexp>
                <invalidText i18n="true">PLUGINS_CORE_REGEXP_INVALID_MAIL</invalidText>
            </validation>
            <default-value>sender@ametys.org</default-value>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_ADDRESS_GROUP</group>
            <order>1</order>
        </param>
        <param type="string" id="smtp.mail.sysadminto">
            <!-- This parameter contains the email address of the system administrator for alert purposes -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_SYSADMINTO_ADDRESS</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_SYSADMINTO_ADDRESS_DESCRIPTION</description>
            <validation>
                <regexp>^(\w+)([\-+.][\w]+)*@(\w[\-\w]*\.){1,5}([A-Za-z0-9][A-Za-z0-9]+)$</regexp>
                <invalidText i18n="true">PLUGINS_CORE_REGEXP_INVALID_MAIL</invalidText>
            </validation>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_ADDRESS_GROUP</group>
            <order>2</order>
        </param>
        
        <!-- +
             | MAIL - SERVER PARAMETERS
             + -->
        <param type="string" id="smtp.mail.host">
        	<!-- This parameter contains the server name for sending mail -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_HOST</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_HOST_DESCRIPTION</description>
            <validation>
            	<mandatory/>
        	</validation>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_GROUP</group>
            <order>1</order>
        </param>
        <param type="long" id="smtp.mail.port">
        	<!-- This parameter contains the server port for sending mail. Defaults to 25. -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_PORT</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_PORT_DESCRIPTION</description>
            <default-value>25</default-value>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_GROUP</group>
            <order>2</order>
        </param>
        <param type="string" id="smtp.mail.security.protocol">
            <!-- This parameter contains the security protocol to be used to send e-mails. Defaults to None. -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_SECURITY_LABEL</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_SECURITY_DESCRIPTION</description>
            <enumeration>
                <entry>
                    <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_SECURITY_NONE</label>
                    <value>none</value>
                </entry>
                <entry>
                    <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_SECURITY_STARTTLS</label>
                    <value>starttls</value>
                </entry>
                <entry>
                    <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_SECURITY_TLSSSL</label>
                    <value>tlsssl</value>
                </entry>
            </enumeration>
            <default-value>none</default-value>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_GROUP</group>
            <order>3</order>
        </param>
        <param type="string" id="smtp.mail.user">
        	<!-- This parameter contains the user's login for sending mail -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_USER</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_USER_DESCRIPTION</description>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_GROUP</group>
            <order>4</order>
        </param>
        <param type="password" id="smtp.mail.password">
        	<!-- This parameter contains the user's password for sending mail -->
            <label i18n="true">PLUGINS_CORE_MAIL_CONFIG_PASSWORD</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONFIG_PASSWORD_DESCRIPTION</description>
            <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_GROUP</group>
            <order>5</order>
        </param>
        
        <!-- +
             | CAPTCHA
             + -->
             
        <param type="string" id="runtime.captcha.type">
            <!-- This parameter contains the type of captcha in use. Default to "jcaptcha". -->
            <label i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_TYPE_LABEL</label>
            <description i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_TYPE_DESCRIPTION</description>
            <enumeration>
                <entry>
                    <label i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_TYPE_JCAPTCHA</label>
                    <value>jcaptcha</value>
                </entry>
                <entry>
                    <label i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_TYPE_RECAPTCHA</label>
                    <value>recaptcha</value>
                </entry>
            </enumeration>
            <default-value>jcaptcha</default-value>
            <category i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_GROUP</group>
            <order>1</order>
        </param>
       
        <param type="string" id="runtime.captcha.recaptcha.publickey">
            <!-- This parameter contains the recaptcha public key. -->
            <label i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_PUBLIC_KEY</label>
            <description i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_PUBLIC_KEY_DESCRIPTION</description>
            <category i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_GROUP</group>
            <order>2</order>
            <disable-conditions>
                <condition id="runtime.captcha.type" operator="neq">recaptcha</condition>
            </disable-conditions>
        </param>
        
        <param type="string" id="runtime.captcha.recaptcha.secretkey">
            <!-- This parameter contains the recaptcha secret key. -->
            <label i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_SECRET_KEY</label>
            <description i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_SECRET_KEY_DESCRIPTION</description>
            <category i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_CAPTCHA_CONFIG_GROUP</group>
            <order>3</order>
            <disable-conditions>
                <condition id="runtime.captcha.type" operator="neq">recaptcha</condition>
            </disable-conditions>
        </param>
        
        <param id="runtime.scheduler.datasource" type="datasource">
            <!-- 
                This parameter contains the datasource used for the Quartz scheduler
             -->
            <label i18n="true">PLUGINS_CORE_SCHEDULER_CONFIG_DATASOURCE_LABEL</label>
            <description i18n="true">PLUGINS_CORE_SCHEDULER_CONFIG_DATASOURCE_DESCRIPTION</description>
            <widget>edition.datasource-sql</widget>
            <widget-params>
                <param name="allowCreation">true</param>
                <param name="allowPrivate">true</param>
                <param name="allowInternal">true</param>
            </widget-params>
            <validation>
                <mandatory/>
            </validation>
            <category i18n="true">PLUGINS_CORE_SCHEDULER_CONFIG_CATEGORY</category>
            <group i18n="true">PLUGINS_CORE_SCHEDULER_CONFIG_GROUP</group>
        </param>
        
       <param-checker id="mail-connection-checker" class="org.ametys.plugins.core.impl.checker.MailConnectionChecker">
            <label i18n="true">PLUGINS_CORE_MAIL_CONNECTION_CHECKER_LABEL</label>
            <description i18n="true">PLUGINS_CORE_MAIL_CONNECTION_CHECKER_DESC</description>
            
            <icon-small>img/config/check/test_emailconnect_16.png</icon-small>
            <icon-medium>img/config/check/test_emailconnect_32.png</icon-medium>
            <icon-large>img/config/check/test_emailconnect_48.png</icon-large>
                        
            <ui-ref>
                <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
                <group i18n="true">PLUGINS_CORE_MAIL_CONFIG_GROUP</group>
            </ui-ref>
            
            <linked-params>
                <param-ref id="smtp.mail.host"/>
                <param-ref id="smtp.mail.port"/>
                <param-ref id="smtp.mail.security.protocol"/>
                <param-ref id="smtp.mail.user"/>
                <param-ref id="smtp.mail.password"/>
            </linked-params>
        </param-checker>
        
        <!--param-checker id="send-mail-checker" class="org.ametys.plugins.core.impl.checker.SendMailChecker">
            <label i18n="true">PLUGINS_CORE_SEND_MAIL_CHECKER_LABEL</label>
            <description i18n="true">PLUGINS_CORE_SEND_MAIL_CHECKER_DESC</description>
            
            <icon-small>img/config/check/test_emailconnect_16.png</icon-small>
            <icon-medium>img/config/check/test_emailconnect_32.png</icon-medium>
            <icon-large>img/config/check/test_emailconnect_48.png</icon-large>
                        
            <ui-ref>
                <category i18n="true">PLUGINS_CORE_MAIL_CONFIG_CATEGORY</category>
            </ui-ref>
            
            <linked-params>
                <param-ref id="smtp.mail.host"/>
                <param-ref id="smtp.mail.port"/>
                <param-ref id="smtp.mail.security.protocol"/>
                <param-ref id="smtp.mail.user"/>
                <param-ref id="smtp.mail.password"/>
                <param-ref id="smtp.mail.from"/>
                <param-ref id="smtp.mail.sysadminto"/>
            </linked-params>
        </param-checker-->
    </config>
    
    <extension-points>

        <extension-point id="org.ametys.runtime.plugin.InitExtensionPoint"
                         class="org.ametys.runtime.plugin.InitExtensionPoint"
                         safe="true"/>
        <!-- FIXME InitEP was temporary set safe for creating admin users SQL table in feature 'runtime.core.sql.users.and.groups.init' -->
                         
        <!-- <extension-point id="org.ametys.core.authentication.AuthenticationManager"
                         class="org.ametys.core.authentication.AuthenticationManager"
                         safe="true"/> -->

		<extension-point id="org.ametys.core.user.directory.UserDirectoryFactory"
						 class="org.ametys.core.user.directory.UserDirectoryFactory"
                         safe="true"/>
                         
        <extension-point id="org.ametys.core.authentication.CredentialProviderFactory"
        				 class="org.ametys.core.authentication.CredentialProviderFactory"
        				 safe="true"/>
        				 
        <extension-point id="org.ametys.core.user.population.PopulationConsumerExtensionPoint"
                         class="org.ametys.core.user.population.PopulationConsumerExtensionPoint"
                         safe="true"/>
        				 
        <extension-point id="org.ametys.core.group.directory.GroupDirectoryFactory"
						 class="org.ametys.core.group.directory.GroupDirectoryFactory"
						 safe="true"/>
        				                  
        <extension-point id="org.ametys.core.right.RightsExtensionPoint"
                         class="org.ametys.core.right.RightsExtensionPoint"
                         safe="true"/>
                         
        <extension-point id="org.ametys.core.right.RightContextConvertorExtentionPoint"
        				 class="org.ametys.core.right.RightContextConvertorExtentionPoint"/>
        
        <extension-point id="org.ametys.core.userpref.UserPreferencesExtensionPoint"
                         class="org.ametys.core.userpref.UserPreferencesExtensionPoint"
                         logger="org.ametys.core.userpref.UserPreferencesExtensionPoint"
                         safe="true"/>
        
        <extension-point id="org.apache.cocoon.components.modules.input.InputModuleSelector"
                         class="org.ametys.core.cocoon.InputModulesExtensionPoint"
                         safe="true"/>

        <extension-point id="org.apache.excalibur.source.SourceFactorySelector"
                         class="org.ametys.core.cocoon.SourceFactoriesExtensionPoint"
                         safe="true"/>

        <extension-point id="org.ametys.runtime.cocoon.SitemapConfigurationExtensionPoint"
                         class="org.ametys.runtime.cocoon.SitemapConfigurationExtensionPoint"
                         safe="true"/>

        <extension-point id="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint"
                         class="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint"
                         safe="true"/>
                         
        <extension-point id="org.ametys.core.observation.ObserverExtensionPoint"
                         class="org.ametys.core.observation.ObserverExtensionPoint">
            <!-- Observer extension point -->
        </extension-point>
        
        <extension-point id="org.ametys.core.datasource.dbtype.SQLDatabaseTypeExtensionPoint"
                         class="org.ametys.core.datasource.dbtype.SQLDatabaseTypeExtensionPoint"
                         safe="true"/>
                         
        <extension-point id="org.ametys.core.datasource.DataSourceConsumerExtensionPoint"
                         class="org.ametys.core.datasource.DataSourceConsumerExtensionPoint"
                         safe="true"/>
                         
        <extension-point id="org.ametys.core.engine.BackgroundEngineHookExtensionPoint"
                         class="org.ametys.core.engine.BackgroundEngineHookExtensionPoint"
                         safe="true"/>
        
        <extension-point id="org.ametys.core.cocoon.ResourceHandlerExtensionPoint"
                         class="org.ametys.core.cocoon.ResourceHandlerExtensionPoint"
                         safe="true"/>
                         
        <extension-point id="org.ametys.core.schedule.SchedulableExtensionPoint"
                         class="org.ametys.core.schedule.SchedulableExtensionPoint"/>
                         
        <extension-point id="org.ametys.core.schedule.RunnableExtensionPoint"
                         class="org.ametys.core.schedule.RunnableExtensionPoint"/>
                        
    </extension-points>
    
    <feature name="util.servercommhelper" safe="true">
    	<components>
    		<component role="org.ametys.core.util.ServerCommHelper"
    				   id="org.ametys.core.util.ServerCommHelper"
    				   class="org.ametys.core.util.ServerCommHelper" />
    	</components>
    </feature>
    
    <feature name="util.systemstatus" safe="true">
    	<components>
    		<component role="org.ametys.core.util.SystemStatus"
    				   id="org.ametys.core.util.SystemStatus"
    				   class="org.ametys.core.util.SystemStatus" />
    	</components>
    </feature>
    
    <feature name="util.jsonutils" safe="true">
    	<components>
    		<component role="org.ametys.core.util.JSONUtils"
    				   id="org.ametys.core.util.JSONUtils"
    				   class="org.ametys.core.util.JSONUtils" />
    				   
    		<component role="org.ametys.core.util.I18nizableTextSerializer"
    				   id="org.ametys.core.util.I18nizableTextSerializer"
    				   class="org.ametys.core.util.I18nizableTextSerializer" />
    	</components>
    </feature>
    
    <feature name="util.i18n.bundlefactory">
        <components>
            <component role="org.apache.cocoon.i18n.BundleFactory"
                       id="org.apache.cocoon.i18n.BundleFactory"
                       class="org.ametys.core.cocoon.XMLResourceBundleFactory" />
        </components>
    </feature>
    
    <feature name="util.i18nutils" safe="true">
        <components>
            <component role="org.ametys.core.util.I18nUtils"
                       id="org.ametys.core.util.I18nUtils"
                       class="org.ametys.core.util.I18nUtils"/>
        </components>
    </feature>
    
    <feature name="utils.xml" safe="true">
        <components>
            <component role="org.ametys.core.util.XMLUtils"
                       id="org.ametys.core.util.XMLUtils"
                       class="org.ametys.core.util.XMLUtils"/>
        </components>
    </feature>

    
    <!-- +
         |  EXCEPTION
         + -->
    <feature name="runtime.exception.impl.default">
        <!-- 
            This feature has the default behavior on errors that display the embeded error pages.
         -->
        <components>
            <component role="org.ametys.runtime.exception.ExceptionHandler"
                       id="org.ametys.plugins.core.exception.Default"
                       class="org.ametys.runtime.exception.DefaultExceptionHandler"
                       logger="org.ametys.runtime.exception.default"/>
        </components>
    </feature>
    
    
    <feature name="xhtmlserializer-empty" safe="true">
      	<extensions>
    		<extension id="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint.empty" point="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint">
                <!-- Add the empty namespace as allowed for the xhtml serialization -->
    		    			<namespace-allowed></namespace-allowed>
    		</extension>
    	</extensions>
    </feature>
    <feature name="xhtmlserializer-xhtml" safe="true">
    	<extensions>
    		<extension id="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint.xhtml" point="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint">
                <!-- Add the xhtml namespace as allowed for the xhtml serialization -->
    		    <namespace-allowed>http://www.w3.org/1999/xhtml</namespace-allowed>
    		</extension>
    	</extensions>
    </feature>
    <feature name="xhtmlserializer-xml" safe="true">
    	<extensions>
    		<extension id="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint.xml" point="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint">
                <!-- Add the xml namespace as allowed for the xhtml serialization -->
    		    <namespace-allowed>http://www.w3.org/XML/1998/namespace</namespace-allowed>
    		</extension>
    	</extensions>
    </feature>
    <feature name="xhtmlserializer-svg" safe="true">
    	<extensions>
    		<extension id="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint.svg" point="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint">
                <!-- Add the svg namespace as allowed for the xhtml serialization -->
    		    <namespace-allowed>http://www.w3.org/2000/svg</namespace-allowed>
    		</extension>
    	</extensions>
    </feature>
    <feature name="xhtmlserializer-mathml" safe="true">
    	<extensions>
    		<extension id="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint.mathml" point="org.ametys.core.cocoon.XHTMLSerializerExtensionPoint">
                <!-- Add the mathml namespace as allowed for the xhtml serialization -->
    		    <namespace-allowed>http://www.w3.org/1998/Math/MathML</namespace-allowed>
    		</extension>
    	</extensions>
    </feature>
    
    <feature name="runtime.core" safe="true">
        <!-- 
            This feature is a mandatory feature of the runtime defining basic tools
         -->
        <components>
            <component role="org.ametys.runtime.request.RequestListenerManager" 
                       id="org.ametys.runtime.request.RequestListenerManager" 
                       class="org.ametys.runtime.request.RequestListenerManager"/>
            
            <component role="org.apache.excalibur.source.SourceResolver" 
                       id="org.apache.excalibur.source.SourceResolver" 
                       class="org.apache.excalibur.source.impl.SourceResolverImpl"/>
                       
            <component role="org.apache.excalibur.xml.xslt.XSLTProcessor/xalan"
                       id="org.apache.excalibur.xml.xslt.XSLTProcessor/xalan"
                       class="org.ametys.runtime.cocoon.ThreadSafeTraxProcessor" >
                <parameter name="incremental-processing" value="false"/>
                <parameter name="transformer-factory" value="org.apache.xalan.processor.TransformerFactoryImpl"/>
            </component>
        </components>
        
        <extensions>
            <extension point="org.apache.cocoon.components.modules.input.InputModuleSelector"
                       id="config"
                       class="org.ametys.runtime.config.ConfigInputModule"
                       logger="org.ametys.runtime.config.ConfigInputModule"/>
            <extension point="org.apache.cocoon.components.modules.input.InputModuleSelector"
                       id="parent-context-attr"
                       class="org.ametys.core.util.cocoon.ParentContextInputModule"
                       logger="org.ametys.core.util.cocoon.ParentContextInputModule"/>
            <extension point="org.apache.cocoon.components.modules.input.InputModuleSelector"
                       id="context-attr"
                       class="org.ametys.core.util.cocoon.ContextAttributesInputModule"
                       logger="org.ametys.core.util.cocoon.ContextAttributesInputModule"/>
                       
            <extension point="org.ametys.runtime.cocoon.SitemapConfigurationExtensionPoint"
                       id="sitemap.base_generators">
            
                <generator name="file" src="org.ametys.core.cocoon.RuntimeFileGenerator" label="content" logger="org.ametys.runtime.kernel.sitemap.generator.file" pool-grow="4" pool-max="32" pool-min="8"/>
                <generator name="action-result" src="org.ametys.core.cocoon.ActionResultGenerator" label="content" logger="org.ametys.runtime.kernel.sitemap.generator.actionresult" pool-grow="4" pool-max="32" pool-min="8"/>
            </extension>
            
            <!-- <extension point="org.ametys.core.authentication.AuthenticationManager"
                       id="org.ametys.plugins.core.impl.authentication.UsersManagerAuthentication"
                       class="org.ametys.plugins.core.impl.authentication.UsersManagerAuthentication"
                       logger="org.ametys.plugins.core.impl.authentication.UsersManagerAuthentication"/> -->
                       
            <!-- <extension point="org.ametys.core.authentication.AuthenticationManager"
                       id="org.ametys.plugins.core.impl.authentication.HasRightAuthentication"
                       class="org.ametys.plugins.core.impl.authentication.HasRightAuthentication"
                       logger="org.ametys.plugins.core.impl.authentication.HasRightAuthentication"/> -->
        </extensions>
    </feature>
    
    <feature name="runtime.core.has_right_sitemap_components">
        <extensions>
            <extension point="org.ametys.runtime.cocoon.SitemapConfigurationExtensionPoint"
                        id="sitemap.has_right_components">
            
                <action name="has-not-right" src="org.ametys.plugins.core.right.HasRightAction" logger="org.ametys.plugins.core.right">
                    <has-right>false</has-right>
                    <base-context>/application</base-context>
                </action>
                <action name="has-right" src="org.ametys.plugins.core.right.HasRightAction" logger="org.ametys.plugins.core.right">
                    <has-right>true</has-right>
                    <base-context>/application</base-context>
                </action>
                        
            </extension>
        </extensions>
    </feature>

    <feature name="runtime.upload">
        <!-- Mark thoses configuration parameters as necessary. If you do not want to configure this beacause your application does not upload any file => unactive this feature. -->
        <config>
            <param-ref id="runtime.upload.max-size"/>
        </config>
    </feature>
    
    <feature name="runtime.debug">
        <!-- Mark the UI debug parameter as available. If your application does not handle it you can unativate it. -->
        <config>
            <param-ref id="runtime.mode.dev"/>
            <param-ref id="runtime.log.abnormal.time"/>
		</config>
	</feature>
    
    <feature name="runtime.users.manager" safe="true">
    	<components>
    		<component role="org.ametys.core.user.UserManager"
    				   id="org.ametys.core.user.UserManager"
    				   class="org.ametys.core.user.UserManager"/>
    				   
    		<component role="org.ametys.core.user.population.UserPopulationDAO"
    				   id="org.ametys.core.user.population.UserPopulationDAO"
    				   class="org.ametys.core.user.population.UserPopulationDAO"/>
    				   
    		<component role="org.ametys.core.user.population.PopulationContextHelper"
    				   id="org.ametys.core.user.population.PopulationContextHelper"
    				   class="org.ametys.core.user.population.PopulationContextHelper"/>
    	</components>
    </feature>
    
    <feature name="runtime.populations.notificator">
        <extensions>
           <extension id="org.ametys.core.user.population.notificator.ignored"
                       point="org.ametys.runtime.plugins.admin.notificator.AdministratorNotificatorExtensionPoint"
                       class="org.ametys.core.user.population.IgnoredPopulationAdministratorNotificator">
                <type>error</type>
                <icon-glyph>ametysmisc-multiple25</icon-glyph>
                <title i18n="true">PLUGINS_CORE_USER_POPULATION_IGNORED_NOTIFICATION_TITLE</title>
                <message i18n="true">PLUGINS_CORE_USER_POPULATION_IGNORED_NOTIFICATION_MESSAGE</message>
            </extension>
            
            <extension id="org.ametys.core.user.population.notificator.misconfigured"
                       point="org.ametys.runtime.plugins.admin.notificator.AdministratorNotificatorExtensionPoint"
                       class="org.ametys.core.user.population.MisconfiguredPopulationAdministratorNotificator">
                <type>error</type>
                <icon-glyph>ametysmisc-multiple25</icon-glyph>
                <title i18n="true">PLUGINS_CORE_USER_POPULATION_MISCONFIGURED_NOTIFICATION_TITLE</title>
                <message i18n="true">PLUGINS_CORE_USER_POPULATION_MISCONFIGURED_NOTIFICATION_MESSAGE</message>
                <action>Ext.bind(Ametys.tool.ToolsManager.openTool, Ametys.tool.ToolsManager, ['uitool-populations', {}])</action>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.groups.manager" safe="true">
    	<components>
    		<component role="org.ametys.core.group.GroupManager"
    				   id="org.ametys.core.group.GroupManager"
    				   class="org.ametys.core.group.GroupManager"/>
    				   
    		<component role="org.ametys.core.group.GroupDirectoryDAO"
    				   id="org.ametys.core.group.GroupDirectoryDAO"
    				   class="org.ametys.core.group.GroupDirectoryDAO"/>
    				   
    		<component role="org.ametys.core.group.GroupDirectoryContextHelper"
    				   id="org.ametys.core.group.GroupDirectoryContextHelper"
    				   class="org.ametys.core.group.GroupDirectoryContextHelper"/>
    	</components>
    </feature>
    
    <feature name="runtime.groupdirectories.datasource.client" safe="true">
        <extensions>
            <extension point="org.ametys.core.datasource.DataSourceConsumerExtensionPoint"
                       id="org.ametys.core.group.GroupDirectoriesDataSourceConsumer"
                       class="org.ametys.core.group.GroupDirectoriesDataSourceConsumer">
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.authentication">
    	<config>
    		<param-ref id="runtime.ametys.public"/>
    	</config>
    </feature>
    
    <feature name="runtime.util.ldap.scope.enumerator">
        <!-- 
            This feature provides a LDAP scope enumerator
         -->
    	<components>
    		<component role="org.ametys.core.util.ldap.ScopeEnumerator"
    		           id="org.ametys.core.util.ldap.ScopeEnumerator"
    		           class="org.ametys.core.util.ldap.ScopeEnumerator"/>
    	</components>
    </feature>
    
    <feature name="runtime.sending.mail">
        <!-- 
            This feature provides configuration parameters for sending mail
         -->
        <config>
            <param-ref id="smtp.mail.host"/>
            <param-ref id="smtp.mail.port"/>
            <param-ref id="smtp.mail.security.protocol"/>
            <param-ref id="smtp.mail.user"/>
            <param-ref id="smtp.mail.password"/>
            <param-ref id="smtp.mail.from"/>
            <param-ref id="smtp.mail.sysadminto"/>
        </config>
    </feature>
    
        
    <feature name="runtime.captcha">
        <!-- 
            This feature provides configuration parameters for the captcha type and keys.
         -->
        <config>
            <param-ref id="runtime.captcha.type"/>
            <param-ref id="runtime.captcha.recaptcha.secretkey"/>
            <param-ref id="runtime.captcha.recaptcha.publickey"/>
        </config>
        
        <components>
            <component id="org.ametys.core.captcha.CaptchaHelper"
                       role="org.ametys.core.captcha.CaptchaHelper"
                       class="org.ametys.core.captcha.CaptchaHelper"/>
            </components>
    </feature>
        
    <feature name="core.user.preferences.manager" safe="true">
        <components>
            <component role="org.ametys.core.userpref.UserPreferencesManager"
                       id="org.ametys.core.userpref.UserPreferencesManager"
                       class="org.ametys.core.userpref.UserPreferencesManager"
                       logger="org.ametys.core.userpref.UserPreferencesManager">
                <default-storage-role>org.ametys.core.userpref.DefaultUserPreferencesStorage</default-storage-role>
            </component>
        </components>
    </feature>

    <feature name="core.observation">       
        <components>
            <component role="org.ametys.core.observation.ObservationManager"
                       id="org.ametys.core.observation.ObservationManager"
                       class="org.ametys.core.observation.ObservationManager">
                <!-- Manager for dispatching Event instances to Observers -->
            </component>
        </components>
    </feature>
    
    <feature name="xslt.helpers" safe="true">
        <components>
            <component id="org.ametys.core.util.AmetysXSLTHelper"
                       role="org.ametys.core.util.AmetysXSLTHelper"
                       class="org.ametys.core.util.AmetysXSLTHelper"/>
        </components>
    </feature>
    
    <feature name="core.rights.client-interaction">
        <components>
            <component role="org.ametys.plugins.core.right.UsersClientInteraction"
                       id="org.ametys.plugins.core.right.UsersClientInteraction"
                       class="org.ametys.plugins.core.right.UsersClientInteraction"/>
                       
            <component role="org.ametys.plugins.core.right.ProfilesClientInteraction"
                       id="org.ametys.plugins.core.right.ProfilesClientInteraction"
                       class="org.ametys.plugins.core.right.ProfilesClientInteraction"/>
        </components>
    </feature>
    
    <feature name="core.users" safe="true">

        <components>
        	<component role="org.ametys.plugins.core.user.UserHelper"
                       id="org.ametys.plugins.core.user.UserHelper"
                       class="org.ametys.plugins.core.user.UserHelper"/>
                       
            <component class="org.ametys.plugins.core.user.UserDAO" 
                       role="org.ametys.plugins.core.user.UserDAO" 
                       id="org.ametys.plugins.core.user.UserDAO"/>
        </components>
        
        <extensions>
            <extension point="org.ametys.core.right.RightsExtensionPoint"
                       id="org.ametys.core.users.right">
                <right id="Runtime_Rights_User_Handle">
                    <label>PLUGINS_CORE_RIGHTS_USERS_LABEL</label>
                    <description>PLUGINS_CORE_RIGHTS_USERS_DESCRIPTION</description>
                    <category>PLUGINS_CORE_USERANDRIGHTS_CATEGORY</category>
                </right>
            </extension>
            
            <extension id="org.ametys.core.relations.addusers"
                   point="org.ametys.core.ui.RelationsManager"
                   class="org.ametys.core.ui.StaticClientSideRelation">
                <class name="Ametys.plugins.core.relations.UserGroupRelationHandler">
                    <label i18n="true">PLUGINS_CORE_RELATIONS_ADD_USER_LABEL</label>
                    <description i18n="true">PLUGINS_CORE_RELATIONS_ADD_USER_DESCRIPTION</description>
                    <icon-small file="true">img/users/add_16.png</icon-small>
                    <icon-medium file="true">img/users/add_32.png</icon-medium>
                    <icon-large file="true">img/users/add_48.png</icon-large>
                </class>
                <relations>
                    <source>user</source>
                    <target>group</target>
                </relations>
                <scripts>
                    <file>js/Ametys/plugins/core/relations/UserGroupRelationHandler.js</file>
                </scripts>
            </extension>
        </extensions>
    </feature>
    
    <!-- +
         | GROUPS
         + -->
    <feature name="core.groups">
        <components>
            <component class="org.ametys.plugins.core.group.GroupDAO" role="org.ametys.plugins.core.group.GroupDAO" id="org.ametys.plugins.core.group.GroupDAO"></component>
        </components>
        
        <extensions>
            <extension point="org.ametys.core.right.RightsExtensionPoint"
                       id="org.ametys.core.groups.right">
                <right id="Runtime_Rights_Group_Handle">
                    <label>PLUGINS_CORE_RIGHTS_GROUPS_LABEL</label>
                    <description>PLUGINS_CORE_RIGHTS_GROUPS_DESCRIPTION</description>
                    <category>PLUGINS_CORE_USERANDRIGHTS_CATEGORY</category>
                </right>
            </extension>
        </extensions>
    </feature>
    
    <!-- +
         | PROFILES
         + -->
    <feature name="core.profiles">
        <components>
            <component class="org.ametys.plugins.core.right.profile.ProfileDAO" role="org.ametys.plugins.core.right.profile.ProfileDAO" id="org.ametys.plugins.core.right.profile.ProfileDAO"></component>
        </components>
        
        <extensions>
            <extension point="org.ametys.core.right.RightsExtensionPoint"
                       id="org.ametys.core.profiles.right">
                <right id="Runtime_Rights_Rights_Profile_See">
                    <label>PLUGINS_CORE_RIGHTS_PROFILES_SEE_LABEL</label>
                    <description>PLUGINS_CORE_RIGHTS_PROFILES_SEE_DESCRIPTION</description>
                    <category>PLUGINS_CORE_USERANDRIGHTS_CATEGORY</category>
                </right>
                <right id="Runtime_Rights_Rights_Profile_Handle">
                    <label>PLUGINS_CORE_RIGHTS_PROFILES_LABEL</label>
                    <description>PLUGINS_CORE_RIGHTS_PROFILES_DESCRIPTION</description>
                    <category>PLUGINS_CORE_USERANDRIGHTS_CATEGORY</category>
                </right>
                <right id="Runtime_Rights_Rights_Handle">
                    <label>PLUGINS_CORE_RIGHTS_HANDLE_LABEL</label>
                    <description>PLUGINS_CORE_RIGHTS_HANDLE_DESCRIPTION</description>
                    <category>PLUGINS_CORE_USERANDRIGHTS_CATEGORY</category>
                </right>
            </extension>
        </extensions>
     </feature>
    
    <feature name="runtime.core.datasource.client-interaction" safe="true">
        <components>
            <component role="org.ametys.core.datasource.DataSourceClientInteraction"
                       id="org.ametys.core.datasource.DataSourceClientInteraction"
                       class="org.ametys.core.datasource.DataSourceClientInteraction"/>
        </components>
    </feature>
        
    <!-- +
         | SQL DATA SOURCE 
         + -->  
    <feature name="runtime.core.datasource.sql" safe="true">
        <components>
            <component role="org.ametys.core.datasource.ConnectionHelper"
                       id="org.ametys.core.datasource.ConnectionHelper"
                       class="org.ametys.core.datasource.ConnectionHelper"/>
            
            <component role="org.ametys.core.datasource.SQLDataSourceManager"
                       id="org.ametys.core.datasource.SQLDataSourceManager"
                       class="org.ametys.core.datasource.SQLDataSourceManager"/>
                       
           <component role="org.ametys.core.datasource.dbtype.SQLDatabaseTypeManager"
                       id="org.ametys.core.datasource.dbtype.SQLDatabaseTypeManager"
                       class="org.ametys.core.datasource.dbtype.SQLDatabaseTypeManager"/>
        </components>
    </feature>
    
    <!-- +
         | LDAP DATA SOURCE 
         + -->  
    <feature name="runtime.core.datasource.ldap.manager" safe="true">
        <components>
            <component role="org.ametys.core.datasource.LDAPDataSourceManager"
                       id="org.ametys.core.datasource.LDAPDataSourceManager"
                       class="org.ametys.core.datasource.LDAPDataSourceManager"/>
        </components>
    </feature>
    
    <!-- SQL Table creation -->
    <feature name="runtime.core.sql.userpopulations.init">
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.core.script.userpopulations.SqlTablesInit"
                       class="org.ametys.core.script.SqlTablesInit">
                <datasource type="id">SQL-ametys-internal</datasource>
                <script testTable="UserPopulationsByContext">jdbc_user_populations.sql</script>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.sql.groupdirectories.init">
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.core.script.groupdirectories.SqlTablesInit"
                       class="org.ametys.core.script.SqlTablesInit">
                <datasource type="id">SQL-ametys-internal</datasource>
                <script testTable="GroupDirectoriesByContext">jdbc_group_directories.sql</script>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.sql.users.and.groups.init" safe="true">
    <!-- FIXME InitEP and this feature were temporary set safe for creating admin users SQL table  -->
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.core.script.users.and.groups.SqlTablesInit"
                       class="org.ametys.core.script.SqlTablesInit">
                <datasource type="id">SQL-ametys-internal</datasource>
                <script testTable="Users">jdbc_users_auth.sql</script>
                <script testTable="AdminUsers">jdbc_admin_users.sql</script>
                <script testTable="Groups">jdbc_groups.sql</script>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.sql.profile.init" passive="true">
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.core.script.profile.SqlTablesInit"
                       class="org.ametys.core.script.SqlTablesInit">
                 <datasource type="config">runtime.rights.datasource</datasource>
                <script testTable="Rights_Profile">profile_rights.sql</script>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.sql.userprefs.init" passive="true">
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.core.script.userprefs.SqlTablesInit"
                       class="org.ametys.core.script.SqlTablesInit">
                <datasource type="config">runtime.usersprefs.datasource</datasource>
                <script testTable="UserPreferences">user_prefs.sql</script>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.sql.loginform.init">
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.core.script.loginform.SqlTablesInit"
                       class="org.ametys.core.script.SqlTablesInit">
                <datasource type="config">runtime.login.form.datasource</datasource>
                <script testTable="Users_FormConnectionFailed">users_form_failed_connection.sql</script>
                <script testTable="UsersToken">users_token.sql</script>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.login.form">
        <config>
            <param-ref id="runtime.login.form.datasource" />
        </config>
    
        <components>
            <component role="org.ametys.plugins.core.authentication.LoginFormManager"
                       id="org.ametys.plugins.core.authentication.LoginFormManager"
                       class="org.ametys.plugins.core.authentication.LoginFormManager"
                       logger="org.ametys.plugins.core.authentication">
                <datasource type="config">runtime.login.form.datasource</datasource>
                <sqlMap resource="/org/ametys/plugins/core/authentication/login-form-manager.xml" />
            </component>
        </components>
    </feature>
    
    <feature name="runtime.core.resources-handler" safe="true">
        <extensions>
            <extension point="org.ametys.core.cocoon.ResourceHandlerExtensionPoint"
                       id="org.ametys.core.cocoon.DefaultResourceHandler"
                       class="org.ametys.core.cocoon.DefaultResourceHandler"
                       logger="org.ametys.core.cocoon.DefaultResourceHandler">
            </extension>

            <extension point="org.ametys.core.cocoon.ResourceHandlerExtensionPoint"
                       id="org.ametys.core.cocoon.ImageResourceHandler"
                       class="org.ametys.core.cocoon.ImageResourceHandler"
                       logger="org.ametys.core.cocoon.ImageResourceHandler">
                <suffixes>
                    <suffix>.jpg</suffix> 
                    <suffix>.jpeg</suffix> 
                    <suffix>.png</suffix> 
                    <suffix>.gif</suffix> 
                </suffixes>
            </extension>

            <extension point="org.ametys.core.cocoon.ResourceHandlerExtensionPoint"
                       id="org.ametys.core.cocoon.I18nTextResourceHandler"
                       class="org.ametys.core.cocoon.I18nTextResourceHandler"
                       logger="org.ametys.core.cocoon.I18nTextResourceHandler">
                <suffixes>
                    <suffix>.js</suffix>
                </suffixes>
            </extension>
        </extensions>
    </feature>
    
    <feature name="runtime.core.scheduler">
        <config>
            <param-ref id="runtime.scheduler.datasource"/>
        </config>
        <components>
            <component class="org.ametys.plugins.core.schedule.Scheduler" 
                       role="org.ametys.plugins.core.schedule.Scheduler" 
                       id="org.ametys.plugins.core.schedule.Scheduler"/>
        </components>
        <extensions>
            <extension point="org.ametys.runtime.plugin.InitExtensionPoint"
                       id="org.ametys.plugins.core.schedule.SchedulerInit"
                       class="org.ametys.plugins.core.schedule.SchedulerInit"/>
        </extensions>
    </feature>
    
</plugin>
