.actions-panel {
	margin-bottom: 15px;
	width: 237px;
}

.actions-panel-header {
	background: url(../img/leftbox_top.gif) top left no-repeat !important;
	font-size : 0.8em !important;
	text-transform: uppercase !important;
	text-align: right;
	padding: 14px 23px 0px 0px !important;
	height: 26px;
	color: #892E76 !important;
	border: none !important;
}

.actions-panel-body {
	background: url(../img/leftbox_bg.gif) top left no-repeat !important;
	border: none !important;
	font-size : 0.9em !important;
	padding: 0 7px 6px 7px;
}

.actions-panel-body .action-item {
	height: 26px;
	padding: 0px 0 0 16px;
	background: none !important;
}

.actions-panel-body .action-item a {
	color: #404040 !important;
	text-decoration: none;
	padding-top: 5px;
	display: block;
}

.actions-panel-body .action-item a:hover {
	color: #892E76 !important;
}

.actions-panel-body .action-item img {
	margin-right: 12px;
	float: left;
}

.actions-panel-footer {
	background: url(../img/leftbox_bottom.gif) top left no-repeat !important;
	height: 7px;
}

.text-panel {
	margin-bottom: 15px;
	width: 237px;
}

.text-panel-header {
	background: url(../img/leftbox_top.gif) top left no-repeat !important;
	text-transform: uppercase !important;
	text-align: right;
	font-size : 0.8em !important;
	padding: 14px 23px 0px 0px !important;
	height: 26px;
	color: #858D92 !important;
	border: none !important;
}

.text-panel-body {
	background: url(../img/leftbox_bg.gif) top left no-repeat !important;
	border: none !important;
	font-size : 0.9em !important;
	padding: 0px 23px 12px 23px;
	color: #404040 !important;
}

.text-panel-footer {
	background: url(../img/leftbox_bottom.gif) top left no-repeat !important;
	height: 7px;
}

.text-panel-content div {
	background : none !important;
}

.navigation-panel {
	margin-bottom: 15px;
	width: 237px;
}

.navigation-panel-header {
	background: url(../img/leftbox_top.gif) top left no-repeat !important;
	font-size : 0.7em !important;
	text-transform: uppercase !important;
	text-align: right;
	padding: 14px 23px 0px 0px !important;
	height: 26px;
	color: #1C58A0 !important;
	border: none !important;
	
}

.navigation-panel-body {
	background: url(../img/leftbox_bg.gif) top left no-repeat !important;
	border: none !important;
	padding: 0 7px 0 7px;
}

.navigation-panel-footer {
	background: url(../img/leftbox_bottom.gif) top left no-repeat !important;
	height: 7px;
}

.navigation-item {
	height: 23px;
	padding: 5px 0 0 16px;
}

.navigation-item button.navigation-item-button {
	color: #404040 ;
}

.navigation-item.x-btn-pressed {
	background: url(../img/leftbox_item-over.gif) top left repeat-x;
}

.navigation-item.x-btn-pressed button.navigation-item-button {
	color: #1C58A0 !important;
}

.navigation-item.x-btn-over {
	color: #1C58A0 !important;
	background: url(../img/leftbox_item-over.gif) top left repeat-x;
}

.transparent-panel-body {
	background: none !important;
}